.alerts-area
  margin: 0
  padding: 0
  height: 0
  width: 40%
  min-width: 220px
  max-width: 400px
  border: 0
  overflow: visible
  position: absolute
  top: navbar-height
  left: 65px
  color: #fff
  z-index: 1000
  
  .alert
    margin: 1px 0
    padding: 1px 26px 1px 4px
    border-width: 2px
  
  .alert-rm-success
    border-color: #2c7e2c
    background-color: #4c984c
  
  .alert-rm-info
    border-color: #2688aa
    background-color: #5bc0de
  
  .alert-rm-warning
    border-color: #be7216
    background-color: #f0ad4e
  
  .alert-rm-danger
    border-color: #a41f1a
    background-color: #d9534f
