.angular-google-map-container
    height: 100%
    width: 100%
    position: absolute
    bottom: 0
    background: #e3e1de

.middle
    display: table
    width: 50%
    margin-left: auto
    margin-right: auto

/*
Use bootstraps container w/ some overrides, nice thing about this on bootstrap is there is
psuedo element with clearfix and display: table; , all after (which is why I know .middle works above)
*/

.full-width.container
    width: 100%
    padding-left: 0
    padding-right: 0

/*
http://stackoverflow.com/questions/1554893/google-maps-api-v3-infowindow-not-sizing-correctly
*/
.gm-style-iw
  overflow: auto !important
  max-width:300px
  max-height:175px

.gm-style-iw > div
  overflow: auto !important
  max-width:300px
  max-height:175px
