.angular-google-map-container
    height: 100%
    width: 100%
    position: absolute

.middle
    display: table
    width: 50%
    margin-left: auto
    margin-right: auto

/*
Use bootstraps container w/ some overrides, nice thing about this on bootstrap is there is
psuedo element with clearfix and display: table; , all after (which is why I know .middle works above)
*/
.container
    width: 100%
    padding-left: 0
    padding-right: 0


/*
http://stackoverflow.com/questions/1554893/google-maps-api-v3-infowindow-not-sizing-correctly
*/
// .gm-style-iw > div
//   font-family: sans-serif !important;
//   font-weight: normal !important;
//   overflow: auto;

.gm-style
    line-height:normal;
