.places-search
    position: absolute
    top: 0
    left: 0
    width: 100%
    overflow-x: visible
    overflow-y: hidden
    .search-controls
        position: relative
        margin: 5px auto
        width: 600px
        #searchbox-container .places-search-input
            width: 100%
            font-size: 20px
        a.close-button
            position: absolute
            display: block
            cursor: pointer
            top: 0
            right: 0
            width: 34px
            height: 34px
            img
                position: absolute
                top: 3px
                right: 3px
                width: 28px
                height: 28px
                opacity: .5
