/* Toolbar
============================================================================= */

.toolbar
  position: absolute
  text-align: left
  width:40px
  box-shadow: 2px 2px 6px rgba(0,0,0,.4)

.toolbar-layer-icon, .toolbar-location-icon, .toolbar-results-icon, .toolbar-filters-icon, .toolbar-zoomin-icon, .toolbar-zoomout-icon
  width: 40px
  height: 40px
  position: relative
  cursor: pointer
  background: white
  fill: rgb(75, 84, 107)
  background:#FFF

.toolbar svg
  width:40px
  display: block
  margin: 0 auto

.toolbar-layer-icon:hover, .toolbar-location-icon:hover, .toolbar-results-icon:hover, .toolbar-filters-icon:hover, .toolbar-zoomin-icon:hover, .toolbar-zoomout-icon:hover
  background: #0062A0
  fill: #FFF
  color: #FFF

.toolbar-layer-svg, .toolbar-results-svg ,.toolbar-location-svg
  position: absolute
  top: 50%
  left: 50%
  margin-top: -16px
  margin-left: -16px

.toolbar-label
  display: none


@media (min-width: 768px)
    .toolbar
      width: 70px

    .toolbar-layer-icon, .toolbar-location-icon, .toolbar-results-icon, .toolbar-filters-icon, .toolbar-zoomin-icon, .toolbar-zoomout-icon
      width:  70px
      height: 70px
      padding-top:2px;

    .toolbar-label
      display:block
      text-align: center