.container.login-page(ng-show="!loginInProgress")
  .centered
    .row
      .logo.center-block
        img(src="/assets/logo.png")
    .row
      .col-md-4.col-md-offset-4
        form.comfy(method="POST", ng-submit="doLogin()")
          .form-group
            label(for="email") Email:
            input#username(type="email" name="email" ng-model="form.email")
          .form-group
            label(for="password") Password:
            input#password(type="password" name="password" ng-model="form.password")
          .row.form-group
            .col-md-6
              input(type="submit",value="Log In")
            .col-md-6.checkbox-replace
              input#remember_me(type="checkbox" name="remember_me" ng-model="form.remember_me")
              label(for="remember_me") Keep me logged in
