#burgericon
  float left
  position relative
  width 44px
  height 44px
  display none
  cursor pointer
  color $rm-menu-icon

  &:hover
    color $rm-menu-icon

  @media mobile
    display block

  i
    margin: 10px 0 0 5px;
    font-size: 25px;

#closeicon
  position: absolute;
  right: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  color $rm-menu-icon

  &:hover
    color $rm-menu-icon

  i
    margin: 10px 5px 0 0;
    font-size: 25px;
