#burgericon
  float left
  position relative
  width 44px
  height 44px
  //display none
  cursor pointer
  color $rm-menu-icon

  &:hover
    color $rm-menu-icon

  i
    margin: 10px 0 0 5px;
    font-size: 25px;
