/*Bootstraps breakpoints*/

xs-1      = 767px

xs        = 768px

s-1       = 991px

s         = 992px

md-1      = 1199px

md        = 1200px

//xs
//@media (max-width: xs-1)

//s
//@media (min-width: xs), (max-width: s-1)

//md
//@media (min-width: s), (max-width: md-1)

//lg
//@media (min-width: md)

/*Mobiler right padding when menu is opened */

mobileNavOffset = 60px;