.errors
  margin 0
  a
    color #aaa
    cursor pointer
    &:hover
      color $white
    &:active
      text-decoration: none

  .row.stack-row .stack
    line-height: 20px

  .container
    margin 0
    width 96%

  .opts
    display table

  .row
    >*
      height 100%
      line-height 2em
    .vert-scroll
      overflow-y auto
      height 3em
    .break-all
      word-break break-all

  .parent
    font-size 115%

  .details
    overflow: scroll
    display block
    padding-top 9px
    width: 100%
    pre
      border 0
      padding 0
      margin 0

  .error
    .parent
      height 50px
      cursor pointer
      padding-top 9px

  .badge
    border-radius 3px
    background-color $gray_lightest !important
    color $gray_darkest

  .heading
  .parent:hover
    font-weight bold

  .table-striped-pair
    .error
      border-left 3px solid $dark_blue_darker
      border-right 3px solid $dark_blue_darker
      *:not(.btn):not(.fa)
        background-color transparent
      &:nth-child(even)
        background-color $gray_darker
      &:nth-child(odd)
        background-color $gray_darkest
      &.expanded
        border-top 3px solid
        border-bottom 3px solid
        border-color: $light_blue_lighter
        border-radius: 4px
        .parent
          background-color: $light_blue
      pre.details-scroll
        width: auto
        color: $white
        overflow-x: scroll
        overflow-y: hidden
        position: relative
        top: -15px
        .unimportant
          color: #bbb
        .stack-row
          border-radius: 4px
          &.padding
            padding: 0 10px
          a .source-text
            font-weight bold
            color: $white
          &.linked:hover
            cursor: pointer
            background-color: $gray_medium
            a .source-text
              text-decoration underline
          .linked:hover
            cursor: pointer
            background-color: $gray_medium
            a .source-text
              text-decoration underline

  *[disabled]
    text-decoration line-through
    pointer-events none

  .handled-button
    margin-top: -2px
