// /* Hero Container
// ============================================================================= */
// .heroContainer
//     height 350px
//     a
//         display: block
//         cursor: pointer
//         $border-radius(25px)
//         &:hover
//             text-decoration: none
//             background-color: rgba(220,220,255,.1)
//             .heroText
//                 color: #FFF

// .heroImage
//     width 100%
//     display block



// .heroImage img
//     width 100%

// .heroText
//     font-weight 100
//     font-size 15px
//     text-align center
//     letter-spacing .2em
//     margin 1.1363636363636365em 0 0 0
//     color rgba(255, 255, 255, 0.51)

// @media (min-width: 768px)
//     .heroContainer
//         width 80%;

//     .heroText
//         font-size 20px

// @media (min-width: 1200px)
//     .heroContainer
//         width 55%

//     .heroText
//         font-size 22px
