.jobs
  position absolute
  left 0
  width 100%
  padding 1%

  .jobs-grid
    color black
    width 1200px
    height 500px

  .numberCell
    text-align: right

  .ui-grid-footer-cell
    padding 5px
