.jobs
  position absolute
  left 0
  width 100%
  padding 1%

  .menu
    width 150px

  .ui-grid
    margin 20px 0
    color black

  .summary-grid
    width 1100px
    height 200px

  .jobs-grid
    color black
    width 1100px
    height 400px

  .numberCell
    text-align: right

  .ui-grid-footer-cell
    padding 5px

  .json-input
    position fixed
    width 600px
    height 200px
    font-family "courier new"
    z-index 5

  .ng-invalid-json
    background-color #fdd