.jobs
  position absolute
  left 0
  width 100%
  padding 1%

  .ui-grid
    margin 20px 0
    color black

  .summary-grid
    width 1200px
    height 200px

  .jobs-grid
    color black
    width 1200px
    height 400px

  .numberCell
    text-align: right

  .ui-grid-footer-cell
    padding 5px
