form
  label[for=remember_me]
    margin-top: 5px

.login-page
  height 350px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  position: absolute
  width: 100%

.copyright
  margin-top: 50px
  color: grey

.logo
  height: $logoHeight
  width: @height
  overflow: hidden
