$wizardPaneWidth = 100px
$wizardPaneHeight = 200px

.data-entry
  font-size: 16px
  font-weight: normal
  padding-left: 10px

.data-label
  font-size: 16px
  font-weight: bold
  text-align: left;

.panel
  border-radius 10px

.panel > .panel-heading
  background-color rm-medium-blue
  border none
  font-size 14px
  border-top-right-radius 10px
  border-top-left-radius 10px
  padding 5px 10px

.panel > .panel-body
  background-color white
  color #000
  padding 5px
  font-size 12px
  border-bottom-right-radius 10px
  border-bottom-left-radius 10px
  border 1px solid rgb(157,157,157)
  
.mls-wizard, .slide-content
  height: 200px;
    
.mls-wizard .slide-content
  text-align: center;
  margin: auto;
  
.mls-wizard .slide-content table
  margin: auto;



.animate-show {
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

