body
  overflow auto

.normalize-container
  width 100%

.mls-select
  select
    margin 1em

.page
  position relative
  top 0

.panel
  border-radius 0
  height 500px
  border-bottom 1px solid gray

  .panel-body
    background-color white
    color black
    padding 5px
    font-size 12px
    border-radius 0
    border 0

.field, .category
  border 2px solid transparent
  margin 3px
  overflow hidden
  text-overflow ellipsis
  display inline-block
  padding 6px 12px
  margin-bottom 0
  text-align center
  white-space nowrap
  cursor pointer
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  border-radius 4px

  .datatype
    margin-left 1em
    color black
    background-color white
    padding 3px
    border-radius 10px
    font-size 75%
    opacity 0.8

    &.datatype-string:before
      padding 1em
      content: "abc"
    &.datatype-number:before
      padding 1em
      content "123"
    &.datatype-yn:before
      padding 1em
      content "yes/no"
    &.datatype-date:before
      padding 1em
      content "date"

.field
  display block
  text-align left

  color #fff
  background-color #5bc0de
  border-color #46b8da

.category
  display inline-block
  vertical-align top
  width 30%
  min-height 4em

  color #fff
  background-color #f0ad4e
  border-color #eea236

.field-container, .category-container
  border 2px solid transparent
  overflow-y scroll
  height 450px

.properties-container
  height: auto
  padding-bottom 1em
  color black
  .row
    min-height 30px
  input
    width 90%

h4
  color black

.category.rmaps-drop-target
  border: 2px dashed #888

.rmaps-drag-over
  -webkit-filter invert(20%)
  filter invert(20%)

.transform
  width 100%

