select, input
  margin 1em

.page
  position relative

.panel
  border-radius 0
  height 500px
  overflow-y scroll


  .panel-heading
    background-color rm-medium-blue
    border none
    font-size 14px
    border-top-right-radius 0
    border-top-left-radius 0
    padding 5px 10px

  .panel-body
    background-color white
    color black
    padding 5px
    font-size 12px
    border-bottom-right-radius 0
    border-bottom-left-radius 0
    border 0

.field, .category-container
  z-index 3
  display block
  margin 3px
  overflow hidden
  .btn
    overflow hidden
    z-index 3
    text-align left
    width 100%

.field-container
  margin: 1em
  background-color: #eee
  z-index 2
  display inline-block
  overflow-y scroll
  height: 100%
  margin: 5px
  float left
  overflow-x hidden