select, input
  margin 1em

.page
  position relative

.panel
  border-radius 0
  height 500px

  .panel-heading
    background-color rm-medium-blue
    border none
    font-size 14px
    border-top-right-radius 0
    border-top-left-radius 0
    padding 5px 10px

  .panel-body
    background-color white
    color black
    padding 5px
    font-size 12px
    border-bottom-right-radius 0
    border-bottom-left-radius 0
    border 0

.field, .category
  display block
  margin 3px
  .btn
    text-align left
    width 100%

.field-container
  display inline-block
  overflow-y scroll
  height: 100%
  float left
  top 0
  left 0
  width 25%

.category-container
  display inline-block
  overflow-y scroll
  height: 100%
  float right
  top 0
  right 0
  width 75%
