
// *****************************************************************************************
// * When changing this file, look at normalize.jade for possible redundant changes needed *
// *****************************************************************************************


.county.normalize-container

  .row.mls-select
    .col-md-4 Select {{countyData.dataSourceType.name}} Source
      select(ng-model="countyData.current" ng-options="value.name + ' (' + value.id + ')' for value in countyConfigs" ng-change="selectCounty()")
        option(value="" disabled)
      .btn.btn-primary.reload(ng-click="getCountyList()")
        img(src="../../assets/reload-arrow.png" width="10" height="10")
    .col-md-3 Select List Type
      select(ng-model="countyData.dataListType" ng-options="value.name for value in dataListTypes" ng-change="selectCounty()")
    .col-md-5

  .row.panel(cg-busy="countyLoading" ng-show="countyData.current && countyData.dataListType")
    .row
      input(ng-model="rootSearchText" placeholder="Search All")
    .row
      .close-icon(ng-click="showGrid=!showGrid" tooltip="Grid view") ☰

      include ../../includes/dataSource/baseFieldsColumn.jade
      .col-md-2.list-container
        h4 {{countyData.dataSourceType.name}}, {{countyData.dataListType.name}}
        include ../../includes/dataSource/dataSourceFieldsColumn.jade
      include ../../includes/dataSource/groupsColumn.jade
      include ../../includes/dataSource/groupContentsColumn.jade
      include ../../includes/dataSource/groupsGrid.jade

  .row.panel.properties-container(ng-show="fieldData.current")

    .close-fieldData-icon(ng-click="fieldData.current = null") X

    div(ng-show="fieldData.current.list == 'base'")
      include ../../includes/dataSource/fieldConfig/common/baseGeneric.jade
      include ../../includes/dataSource/fieldConfig/common/address.jade
      include ../../includes/dataSource/fieldConfig/county/data_source_uuid.jade
      include ../../includes/dataSource/fieldConfig/county/name.jade
      include ../../includes/dataSource/fieldConfig/county/fips.jade
      include ../../includes/dataSource/fieldConfig/county/rm_property_id.jade
      include ../../includes/dataSource/fieldConfig/common/year_built.jade
      include ../../includes/dataSource/fieldConfig/common/bathrooms.jade
      include ../../includes/dataSource/fieldConfig/common/boolean.jade
      include ../../includes/dataSource/fieldConfig/common/decimal.jade

    .col-md-12.scroll(ng-if="fieldData.current.list != 'base'")
      include ../../includes/dataSource/fieldConfig/common/nonBase.jade

    include ../../includes/dataSource/fieldConfig/county/lookups.jade
    include ../../includes/dataSource/fieldConfig/common/lookups.jade
    include ../../includes/dataSource/fieldConfig/common/datetime.jade
    include ../../includes/dataSource/fieldConfig/common/advanced.jade
