
// **************************************************************************************
// * When changing this file, look at county.jade for possible redundant changes needed *
// **************************************************************************************


.normalize.normalize-container

  .row.mls-select
    .col-md-4
      .row Select MLS
        select(ng-model="mlsData.current" ng-options="value.name + ' (' + value.id + ')' for value in mlsConfigs" ng-change="selectMls()")
          option(value="" disabled)
        .btn.btn-primary.reload(ng-click="getMlsList()")
          img(src="../../assets/reload-arrow.png" width="10" height="10")
    .col-md-3
      .row
        .col-md-4
          button(ng-click="dlCSV(csv.getUrl(csv.rowCount))" ng-disabled="!mlsData.current.id").btn.btn-primary.header-button Download CSV
        .col-md-4
          input(type="text" ng-model="csv.rowCount" uib-tooltip="Number of records in CSV" ng-disabled="!mlsData.current.id").form-control.download-csv-input
    .col-md-3
      .row
        span.dropdown.btn-group(dropdown)
          button.btn.btn-primary.header-button(uib-dropdown-toggle) Global Rules
          div.dropdown-menu.scroll.global-rules(dropdown-menu ng-click="$event.stopPropagation()")
            .row
              .col-md-4 Remove String
              .col-md-8
                input(type="text" ng-model="mlsData.current.data_rules.nullString" ng-change="updateDataRules()" placeholder="example: ***")

    .col-md-2

  .row.panel(cg-busy="mlsLoading" ng-show="mlsData.current")
    .row
      input(ng-model="rootSearchText" placeholder="Search All")
    .row
      .close-icon(ng-click="showGrid=!showGrid" uib-tooltip="Grid view") ☰

      include ../../includes/dataSource/baseFieldsColumn.jade
      .col-md-2.list-container
        h4 MLS
        include ../../includes/dataSource/dataSourceFieldsColumn.jade
      include ../../includes/dataSource/groupsColumn.jade
      include ../../includes/dataSource/groupContentsColumn.jade
      include ../../includes/dataSource/groupsGrid.jade

  .row.panel.properties-container(ng-show="fieldData.current")

    .close-fieldData-icon(ng-click="fieldData.current = null") X

    div(ng-show="fieldData.current.list == 'base'")
      include ../../includes/dataSource/fieldConfig/common/baseGeneric.jade
      include ../../includes/dataSource/fieldConfig/common/address.jade
      include ../../includes/dataSource/fieldConfig/common/lotArea.jade
      include ../../includes/dataSource/fieldConfig/mls/days_on_market.jade
      include ../../includes/dataSource/fieldConfig/mls/fips.jade
      include ../../includes/dataSource/fieldConfig/mls/rm_property_id.jade
      include ../../includes/dataSource/fieldConfig/common/year_built.jade
      include ../../includes/dataSource/fieldConfig/common/bathrooms.jade
      include ../../includes/dataSource/fieldConfig/common/boolean.jade
      include ../../includes/dataSource/fieldConfig/common/decimal.jade

    .col-md-12.scroll(ng-show="fieldData.current.list != 'base'")
      include ../../includes/dataSource/fieldConfig/common/nonBase.jade

    include ../../includes/dataSource/fieldConfig/mls/lookups.jade
    include ../../includes/dataSource/fieldConfig/common/datetime.jade
    include ../../includes/dataSource/fieldConfig/common/advanced.jade
