extends ../_layout

block customHead
  title customHead Admin
  meta(name='description', content='RealtyMaps Admin')

block content
  .realtymaps-main(ui-view='')
  script(type='application/javascript', src='#{paths.destFull.webpack.admin.filename}')
