extends ../_layout

block customHead
  link(rel='stylesheet', href='styles/admin.css')
  title Admin
  meta(name='description', content='RealtyMaps Admin')

block content
  .realtymaps-main(ui-view='')
  script(type='application/javascript', src='#{paths.destFull.bundle.admin}')
