include ../includes/navbar.jade

.full-width.container
  include ../views/search.jade
  div(ng-repeat="state in $state.get() | filter:{parent: 'main'}", ui-view="{{state.name}}", class="{{pageClass}}", ng-show="$state.includes(state.name)" ).page.ng-hide

include ../includes/alerts.jade
