div(role="navigation").navbar.navbar-inverse.navbar-fixed-top
  .full-width.container
    .navbar-header
      button(type="button",data-toggle="collapse",data-target=".navbar-collapse").navbar-toggle
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="{{frontendRoutes.index}}", ng-hide="hide-nav").navbar-brand
        img(src="/assets/logo.png")
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-hide="hide-nav")
          a(href="{{frontendRoutes.map}}") Map
        li(ng-hide="principal.isAuthenticated()").navbar-right
          a(href="{{frontendRoutes.login}}") Sign In
        li.navbar-right.ng-hide(ng-show="principal.isAuthenticated()")
          a(href="{{frontendRoutes.logout}}") Sign Out
.full-width.container
  div(class="{{pageClass}}", ng-show="$state.is('main')" ).page.ng-hide
    section
      .heroContainer
        .heroImage
          img(src="../../assets/logo.png")
        .heroText
          | Search &nbsp;| &nbsp; Map &nbsp;| &nbsp; Share &nbsp;| &nbsp; Communicate
        #search-bar-main
          input(id="target", placeholder="Enter a city, address, neighborhood etc...", type="text")/
          a(href="{{frontendRoutes.map}}")
          #btn
          | Go
  div(ui-view="map", class="{{pageClass}}", ng-show="$state.includes('map')" ).page.ng-hide
  div(ui-view="login", class="{{pageClass}}", ng-show="$state.includes('login')" ).page.ng-hide
  div(ui-view="logout", class="{{pageClass}}", ng-show="$state.includes('logout')" ).page.ng-hide
  div(ui-view="accessDenied", class="{{pageClass}}", ng-show="$state.includes('accessDenied')" ).page.ng-hide
  div(ui-view="pageNotFound", class="{{pageClass}}", ng-show="$state.includes('pageNotFound')" ).page.ng-hide
