<section>

	            <div class="heroContainer">
                <div class="heroImage"><img src=
                "../../assets/logo.png"></div>
                <div>
                    <div class="heroText">
                        Search &nbsp;| &nbsp; Map &nbsp;| &nbsp; Share &nbsp;| &nbsp; Communicate
                    </div>
                </div>

                <div id="search-bar-main">
                    <input id="target" placeholder="Enter a city, address, neighborhood etc..."
                    type="text">

                    <a href="#map"><div id="btn">
                        <div>Go</div>
                    </div></a>
                </div>
            </div>

</section>