section(ng-cloak)
  include ../includes/map.jade
  include ../includes/details-tray.jade
  include ../includes/results-tray.jade
  include ../includes/filters-tray.jade
  include ../includes/map-toolbar.jade
