<section>

    <ui-gmap-google-map
            center="map.center"
            zoom="map.zoom"
            draggable="true"
            dragging="map.dragging"
            bounds="map.bounds"
            events="map.events"
            options="map.options"
            pan="true"
            control="map.control"
            options="map.options"
            >
        <ui-gmap-layer type="TrafficLayer" show="map.showTraffic"></ui-gmap-layer>
        <ui-gmap-layer type="BicyclingLayer" show="map.showBicycling"></ui-gmap-layer>
        <ui-gmap-layer namespace="weather" type="WeatherLayer" show="map.showWeather"></ui-gmap-layer>

        <ui-gmap-marker ng-repeat="m in map.markers" coords="m" options="m.options" events="m.events" idKey="m.id">
        </ui-gmap-marker>

        <ui-gmap-polygon ng-repeat="p in map.polygons track by p.id" path="p.path"
                         stroke="p.stroke" visible="p.visible"
                         geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable"
                         draggable="p.draggable"></ui-gmap-polygon>
    </ui-gmap-google-map>

</section>