<section ng-cloak>
include ../includes/map.jade
include ../includes/toolbar.jade
include ../includes/details-tray.jade
include ../includes/results-tray.jade
include ../includes/filters-tray.jade
</section>
