section
  .starter-template
    h1 Page not found.
    p Sorry, but the page you were trying to view does not exist.
    p It looks like this was the result of a mistyped address or an out-of-date link.
