.mls-config-modal
  .panel.panel-default
    .panel-heading
      h3 Change MLS Server Password
    .panel-body
      table
        tr
          td
            label.data-label New Password:
          td
            input(type="password" ng-model="newpassword" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg

      button(ng-click="ok()").btn.btn-success Save
      button(ng-click="cancel()").btn.btn-danger Cancel
