.note-mixin
  width 100%
  .content
    width 100%

  .note-address
    color $text_gray_lightest
    margin 0 0 10px 0

  .author
    @extends .font-museo-700
    font-size 14px
    margin 10px 0 10px 0
    display block

  .text
    font-size 14px
    color $text_gray
    // margin 0 0 10px 0
    width 100%
    height 100%
    white-space pre-wrap

.notes-list
  .note-mixin
    height 100%

  ul
    height 100%
  li
    height 100%

    .content
      height 100%

      .text
        max-height 400px
        width 360px
        overflow hidden
        &.large
          min-height 150px

.notes-popup
  padding 10px
  max-height 400px
  overflow auto
  .content
    .text
      max-height 400px
      &.large
        width 400px

$fnMakeMapNotes()
  .notes-list
    ul
      li
        > div
          min-height 85px
          overflow hidden
          padding 10px
          position relative
          &:hover
          &.active
          &.focus
            background-color $light_blue_select

    .enity
      width 100%
      height 100%
      display table
      position relative
      float left
      margin-right 32px
      .circle-nr
        display table-cell
        padding 5px
        span
          background-color $black
          border-radius 500px
          color $white
          display block
          font-size 10px
          font-weight bold
          height 20px
          line-height 20px
          text-align center
          width 20px
      .content
        display table-cell
        // padding 5px

        .author
          @extends .font-museo-700
          font-size 12px
          margin 0 0 10px 0

        .text
          font-size 12px
          color $text_gray

        .comment
          display block
          clear both
          a
            text-decoration underline
            background transparent
            font-size 12px
            padding 0
            &:hover
            &:focus
            &:active
              color $light_blue
        .sketch
          background-color $pastel_blue
          border 1px solid $light_blue
          padding 5px
          border-radius 5px
          float left
          margin 0 0 10px 0
          cursor pointer
          width: 100%;
          .action
            font-size 10px
            float left
            line-height 20px
          .icon
            color $light_blue
            font-size 20px
            float left
            margin 0 10px 0 0
    span.actions
      position absolute
      top 10px
      right 10px
      text-align center
