@import "../../common.styl"

.mobile-header-right
  .settings-header-button
    margin-right: 5px;
    padding-right: 15px;
    border-right: solid 1px $rm-header_separators

.settings-modal-mobile
  height: 100%;
  width: 100%;

  .list
    padding-bottom: 42px; // account for scrolling over the footer button
    width: 100%;

  .item.settings-row
    $fnClearfix()
    padding: 16px 37px;
    width: 100%
    background-color: white;

  .button-action
    height: 55px;

  .settings-header
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: $rm-mobile-settings-header-color;

  .settings-value
    font-size: 15px;
    color: $rm-mobile-settings-value-color;
    text-align: center;

  .settings-label
    text-align: center;
    font-size: 18px;
    color: $rm-mobile-settings-label-color;

  .settings-left
    float: left;
    z-index: 1;
    position: relative;

  .settings-center
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;

  .settings-right
    float: right;
    text-align: right;
    z-index: 1;
    position: relative;

  .settings-button
    @extend .btn.btn-white
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background-color: white;

  .settings-apply
      margin-bottom: 0

  .settings-slider
    rzslider
      margin: 25px 0 15px 0;

    .rz-bubble
      display: none;

    .rz-bar-wrapper
      padding-top: 10px;

    .rz-bar
      height: 12px;
      background-color: $rm-slider-bar-color;

      &.rz-selection
        background-color: $rm-slider-bar-selected-color;

    .rz-pointer
      width: 23px;
      height: 28px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      background-color: white;
      border: solid 1px $rm-slider-handle-color;

      &:hover
        background: $rm-slider-bar-selected-color;

    .rz-pointer:after
      display: none;

    .settings-slider-handle
    .settings-slider-handle:before
    .settings-slider-handle:after
      background-color: $rm-slider-handle-color;
      width: 2px;
      height: 12px;
      content: '';

    .settings-slider-handle
      position: relative;
      margin-left: 9px;
      margin-top: 7px;

      &:before
        position: absolute;
        right: 4px;

      &:after
        position: absolute;
        left: 4px;
