$fnMakeMapSettings()
  .settings-tool

    .desktop-only
      margin-left 10px

    .icon-settings
      display: block
      padding: 10px
      margin: -10px

    .settings-popover
      display: block
      width: 460px
      height: 475px
      position: relative
      overflow: visible
      margin: 0
      z-index $rm-modal-header-zindex + 1
      @extends .no-animation
      &.showAdvanced
        width 920px

    .settings-list

      &.open
        + .popover,
        + .popover *
          display: none !important
          overflow: hidden !important
          height: 0 !important
          width: 0 !important
          border: none !important

        .toggle-active
          .icon
            color $white !important

          &:before
            opacity 1
            transform scale(1)

      > .popover
        @extends .fallDown
        left: 0 !important
        box-shadow: none
        padding: 0
        .arrow
          left: 435px
          z-index: $rm-modal-header-zindex + 2
          &::after
            border-bottom-color: $dark_white
        .popover-content
          padding: 0

    .fixed-header
      margin 0
      .results-btn
        min-width 45px
      .title-right
        width 460px
        text-align right

    ul
      padding 10px 20px 0
      list-style none
      display inline-block
      vertical-align top

      li
        border none
        margin-bottom 10px

        .label
          font-weight normal
          color $black
          font-size 14px
          line-height 2

        .label:first-child
          text-align left

        input, label, select
          color $black

        label
          &.active
          &:hover
            color $white
          &.active
            font-weight bold


    .basic, .advanced
      width 460px
      background-color $white

    ul.property-status
      display flex
      justify-content space-between
      list-style none
      padding 0
      margin 0 -3px
      > li
        margin 0
        .btn-forsale
        .btn-pending
        .btn-sold
          height auto
          font-size 12px
          font-weight bold
          width 80px
        .btn-sold
          width 65px


    .settings-slider

      rzslider
        margin: 16px 0 16px

      .rz-bubble
        display: none;

      .rz-bar-wrapper
        padding-top: 10px;

      .rz-bar
        height: 12px;
        background-color: $rm-slider-bar-color;

        &.rz-selection
          background-color: $rm-slider-bar-selected-color;

      .rz-pointer
        width: 18px;
        height: 23px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: white;
        border: solid 1px $rm-slider-handle-color;
        margin-top 2px

        &:hover
          background: $rm-slider-bar-selected-color;

      .rz-pointer:after
        display: none;

      .settings-slider-handle
      .settings-slider-handle:before
      .settings-slider-handle:after
        background-color: $rm-slider-handle-color;
        width: 2px;
        height: 12px;
        content: '';

      .settings-slider-handle
        position: relative;
        margin-left: 7px;
        margin-top: 4px;

        &:before
          position: absolute;
          right: 4px;

        &:after
          position: absolute;
          left: 4px;

    .slider-label
      margin-left: -15px


    .datepicker-widget

      li
        padding: 10px 0 0 !important

      .btn.btn-info
        background-color: $light_blue

      table
        &:focus
          outline: none
        th .btn[disabled="disabled"]
          background-color: $white
        .btn
          background-color: $white
          border: 1px solid $gray_medium
          .text-info
            color: $light_blue
            font-weight: bold;
          .text-muted
            color: $gray
          &.active,
          &:focus
            color: $text_gray
          &[disabled="disabled"]
            background-color: $contrast_white
          &.btn-info
            color: $text_gray
            background-color: $pastel_blue
            font-weight: bold
            border-color: $gray
        th small
          color: $text_gray

      table[ng-switch-when="month"]
        th,
        th button,
        td,
        td button
          width: 80px

      table[ng-switch-when="year"]
        th,
        th button,
        td,
        td button
          width: 40px

      button.datepicker-calendar
        padding: 0 6px
        height: 34px
        margin-left: -1px

      .dropdown-menu
        overflow: visible
        width: auto
        margin-top: 0
        background-color: $contrast_white
        border: 1px solid $gray_medium
        box-shadow: 0 2px 2px $black_30

      button
        height: 35px

      ul
        padding: 10px
        li
          margin: 0

      th,
      th button,
      td,
      td button
        height: 25px
        padding: 0
        width: 25px

    .range-input
      width: 34%
      &.range-start
        padding-right: 0
      &.range-end
        padding-left: 0
      input
        padding: 6px

    .range-to
      width: 7%
      padding-right: 0
      padding-left: 0

.sold-within.btn-group
  margin 5px

  .btn-sold
    width 65px !important
    margin 0 !important

  .btn.toggle:focus
    color $text_gray
  .btn.btn-default.toggle
    background-color $white
    color $text_gray
    width 65px !important
    height auto !important
    font-size 12px !important
    padding 6px 8px
    margin 0 !important

  .sold-options
    z-index 1000
    position absolute
    display block
    margin-top 0
    color $text_gray
    animation-name none
    -webkit-animation-name none
    border 1px solid $gray
    background-color #eee
    font-size 14px
    padding 10px 0 0 0 !important
    width 160px
    left auto
    right 0
    top 30px
    list-style none
    li
      margin-bottom 10px
    a
      color $text_gray
      padding 5px 20px
      width 100%
      display inline-block
      text-transform capitalize
      &:hover
      &:focus
        background $light_blue_select
    &.top
      top: -385px
