// TODO merge with mapPinned.styl

.dropdown.btn-group.add-project-list
  ul
    li
      .popover
        width 150px

$fnMakeMapUlDropdown()
  .dropdown-menu
    width 100%
    .fixed-header
      background-color $dark_white
      border-bottom 1px solid $darker_white
      border-top 1px solid $darker_white
      color $dark_blue
      font-size 14px
      font-weight bold
      padding 10px 30px 10px 20px
      min-height 45px
      display flex
      align-items center
      justify-content space-between

      .header-item
        border-right: solid $rm-header_separators 1px;
        display: inline-block;
        padding-right: 10px;
        margin-right: 10px;

      > span, .results-btn
        display flex
        align-items center

      .results-btn
        @extend .noselect
        float right
        cursor pointer
        border 1px solid $black_30
        border-radius 3px
        padding 8px 12px
        margin-left 5px
        color $gray_darker
        background-color $white
        &.disabled
          $fnDisabled()

        &.disabledNoEvents
          pointer-events none
          opacity 0.3


        .icon
          font-size 18px
        &:hover
          border-color $black_50

      .fa, .icon
        float left
        font-size 12px
      .fa
        margin 0 5px
      .icon
        margin -3px 5px 0

      .icon-close
        position absolute
        cursor pointer
        right 5px
        top 5px
        margin 0
        font-size 14px
        color $rm-corner-close
        font-size 14px
        background none !important
        box-shadow none !important
        &:hover
          color $rm-corner-close-hover

    .inner
      ul
        list-style none
        padding 0
        max-height 250px
        overflow auto
        width 100%
        li
          > div
            overflow hidden
            padding 10px
            position relative
            &:hover
            &:active
            &:focus
              background-color $light_blue_select
            .location
              display block !important
          a
            display block
            overflow hidden
            padding 12px
            span.enity
              position relative
              float left
              width 80%
              span.title
                font-weight bold
                display block
                float left
                width 80%
                h3
                  font-weight normal
                  margin 0
                  font-size 16px
                  color black
              .subtitle
                span
                  font-size 10px
                  color $gray
                  padding-top 4px
              span.icon
                float left
                font-size 18px
                margin-right 10px
                padding 8px

              span.parent-name
                color $green
          .title
            font-size 16px
          .rename
            font-size 11px
            cursor pointer
            color $light_blue
            &:hover
            &:focus
            &:active
              color $blue

          &:hover
          &:focus
            span.title
              color $light_blue
            span.actions
              transform scale(1)
      .dropdown-explanation
        padding 10px 20px
        p
          font-size 14px
          line-height 20px
        .action
          margin 20px 0
          color $light_blue

    .actions
      float right

      .icon, .fa, .action-button
        display inline-block
        font-size 16px
        padding 7px
        color $black_60
        &:hover
        &:focus
          color $rm-map-btn-icon-hover
        &.disabled
          $fnDisabled()

      .action-button
        display flex
        align-items center
        justify-content space-around
        padding 0 6px 0 10px
        border 1px solid transparent
        &:hover
        &:focus
          color $rm-map-btn-icon-hover
          border 1px solid $rm-map-btn-icon-hover
          background $white
          .icon, .fa
            color $rm-map-btn-icon-hover
          .action
            opacity 1
        &.disabled
          $fnDisabled()
        .action
          font-size 10px
          line-height 30px
          vertical-align top
          opacity 0
        .icon, .fa
          font-size 16px!important
          color $black_30
          display inline-block
          font-size 18px
          float right
          &.icon-remove
            display none
