$fnMakeMapZoomLocTools()
  .zoom-tools
  .location-tools
    margin 20px 20px 0 0
    button
      float left
      clear both
      width 40px
      height 40px
      font-size 18px
      &.zoom-in
        border-radius 3px 3px 0 0
        border-bottom 1px solid $black_10
      &.zoom-out
        border-radius 0 0 3px 3px
      &.zoom-previous
      &.zoom-locate
        margin-bottom 5px

  .mobile-view
    .leaflet-zoom-box-control
      display: none;

  .leaflet-zoom-box-control

    border-radius 3px
    box-shadow 0px 1px 2px rgba(0,0,0,0.4)
    margin-bottom 0

    a
      width 40px
      height 40px
      line-height 40px
      background-color rgba(255,255,255,0.9)
      text-decoration none
      color $rm-map-btn-icon
      &:hover
        color $rm-map-btn-icon-hover
        background-color $white

    &.active
      a
        background-color $rm-map-btn-active
        color $white
