$rm_test_bg = $rm_test_black

// color name reference: http://ingridsundberg.com/2014/02/04/the-color-thesaurus/
$rm_sold = $rose
$rm_pending = $violet
$rm_forsale = $parakeet
$rm_notforsale = $cerulean
$rm_sold_hover = $ruby
$rm_pending_hover = $eggplant
$rm_forsale_hover = $emerald
$rm_notforsale_hover = $ocean
