$rm_test_bg = $rm_test_black

// color name reference: http://ingridsundberg.com/2014/02/04/the-color-thesaurus/
$rm_sold = $red
$rm_pending = $violet
$rm_forsale = $green
$rm_notforsale = $teal

$rm_sold_hover = $dark_red
$rm_pending_hover = $dark_violet
$rm_forsale_hover = $dark_green
$rm_notforsale_hover = $dark_teal
