$rm_test_black = #111

// color names approximated via http://ingridsundberg.com/2014/02/04/the-color-thesaurus/
$rose = #FF4A4A
$violet = #8C3DAA
$parakeet = #1FDE12
$cerulean = #45A0D9

$ruby = #A33
$eggplant = #537
$emerald = #191
$ocean = #379
