$rm_test_black = #111

// color names approximated via http://ingridsundberg.com/2014/02/04/the-color-thesaurus/
$red = #FF4A4A
$violet = #8C3DAA
$green = #1FDE12
$teal = #45A0D9

$dark_red = #A33
$dark_violet = #537
$dark_green = #191
$dark_teal = #379
