/* Set some basic rules */
.tool
  for num in (1..200)
    .padding-top-{num}
      padding-top: unit(num, px)

.padding-left-5
  padding-left: 5px

.centered
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)

.center-on-page
  position absolute
  top -(navbar-height)
  bottom 0
  left 0
  right 0
  margin auto

body
    height: 100%
    width: 100%
    background: rm-main-dark-blue
    font: mainFont
    overflow: hidden

/* Move down content because we have a fixed navbar */
body
    padding-top: navbar-height

.starter-template
    padding: 40px 15px
    text-align: center


#side-nav-container
    position:absolute
    left:0


/* PAGES
============================================================================= */
.page
    bottom:0
    position:absolute
    top:navbar-height
    width:100%
    background: rm-main-dark-blue


/* ANIMATIONS
============================================================================= */

.page.ng-leave
    z-index:8888
    -webkit-animation:keepStill 0.5s both ease-in
    -moz-animation:keepStill 0.5s  both ease-in
    animation:keepStill 0.5s  both ease-in

.page.ng-enter
    z-index:9999
    -webkit-animation:slideInUp 0.5s both ease-in
    -moz-animation:slideInUp 0.5s both ease-in
    animation:slideInUp 0.5s both ease-in

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}

/* slide out the right */
@keyframes slideOutRight {
    from    { transform: translateX(0);}
    to      { transform:translateX(100%);}
}
@-moz-keyframes slideOutRight {
    from    { -moz-transform:translateX(0); }
    to      { -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideOutRight {
    from    { -webkit-transform:translateX(0); }
    to      { -webkit-transform: translateX(100%); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
    from    { -moz-transform:translateY(100%); }
    to      { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
    from    { -webkit-transform:translateY(100%); }
    to      { -webkit-transform: translateY(0); }
}

/* slide in from the left */
@keyframes slideInLeft {
    from    { transform:translateX(-100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
    from    { -moz-transform:translateX(-100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from    { -webkit-transform:translateX(-100%); }
    to      { -webkit-transform: translateX(0); }
}

/* slide out from the left */
@keyframes slideOutLeft {
    from    { transform: translateX(100%);}
    to      { transform:translateX(0);}
}
@-moz-keyframes slideOutLeft {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideOutLeft {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}

/* keep page still */
@-webkit-keyframes keepStill {
    to { -webkit-transform:  translateX(0); }
}
@-moz-keyframes keepStill {
    to { -moz-transform: translateX(0); }
}
@keyframes keepStill {
    to { transform: translateX(0); }
}



$border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

$scale()
  transform: scale(arguments)
  -webkit-transform: scale(arguments)
  -ms-transform: scale(arguments)
  -moz-transform: scale(arguments)
  -o-transform: scale(arguments)

$logo-height = 150px

checkbox(size)
  input[type=checkbox]
    opacity: 0
    position: absolute
    top: 0
    left: 0
    & + label
      padding-left: size+5px
      height: size
      display: inline-block
      cursor: pointer
      background: url(/assets/sprites.png) no-repeat 0 0
    &:checked + label
      background: url(/assets/sprites.png) no-repeat 0 -24px

.light-message
  color: rm-light-gray

.margin-10
 margin 10px

form.comfy
  color: #DDD
  input[type=text]
  input[type=tel]
  input[type=email]
  input[type=password]
  input[type=submit]
  input[type=button]
  select
    padding: 8px
    color: black
    width: 100%
    height: 35px
    $border-radius 5px
    border: 2px solid #AAA
  input[type=submit],
  input[type=button]
    background-color: grey
    color: white
    padding: 2px 6px 3px
    border: 0
    font-size: 16px
    &:hover
      background-color: #666
    &[disabled=disabled]
      background-color: #556
      color: #777
      &:hover
        background-color: #556
        color: #777
  label
    font-size: 16px
    font-weight: normal
  .checkbox-replace
    checkbox(24px)
  .help-block
    color: #BBB
    
.spacer
  margin-top: 25px

/*
Holy crap stylus.. you need to be careful to not name functions anything close to real property names in css
I recommend pre-pending all functions with fn
JWI: I had been using the convention of starting with $ for functions and variables (see $border-radius(), $scale(),
     and $logo-height earlier in this file) -- it stands out visually much better.  We have a lot of variables now that
     don't follow this convention, so that would be some effort at this point, but as I noted elsewhere we need to
     change up our variable names anyway because they should have either scheme-descriptive names (like $rm-bright-yellow)
     or semantic names (like $rm-saved-hover-text), not both (like $rm-saved-property-yellow).  Cleaning all that up
     at the same time would be a good idea, and ideally setting things up in a 2-tiered approach so that we define a
     color palate first ($rm-bright-yellow, $rm-dark-yellow, etc) then use that palate with semantic aliases or functions
     ($rm-saved-status() which would set appropriate text color, bgcolor, color when combined with a .hover class, etc).
*/
$text-overflow(dimension)
  white-space: nowrap
  overflow-{dimension}:hidden !important
  text-overflow: ellipsis
  if dimension == x
    width: 100%
  else
    height: 100%
  display: inline-block

.text-overflow-x
  $text-overflow(x)

.text-overflow-y
  $text-overflow(y)


.text-wrap, .text-overflow-x:hover, .text-overflow-y:hover
  overflow:auto !important
  white-space: initial
  text-overflow: initial

.position
  position: relative

/*http://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best*/
$clearFix()
  content:"";
  display:table;
  clear:both;

for num in 5 10 15 20 25 30 35 40 45 50
  for where in left right top bottom
    .{where}-margin-{num}
      margin-left unit(num,'px')

$footer()
  width: 100%
  background: rm-medium-blue-darker
  height: $footerHeight
  position: absolute
  bottom: 0px

$footerClose()
  float: right
  font-size: 45px
  font-weight: 100
  line-height: 1
  color: #FFFFFF
  text-shadow: 0 1px 0 #ffffff
  opacity: 1.0
  margin-right: 50px

.slide-out-container
  margin: 0 0 0 0px
  position: absolute
  height $slideout-height
  width: 100%
  z-index: 1000
  top: 0px
  background-color: rm-medium-blue-darker

$fnMobileToolbarPadding()
  padding 25px 25px $footerHeight $toolBarMobileLeftPadding

$fnRevertToolbarPadding()
  padding: 0px 0px $footerHeight 0px

