/* Set a basic variable */
base-font-size = 12px

/* Set a variable based on result of mixin call */
body-background = invert(#ccc)

/* Set color variables */
main-dark-blue = #313145
medium-blue = #2B72BE

/* Set some basic rules */
body
    height: 100%
    width: 100%
    background: main-dark-blue
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
    overflow: hidden

/* Move down content because we have a fixed navbar that is 50px tall */
body
    padding-top: 50px

.starter-template
    padding: 40px 15px
    text-align: center

@media (min-width: 768px)
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand
        margin-left: 0px


 /* Nav Bar */
.navbar
    background: main-dark-blue
    border: none
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: 100
    font-size:23px
    letter-spacing: .35em


.navbar .navbar-text
    color: #777777
    font-weight: 100

.navbar .navbar-nav > li > a
    color: #FFFFFF
    height:50px

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
    .navbar .navbar-nav  #navbar-login
        position:absolute;
        right:0;



.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus
    color: #FFF
    background-color: #0062A0
    -webkit-transition:background-color 0.25s
    -moz-transition:background-color 0.25s
    transition:background-color 0.25s

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar.navbar-nav > .active > a:focus
    color: #FFF
    background-color: #45a0d9
    -webkit-transition:background-color 0.25s
    -moz-transition:background-color 0.25s
    transition:background-color 0.25s


.navbar-brand
    font-size: 25px
    line-height: 20px
    color: #FFF !important
    padding: 3px 5px 0 3px
    letter-spacing: 4px
    font-weight: 100
    margin-right: 20px

 .navbar-brand img
    height:45px
    padding: 0px 8px

 .navbar-brand .logo-c1
     color: #FFFFFF

 .navbar-brand .logo-c2
     color: #45a0d9

 .navbar-toggle
    background-color: #255992
    border-color:transparent
    height:50px
    margin-top:0
    margin-bottom: 0
    border-radius: 0

.navbar .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
    background-color: medium-blue

.navbar-toggle
    float: left
    margin-left: 15px

.navbar-toggle .icon-bar
    height:4px

#side-nav-container
    position:absolute
    left:0


/* PAGES
============================================================================= */
.page
    bottom:0 
    position:absolute 
    text-align:center
    top:50px  
    width:100%
    background: main-dark-blue 


.page-test 
    background:#00D0BC 
    color:#00907c
.page-about
    background:#E59400
    color:#a55400
.page-contact
    background:#ffa6bb
    color:#9e0000

/* ANIMATIONS
============================================================================= */

.page.ng-leave
    z-index:8888
    -webkit-animation:keepStill 0.5s both ease-in
    -moz-animation:keepStill 0.5s  both ease-in
    animation:keepStill 0.5s  both ease-in  

.page.ng-enter
    z-index:9999 
    -webkit-animation:slideInUp 0.5s both ease-in
    -moz-animation:slideInUp 0.5s both ease-in
    animation:slideInUp 0.5s both ease-in   


/* Slider Trays */
#results-slide
    transition: 0.15s all ease-in-out


#results-slide.ng-hide-add, #results-slide.ng-hide-remove
    display: block !important 
    

#results-slide.ng-hide-remove, #results-slide.ng-hide-add.ng-hide-add-active
    margin-right: -500px
    opacity: 1

#results-slide.ng-hide-remove.ng-hide-remove-active, #results-slide.ng-hide-add
    margin-right: 0
    opacity: 1


#filters-slide
    transition: 0.15s all ease-in-out


#filters-slide.ng-hide-add, #filters-slide.ng-hide-remove
    display: block !important 
    

#filters-slide.ng-hide-remove, #filters-slide.ng-hide-add.ng-hide-add-active
    margin-left: -300px
    opacity: 1

#filters-slide.ng-hide-remove.ng-hide-remove-active, #filters-slide.ng-hide-add
    margin-left: 0
    opacity: 1


/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}

/* slide out the right */
@keyframes slideOutRight {
    from    { transform: translateX(0);}
    to      { transform:translateX(100%);}
}
@-moz-keyframes slideOutRight {
    from    { -moz-transform:translateX(0); }
    to      { -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideOutRight {
    from    { -webkit-transform:translateX(0); }
    to      { -webkit-transform: translateX(100%); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
    from    { -moz-transform:translateY(100%); }
    to      { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
    from    { -webkit-transform:translateY(100%); }
    to      { -webkit-transform: translateY(0); }
}

/* slide in from the left */
@keyframes slideInLeft {
    from    { transform:translateX(-100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
    from    { -moz-transform:translateX(-100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from    { -webkit-transform:translateX(-100%); }
    to      { -webkit-transform: translateX(0); }
}

/* slide out from the left */
@keyframes slideOutLeft {
    from    { transform: translateX(100%);}
    to      { transform:translateX(0);}
}
@-moz-keyframes slideOutLeft {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideOutLeft {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}

/* keep page still */
@-webkit-keyframes keepStill {
    to { -webkit-transform:  translateX(0); }
}
@-moz-keyframes keepStill {
    to { -moz-transform: translateX(0); }
}
@keyframes keepStill {
    to { transform: translateX(0); }
}


/* Main Page
============================================================================= */


#search-bar-main
    position: relative
    width: 100%
    margin-top:50px


#search-bar-main input
    width: 100%
    height: 60px
    bottom: 50px
    border: none
    background-color: rgba(255,255,255,.10)
    border-bottom: 4px solid #FFF
    padding: 10px
    font-size: 15px
    font-weight: 100
    letter-spacing: 0.1em
    color:#FFF


#search-bar-main #btn
    color:#FFFFFF
    width:57px
    height:57px
    background-color: rgba(255,255,255,.3)
    top: 0px
    right: 0px
    position: absolute


#search-bar-main #btn:hover
    background-color: medium-blue

#search-bar-main #btn div 
    font-size:20px
    text-align: center
    vertical-align: middle
    line-height: 57px


#search-bar
    position: absolute
    z-index:10000000
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0)

@media (min-width: 768px) {
    #search-bar-main input{
        font-size: 18px;
        letter-spacing: .2em;
        }
}

@media (min-width: 1200px) {
    #search-bar-main input{
        font-size: 20px;
        }
}



/* Hero Container
============================================================================= */
.heroContainer
    width:90%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 350px;


.heroImage
    width:100%
    display:block
    margin: 0 auto


.heroImage img
    width: 100%

.heroText
    font-weight: 100
    font-size: 15px
    text-align: center
    letter-spacing: .2em
    margin: 1.1363636363636365em 0 0 0
    color: rgba(255, 255, 255, 0.51)

@media (min-width: 768px) {
    .heroContainer {
        width:75%;
    }

    .heroText{
        font-size: 20px;
     }


}

@media (min-width: 1200px) {
    
    .heroContainer {
        width:50%;
    }

    .heroText{
        font-size: 22px;
     }

}


$border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

$scale()
  transform: scale(arguments)
  -webkit-transform: scale(arguments)
  -ms-transform: scale(arguments)
  -moz-transform: scale(arguments)
  -o-transform: scale(arguments)

$logo-height = 150px

checkbox(size)
  input[type=checkbox]
    opacity: 0
    position: absolute
    top: 0
    left: 0
    & + label
      padding-left: size+5px
      height: size
      display: inline-block
      cursor: pointer
      background: url(/assets/sprites.png) no-repeat 0 0
    &:checked + label
      background: url(/assets/sprites.png) no-repeat 0 -24px
