.marker-cluster-pie g.arc
  fill-opacity: 0.5

.marker-cluster-pie-label
  font-size: 14px
  font-weight: bold
  font-family: sans-serif
  background: #FFF
  padding: 5px

/*marker categories*/
.category-pending
  fill: #8C3DAA
  stroke: #800
  background: #8C3DAA
  border-color: #800

.category-for-sale
  fill: #1FDE12
  stroke: #007
  background: #1FDE12
  border-color: #007

.category-not-for-sale
  fill: #45A0D9
  stroke: #007
  background: #45A0D9
  border-color: #007

.category-recently-sold
  fill: #FF4A4A
  stroke: #007
  background: #FF4A4A
  border-color: #007
