/* Set color variables */
rm-main-dark-blue = #313145
rm-medium-blue = #0062a0
rm-medium-blue-dark = #2B72BE
rm-medium-blue-darker = #123d74
rm-light-gray = #EBEBEB
rm-highlight-green = #1fde12
rm-highlight-blue = #45a0d9
rm-highlight-purple = #8C3DAA
rm-highlight-yellow = #EFEE50
rm-translucent-white = rgba(255,255,255, .5)
rm-translucent-grey = rgba(153, 153, 153, 0.79)
rm-property-save-yello = rm-highlight-yellow
rm-property-sale-green = #5BE04E
rm-property-sold-red = #FF3F3A
rm-property-notsale-blue = rm-highlight-blue
rm-property-pending-purple = rm-highlight-purple
rm-property-save-bright-foreground = #303030 !important
rm-marker-border = rgba(49, 49, 69, 0.6)
rm-results-hover = #f4f4f4

rm-saved-hover = #AA1
rm-sale-hover = #191
rm-sold-hover = #A33
rm-pending-hover = #537
rm-notsale-hover = #379


/* Set a basic variable */
base-font-size = 12px

/* Set a variable based on result of mixin call */
body-background = invert(#ccc)

windowColor = rgba(45,45,63,1.0)
textColor = white
ourBlue = #3276B1

mainFont = "Helvetica Neue",Helvetica,Arial,sans-serif

navbar-height = 50px
