/* Set a basic variable */
base-font-size = 12px

/* Set a variable based on result of mixin call */
body-background = invert(#ccc)

/* Set color variables */
main-dark-blue = #313145
medium-blue = #2B72BE