/* Set color variables */
rm-main-dark-blue = #313145
rm-medium-blue = #0062a0
rm-light-gray = #EBEBEB
rm-highlight-green = #2fa02c
rm-highlight-blue = #45a0d9
rm-highlight-purple = #6C3DCA
rm-translucent-white = rgba(255,255,255, .5)
rm-property-save-yello = #EFEE50
rm-property-sold-red = rgb(211, 96, 96)
rm-property-pending-purple = rm-highlight-purple

/* Set a basic variable */
base-font-size = 12px

/* Set a variable based on result of mixin call */
body-background = invert(#ccc)

/* Set color variables */
main-dark-blue = #313145
medium-blue = #2B72BE

windowColor = rgba(45,45,63,1.0)
textColor = white
ourBlue = #3276B1

mainFont = "Helvetica Neue",Helvetica,Arial,sans-serif

navbar-height = 50px
