doctype html
html(lang='en', ng-app='rmapsadminapp')
  head
    meta(charset='utf-8')
    script(src='/scripts/vendor.js')
    title RealtyMaps Admin
    base(href='/')
    link(rel='stylesheet', href='styles/vendor.css')
  body
    .realtymaps-main(ui-view='')
    script(type='application/javascript', src='{%=o.htmlWebpackPlugin.files.js%}')
