extends ../_layout

block customHead
  link(rel='stylesheet', href='styles/map.css')
  //- TODO: Move this to be loaded async, and/or use uiGmapGoogleMapsApi to load it
  // SERVICE SHOULD BE IN ui-leaflet, or ui-leaflet plugin, we can steal this from ui-gmap
  script(src="#{google.mapsSdkUrl}")
  title RealtyMaps
  meta(name='description', content='RealtyMaps')


block content
  .realtymaps-main(ui-view='' ng-controller="rmapsAppController")
  script(type='application/javascript', src='#{paths.destFull.bundle.map}')
  script(type='application/javascript', src='#{paths.destFull.templates.map}')
