$drawToolHeight = 50px
$drawToolSmallButtonHeight = 25px
$drawToolSmallHeight = 150px

$fnMakeMapDrawTools()

  $makeTool(pix, marginArg = false)
    .tools
      .rmaps-leaflet-draw
        div
          button
            width pix !important
              if marginArg
                margin marginArg
            &.cancel
            &.save
              width auto !important
              padding-top 7px
              padding-bottom 7px
              margin-right 10px

  .draw-tools
    width 100%
    position absolute
    z-index 20
    background-color $charcoal
    color $white
    height $drawToolHeight

    @media (max-width: xs-1)
      height $drawToolSmallHeight !important
      .row
        height $drawToolSmallHeight !important
        > */*all children of .row*/
          height $drawToolSmallHeight !important

      $makeTool($drawToolSmallButtonHeight, 10px)

    @media (min-width: xs)
      $makeTool($drawToolHeight)

    .close-btn
      transform translateY(25%)

    h4
      line-height $drawToolHeight
      margin-top 0
      margin-bottom 0

    .row
      > */*all children of .row*/
        height $drawToolHeight

    .tools
      transform translateX(25%)
      .rmaps-leaflet-draw
        div
          button
            display inline
            box-shadow none

    .nav-btn
      font-size 28px


    .btn-transparent
      height $drawToolHeight
      background-color transparent
      color $white

      &.active
        background-color $rm-map-btn-icon-hover
        &:hover
          background-color $rm-map-btn-icon-hover !important
          span
            color $black !important

      &:hover
        background-color transparent


    /*Want to slide down*/
    &.ng-enter
    &.ng-leave
      $fnMakeTransition(300ms ease-in-out)

    &.ng-enter
    &.ng-leave.ng-leave-active
      opacity 0

    &.ng-leave
    &.ng-enter.ng-enter-active
      opacity 1
