$fnMakeMapDrawTools()
  $drawToolHeight = 50px
  .draw-tools
    width 100%
    position absolute
    z-index 20
    background-color $charcoal
    color $white
    height $drawToolHeight

    .close-btn
      transform translateY(25%)

    h4
      line-height $drawToolHeight
      margin-top 0
      margin-bottom 0

    .row
      > */*all children of .row*/
        height $drawToolHeight

    .tools
      button
        display inline

    .nav-btn
      font-size 28px

    .btn-transparent
      height $drawToolHeight
      width 50px
      background-color transparent
      color $white

      &:hover
        background-color transparent

    /*Want to slide down*/
    &.ng-enter
    &.ng-leave
      $fnMakeTransition(300ms ease-in-out)

    &.ng-enter
    &.ng-leave.ng-leave-active
      opacity 0

    &.ng-leave
    &.ng-enter.ng-enter-active
      opacity 1
