$fnMakeMapLayerTools()
  .layers-tools
    button
      width 55px
      height 55px
      margin 20px 20px 0 0
      .icon-layers
        font-size 30px

    .filter-row
      overflow hidden
      display table
      margin-bottom 6px
      span.label
        display table-cell
        color $black
        font-size 12px
        width 100px
      &:last-child
        margin-bottom 0

      ul
        //display table-cell
        list-style none
        padding 0
        margin 0 -3px
        li
          display table-cell
          button
            height auto
            width 90px
            font-size 12px
            font-weight bold
            margin 0 3px
