$fnMakeMapNeighbourhoods()
  .neighbourhood-list
    ul
      li
        > div
          min-height 85px
          overflow hidden
          padding 10px
          position relative

    .enity
      display table
      float left
      margin-right 32px
      position relative
      .count
        float left
        margin 0 10px 0 0
        color $black !important
        font-weight bold
        font-size 12px
        line-height 20px

      .map
        width 38px
        height 38px
        border 1px solid $gray
        border-radius 2px
        float left
        margin 0 10px 0 0
        overflow hidden

        img
          max-width 100%
          display inline

      .content
        float left
        a
          display block
          padding 0
          &:hover
          &:focus
          &:active
            text-decoration none
            color $light_blue
          h3.title
            font-size 16px
            margin 0
        p.properties
          font-size 12px
          color $text_gray_lighter
          margin 0
          line-height 20px
    span.actions
      width 32px
      position absolute
      top 10px
      right 10px
      text-align center
