@import '../../../components/property-attr-functions'

// TODO merge with mapUlDropdown.styl

$fnMakeMapPinned()
  .pinned-list
    .fa
      font-size 18px
      display inherit

    .enity //is this supposed to be entity????
      // display table
      .circle-nr
        display table-cell
        padding 5px
        span
          background-color $black
          border-radius 500px
          color $white
          display block
          font-size 10px
          font-weight bold
          height 20px
          line-height 20px
          text-align center
          width 20px
      .content
        display table-cell
        padding-left 10px
        width 100%
        .property-attr
          width 100%
        .status
          color c_white
          text-transform uppercase
          display inline-block
          padding 5px 10px
          font-size 11px
          margin-bottom 5px

        .price
          margin 0
          font-size 18px
          font-weight 400
          color $rm_forsale
          &.pending
            color $rm_pending
          &.sold
            color $rm_sold
          &.forsale
            color $rm_forsale

        .property-attr
          list-style none
          display inline-block
          ul.attr
            padding 0
            margin 0 -4px
            li
              list-style none
              display inline-block
              border-right 1px solid $black_0
              border-bottom none
              padding 0 4px
              font-size 12px
              &:last-child
                border none
        .title
          font-size 16px
          a
            padding 0
            text-decoration none
            &:hover
            &:focus
              color $light_blue

        .subtitle
          margin-top 3px

        .location
          color $rm_attribute_lighter !important
          font-size 14px !important
          font-weight bold
          &.light
            color $rm_attribute_lightest !important
          &.large
            font-size 18px !important
