$fnMakeMapSettings()
  .settings-list

    .dropdown-menu
      &.showAdvanced
        width calc(100% + 450px)

    .fixed-header
      margin 0
      .results-btn
        min-width 45px
      .title-right
        width 450px
        text-align right

    ul
      padding 10px 20px 0px
      list-style none
      display inline-block
      vertical-align top

      li
        border none
        margin-bottom 10px

        .label
          font-weight normal
          color $black
          font-size 14px
          line-height 2

        .label:first-child
          text-align left

        input, label, select
          color $black

        label
          &.active
          &:hover
            color $white
          &.active
            font-weight bold


    .basic, .advanced
      width 450px
      background-color $white

    .property-status
      ul
        list-style none
        padding 0
        margin 0 -3px
        li
          display table-cell
          button
            height auto
            font-size 12px
            font-weight bold
            margin 0 3px


  .settings-slider

    rzslider
      margin: 16px 0 16px

    .rz-bubble
      display: none;

    .rz-bar-wrapper
      padding-top: 10px;

    .rz-bar
      height: 12px;
      background-color: $rm-slider-bar-color;

      &.rz-selection
        background-color: $rm-slider-bar-selected-color;

    .rz-pointer
      width: 18px;
      height: 23px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      background-color: white;
      border: solid 1px $rm-slider-handle-color;
      margin-top 2px

      &:hover
        background: $rm-slider-bar-selected-color;

    .rz-pointer:after
      display: none;

    .settings-slider-handle
    .settings-slider-handle:before
    .settings-slider-handle:after
      background-color: $rm-slider-handle-color;
      width: 2px;
      height: 12px;
      content: '';

    .settings-slider-handle
      position: relative;
      margin-left: 7px;
      margin-top: 4px;

      &:before
        position: absolute;
        right: 4px;

      &:after
        position: absolute;
        left: 4px;
