$fnMakeMapSettings()
  .settings-list

    .blueArrow
      &:before
        right 15px

    ul
      padding 10px 20px 0px
      list-style none

      li
        border none
        margin-bottom 10px

        .label
          font-weight normal
          color $black
          font-size 14px
          line-height 2

        .label:first-child
          text-align left

        input, label, select
          color $black

        label
          &.active
          &:hover
            color $white
          &.active
            font-weight bold

    .advanced
      margin-top -15px
      li:first-child
        border-top 1px solid $gray_ligther
        padding-top 12px
