// TODO merge with mapPinned.styl

.dropdown.btn-group.add-project-list
  ul
    li
      .popover
        width 150px

$fnMakeMapUlDropdown()
  .dropdown-menu
    width 100%
    .fixed-header
      background-color $dark_white
      border-bottom 1px solid $darker_white
      border-top 1px solid $darker_white
      color $dark_blue
      font-size 12px
      font-weight bold
      padding 0 10px
      min-height 45px
      display flex
      align-items center
      justify-content space-between

      .header-item
        border-right: solid $rm-header_separators 1px;
        display: inline-block;
        padding-right: 10px;
        margin-right: 10px;

      > span, .results-btn
        display flex
        align-items center

      .results-btn
        @extend .noselect
        float right
        cursor pointer
        border 1px solid $black_10
        border-radius 3px
        padding 7px
        margin-left 5px
        &.disabled
          $fnDisabled()
        .icon
          font-size 18px
        &:hover
          background-color $darker_white
          color $darker_blue

      .fa, .icon
        float left
        font-size 12px
      .fa
        margin 0 5px
      .icon
        margin -3px 5px 0

    .inner
      ul
        list-style none
        padding 0
        max-height 250px
        overflow auto
        width 100%
        li
          a
            display block
            overflow hidden
            padding 12px
            span.enity
              position relative
              float left
              width 80%
              span.title
                font-weight bold
                display block
                float left
                width 80%
                @extends .global-transition
                h3
                  font-weight normal
                  margin 0
                  font-size 16px
                  color black
              .subtitle
                span
                  font-size 10px
                  color $gray
                  padding-top 4px
              span.icon
                float left
                font-size 18px
                margin-right 10px
                padding 8px

              span.parent-name
                color $green


          &:hover
          &:focus
            span.title
              color $light_blue
            span.actions
              transform scale(1)

    .actions
      width 20%
      float right
      @extends .global-transition

      .icon, .fa, .action-button
        display inline-block
        font-size 20px
        padding 7px
        &:hover
        &:focus
          color $rm-map-btn-icon-hover
        &.disabled
          $fnDisabled()

      .action-button
        display flex
        align-items center
        justify-content space-around
        padding 0 5px
        &.disabled
          $fnDisabled()
        .action
          font-size 10px
          line-height 30px
          vertical-align top
          opacity 0
        .icon, .fa
          font-size 16px!important
          color $black_30
          display inline-block
          font-size 18px
          float right
          &:hover
          &:focus
            color $rm-map-btn-icon-hover
          &.icon-remove
            display none
