include ../../../../common/html/includes/mixins/_spinnerMixin.jade

section.white-page.onboarding.onboarding-finish-yay(ng-cloak)
  .container
    h1 Wow, welcome to the family!
    p We are now logging you in.
    +spinnerMixin()()
