form.add-project
  .modal-header
    h3.modal-title New Project
    span.icon.icon-close(ng-click="cancelModal()")
  .modal-body
    .form-group
      label(for="name") Name your project
      input.form-control(type="text" name="name" ng-model="newProject.name" placeholder="Type project name here" rmaps-autofocus="true" ng-keyup="checkSubmit($event)")

    .form-group.project-options(ng-if="principal.getCurrentProfile()")
      label.btn.btn-white.btn-radio(ng-model="newProject.copyCurrent" btn-radio="false" uncheckable ng-click="setDefaultName({project: newProject, defaultName: 'New Project', inverseName: 'Sandbox'})")
        | Empty Project
      
      label.btn.btn-white.btn-radio(ng-show="principal.getCurrentProfile().sandbox" ng-model="newProject.copyCurrent" btn-radio="true" uncheckable ng-click="setDefaultName({project: newProject, defaultName: 'Sandbox', inverseName: 'New Project', isCopy: true})")
        | Copy Sandbox
      label.btn.btn-white.btn-radio(ng-show="!principal.getCurrentProfile().sandbox" ng-model="newProject.copyCurrent" btn-radio="true" uncheckable ng-click="setDefaultName({project: newProject, defaultName: 'Sandbox', inverseName: 'New Project', isCopy: true})")
        | Copy {{principal.getCurrentProfile().name}}

    // button.btn.btn-link(ng-click="showAddClientInfo = !showAddClientInfo" disabled) + Add Client Info
    // .add-client-info(ng-cloak ng-show="showAddClientInfo")
      .form-section
        h4.title Client Info
        p.required.text-right Required
        .form-group
          .row
            .col-sm-6
              label.required(for="client_first_name" ) First Name
              input.form-control(name="client_first_name" ng-model="newProject.client_first_name")
            .col-sm-6
              label(for="client_last_name") Last Name
              input.form-control(name="client_last_name" ng-model="newProject.client_last_name")
        .form-group
          .row
            .col-sm-6
              label(for="client_email") Email
              input.form-control(name="client_email" ng-model="newProject.client_email" placeholder="name@email.com")
            .col-sm-6
              label(for="client_cell_phone") Phone Number
              input.form-control(name="client_phone_number" ng-model="newProject.client_phone_number")
        .form-group
          .row
            .col-sm-6
              label(for="client_address_1" ) Address 1
              input.form-control(name="client_address_1" ng-model="newProject.client_address_1")
            .col-sm-6
              label(for="client_address_2") Address 2
              input.form-control(name="client_address_2" ng-model="newProject.client_address_2")
        .form-group
          .row
            .col-sm-6
              label(for="client_city") City
              input.form-control(name="client_city" ng-model="newProject.client_city")
            .col-sm-6
              label(for="client_state") State
              select.form-control(name="client_state" ng-model="newProject.client_state")
                option FL
      .form-section
        h4.title Property Ask
        .form-group
          .row
            .col-sm-12
              label(for="minPrice") Price Range
              .row
                .col-sm-6
                  input.form-control(name="minPrice" ng-model="newProject.minPrice" placeholder="$0")
                .col-sm-6.minus
                  input.form-control(name="maxPrice" ng-model="newProject.maxPrice" placeholder="$0")
        .form-group
          .row
            .col-sm-4
              label(for="beds") Beds
              select.form-control(name="beds" ng-model="newProject.beds")
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
            .col-sm-4
              label(for="baths") Bath
              select.form-control(name="baths" ng-model="newProject.baths")
                option 1
                option 2
                option 3
                option 4
                option 5
            .col-sm-4
              label(for="sqft") Sq Ft
              input.form-control(name="sqft" ng-model="newProject.sqft")
  .modal-footer
    // button.btn.btn-default(ng-click="cancelModal()") Cancel
    button.btn.btn-primary(type="submit" ng-click="saveProject()") Create Project
