.modal-header
  h3.modal-title {{addressList.length}} Addresses
  i.icon.icon-close(ng-click="$close(true)")
.modal-body
  table.table-striped
    tbody
      tr(ng-repeat="address in addressList track by $index")
        td
          .address-line {{address.name}}
            span.pull-right {{address.type.toInitCaps()}} address
          .address-line {{address.street}} {{address.unit}}
          .address-line {{address.citystate}} {{address.zip}}
