include ../../../../../common/html/includes/mixins/_spinnerMixin.jade

.modal-header
  h3.modal-title Are you sure?
  +spinnerMixin()(ng-if="processing")
.modal-body
  p Please tell us your general reason for deactivation:
  select.form-control(ng-model="deactivation.subcategory" ng-options="subcategory as subcategory.name for subcategory in subcategories track by subcategory.id")
  br
  p Please tell us more &ndash; how we could improve RealtyMaps?
  textarea.form-control(
    cols=25
    rows=4
    ng-model="deactivation.details"
  )
.modal-footer
  button.btn.btn-default(type='button', ng-show="showCancelButton" ng-click='(modalCancel || $dismiss)(); $event.stopPropagation()') Cancel
  button.btn.btn-primary(type='button', ng-click='(modalOk || $close)(); $event.stopPropagation()') OK
