form.feedback(role="form" name="createEditFeedbackForm")
  .modal-header
    h3.modal-title(ng-if="!model.isEdit") Feedback
    h3.modal-title(ng-if="model.isEdit") Edit Feedback
  .modal-body
    .form-group
      label(for="description") Description
      textarea.form-control(
        placeholder="Give us your feedback!"
        name="description"
        ng-model="model.description"
        validator="optMinlength=50")


  .modal-footer
    button.btn.btn-default(type="reset" ng-click="cancel()" validation-reset="createEditFeedbackForm") Cancel
    button.btn.btn-primary(type="submit" ng-click="save()" validation-submit="createEditFeedbackForm") Save
