.modal-header
  h3.modal-title Mail for {{property.address.street}}
  i.icon.icon-close(ng-click="$dismiss()")
.modal-body
  property-mail(property="property")
.modal-footer
  button.btn.btn-primary(type='button' ng-click="$close()" ui-sref="recipientInfo({property_ids: newMail.property_ids})" ui-sref-opts="{reload: true}") New Mail
