form.add-project(name="passwordResetForm" ng-submit="$close()")
  .modal-header
    h3.modal-title Password Reset
    span.icon.icon-close(ng-click="$dismiss()")
  .modal-body
    p(ng-show="!passwordResetSent") We'll send an email to {{form.email}} with instructions.
    p(ng-show="passwordResetSent") You should receive an email within a few minutes.
  .modal-footer
    button.btn.btn-default(ng-show="!passwordResetSent" ng-click="$dismiss()") Cancel
    button.btn.btn-primary(ng-show="!passwordResetSent" type="submit") Send
    button.btn.btn-default(ng-show="passwordResetSent" ng-click="$dismiss()") Ok
