.modal-header
  h3.modal-title Replace Credit Card
.modal-body.help-block(ng-show="message" ng-class="{'alert-danger': hasError}") {{message}}
.modal-body.cc-modal-body(ng-hide="successButton")
  include ../cc-form.tpl.jade
.modal-footer
  button.btn.btn-primary(type='button', ng-click='exitCC(card)' ng-show="successButton") Ok
