.modal-header
  h3.modal-title Area Statistics - {{areaToShow.area_name}}
.modal-body
  .statistics(ng-show="areaStatistics[areaToShow.id]")
    .row
      .col-md-6 Properties Matching Filters
      .col-md-6 {{areaStatistics[areaToShow.id].count}}
    .row
      .col-md-6 Average Price
      .col-md-6 {{areaStatistics[areaToShow.id].price_avg | currency:"$":0}}
    .row
      .col-md-6 Average Sq Ft
      .col-md-6 {{areaStatistics[areaToShow.id].sqft_avg | number:0}}
    .row
      .col-md-6 Average Price / Sq Ft
      .col-md-6 {{areaStatistics[areaToShow.id].price_sqft_avg | currency:"$":0}}

  .statistics(ng-show="!areaStatistics[areaToShow.id]") No statistics available
