.modal-header
  h3.modal-title {{areaToShow.area_name}} Statistics
.modal-body
  div(ng-repeat="status in ['sold', 'for sale']")
    h4(style="text-transform:capitalize;") {{status}}
    .statistics(ng-show="areaStatistics[areaToShow.id][status]")
      .row
        .col-md-6 Number of Properties
        .col-md-6 {{areaStatistics[areaToShow.id][status].values.count}}
      .row
        .col-md-6 Average Price
        .col-md-6 {{areaStatistics[areaToShow.id][status].values.price_avg | currency:"$":0}}
      .row
        .col-md-6 Average Sq Ft
        .col-md-6 {{areaStatistics[areaToShow.id][status].values.sqft_avg | number:0}}
      .row
        .col-md-6 Average Price / Sq Ft
        .col-md-6 {{areaStatistics[areaToShow.id][status].values.price_sqft_avg | currency:"$":0}}
      .row
        .col-md-6 Average Days On Market
        .col-md-6 {{areaStatistics[areaToShow.id][status].values.days_on_market_avg | number:0}}
      .row
        .col-md-6 Average Lot Size
        .col-md-6 {{areaStatistics[areaToShow.id][status].values.acres_avg | number:2}} acres / {{areaStatistics[areaToShow.id][status].values.acres_avg * 43560| number:0}} sqft
