*/*.iml
*.iml
.idea
*/log/*
log/
tmp/
*.log
#OSX
.DS_Store
*.out
*.lock

*.xml
coverage/
node_modules/
build/
npm-debug.log
_public
app/components
dist/
nginx/var/
nginx/**/
newrelic_agent.log
tags
.tags
TAGS
.TAGS
.vagrant/
vagrant_app.log

nginx/
dumps/
junit/
sqlImports/

.vscode/
scripts/local/?*.*
