.small-details.panel.panel-primary( ng-controller='RealtyMaps-MapSmallDetailsCtrl' ng-cloak)
  .panel-heading(ng-class="statusClass") {{street_address_num}} {{street_address_name}}
  .panel-body
    table(class="table table-condensed table-hover")
      tr
        td {{priceLabel}} Price:
        td {{price}}
      tr
        td Status:
        td {{rm_status}}
      tr
        td Owner:
        td {{owner_name}}
          span(ng-if="owner_name2")
            br/
            | {{owner_name2}}
      tr
        td Beds:
        td {{beds_total}}
      tr
        td Baths:
        td
          section
            p Total:
            p {{baths_total}}
          section
            p Full:
            p {{baths_full}}
          section
            p Half:
            p {{baths_half}}
      tr
        td Year Built:
        td {{year_built}}
      tr
        td Acres:
        td {{acres}}
      tr
        td Finished SqFt:
        td {{finished_sqft}}
      tr
        td Assessed Value:
        td {{assessed_value}}
