.small-details.panel.panel-primary( ng-controller='RealtyMaps-MapSmallDetailsCtrl' ng-cloak)
  .panel-heading(ng-class="statusClass") {{street_address_num}} {{street_address_name}}
  .panel-body
    table(class="table table-condensed table-hover")
      tr
        td(colspan="2") {{beds_total}} Bed &nbsp; {{baths_total}} Bath {{ baths_half > 0 ? '&nbsp;&nbsp;' + baths_half + ' Half Bath' : '' }} &nbsp; {{finished_sqft}} SqFt
      tr
        td {{priceLabel}} Price:
        td {{price}}
      tr
        td Status:
        td {{rm_status}}
      tr
        td Owner:
        td {{owner_name}}
          span(ng-if="owner_name2")
            br/
            | {{owner_name2}}
      tr
        td Year Built:
        td {{year_built}}
      tr
        td Acres:
        td {{acres}}
      tr
        td Assessed Value:
        td {{assessed_value}}
