div( ng-controller='RealtyMaps-MapSmallDetailsCtrl' class="panel panel-primary" style="white-space:nowrap" ng-cloak)
  .panel-heading(ng-class="statusClass") {{street_address_num}} {{street_address_name}}
  .panel-body
    table(class="table table-condensed table-hover")
      tr
        td {{rm_status=='recently sold'||rm_status=='not for sale'?'Sold':'Asking'}} Price:
        td ${{price}}
      tr
        td Status:
        td {{rm_status}}
      tr
        td Assessed Price:
        td ${{local_assessed_value}}
      tr
        td Beds:
        td {{beds_total}}
      tr
        td Baths:
        td
          section
            p Total:
            p {{baths_total}}
          section
            p Full:
            p {{baths_full}}
          section
            p Half:
            p {{baths_half}}
      tr
        td Year Built:
        td {{year_built}}
      tr
        td Acres:
        td {{acres}}
      tr
        td Finished SqFt:
        td {{finished_sqft}}
