div()
  span
    section zoom: {{$parent.$parent.$parent.zoom}}
    section doClusterMarkers: {{$parent.$parent.$parent.$parent.doClusterMarkers}}
    section showMarkers: {{$parent.$parent.$parent.$parent.showMarkers}}
