div()
  span
    section zoom: {{$parent.$parent.$parent.zoom}}
    section showMarkers: {{$parent.$parent.$parent.$parent.showMarkers}}
    section keys: {{$parent.$parent.$parent.$parent.keys}}
    section Saved Properties:
      div(ng-repeat="prop in $parent.$parent.$parent.$parent.savedProperties") {{prop.rm_property_id}}
