div()
  span
    section center: {{$parent.$parent.$parent.center}}
    section zoom: {{$parent.$parent.$parent.zoom}}
    section keys: {{$parent.$parent.$parent.$parent.keys}}
    section zoomLevel: {{$parent.$parent.$parent.zoomLevel}}
    section disableDoubleClickZoom: {{$parent.$parent.$parent.$parent.options.disableDoubleClickZoom}}
    section Saved Properties:
      div(ng-repeat="prop in $parent.$parent.$parent.$parent.savedProperties") {{prop.rm_property_id}}
