div( ng-controller='RealtyMaps-SmallDetailsCtrl' style="white-space:nowrap" ng-cloak)
  h5 {{street_address_num}} {{street_address_name}}
  section Price: ${{price}}
  section Beds: {{beds_total}}
  section Baths: {{baths_total}}
  section Year Built: {{year_built}}
  section Acres: {{acres}}