#site-content

  .content-section
    transition all 1000ms ease 0ms
    background c_white
    padding 20px
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    z-index 1
    //@extends .moveToDown
    //transition all 1000ms ease 0ms

    header
      background c_dark_blue
      color c_white
      margin -20px -20px 0
      padding 0 10px
      height 44px
      h1.title
        font-size 18px
        font-weight 200
        margin 0
        float left
        line-height 44px

      a.back
        background url(/assets/base/icons/mobile_back_icon.png) no-repeat center center
        background-size 20px
        font-size 0
        width 30px
        height 44px
        float left
        margin 0 10px 0 0
        padding 0

