.site-main

  .content-section
    transition all 1000ms ease 0ms
    background c_white
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    z-index 1
    //@extends .moveToDown
    //transition all 1000ms ease 0ms
    .content-section-container
      top 47px
      position relative

      header
        position absolute
        right 0
        top 30px
        padding 0 30px

        a.back
          border 0 none
          background-color c_white_0
          font-size 32px
          width 32px
          height 32px
          line-height 32px
          padding 0

      h2.title
        color c_light_blue
        font-size 24px
        font-weight 200
        margin 0
        line-height 44px
        padding 10px 0

      .navbar
        margin-top 20px
        &:before
          height 2px
          width 30px
          content ''
          position absolute
          background-color c_light_blue

        ul.nav
          margin-top 10px
          li
            a
              color c_black
              padding 5px 0
              @extends .global-transition

              &:hover
              &:active
              &:focus
                background-color c_white_0
                color c_light_blue

            &.active
              a
                color c_light_blue