#history
  .inner
    height:100%;
    overflow scroll

    ul.timeline
      list-style none
      padding 0
      &:before
        border-left 2px solid c_gray_ligther
        content ""
        height 100%
        left 40px
        position absolute
        width 1px
        z-index -1

      li.item
        list-style none
        h3
          .label-default
            background c_dark_blue
            font-weight normal
          span
            display inline-block
            font-size 12px
            max-width 140px
            min-width 140px
            padding 10px
            text-transform uppercase
        ul.activity
          margin-left 25px
          padding-left 60px
          list-style none
          li
            list-style none
            border-bottom 1px solid c_gray_ligther
            padding 30px 0
            position relative
            @extends .notice-dot-blue

            &:before
              border-color c_white
              left -64px
              top 48px

            .avatar
              min-width 60px
              float left
              display table-cell
              .label
                padding 10px
                background c_light_blue

            .data
              width 100%;
              margin-left 60px
              float none
              display table-cell
              h4
                margin 0 0 20px 0
              p
                color c_text_gray
              span.date
                color c_gray_ligther
                font-size 12px
                font-weight bold



