@import './map/mapFavorites.styl'
@import './map/mapProjects.styl'
@import './map/mapProperties.styl'
@import './map/mapUlDropdown.styl'
@import './map/mapNotes.styl'
@import './map/mapNeighborhoods.styl'
@import './map/mapSettings.styl'
@import './map/mapLayerTools.styl'
@import './map/mapZoomLocTools.styl'

.leaflet-control-layers
  display none

#map
  .old-controls
    display none

  .map-navigation

    $fnMakeMapProjects()
    $fnMakeMapProperties()
    $fnMakeMapUlDropdown()
    $fnMakeMapFavorites()
    $fnMakeMapNotes()
    $fnMakeMapNeighborhoods()
    $fnMakeMapSettings()

    .favorites
    .notes-list
    .neighbourhood-list
      button
        span
          font-size 18px
          line-height 40px
          vertical-align top
          position relative
          top -3px


    button
      height 50px
      margin-right 10px

      @media (min-width: s)
        margin-right 20px

      &.add-button
      &.pinned-projects
      &.notes
      &.neighbour
      &.settings
      &.search
      &.add-project
      &.add-note
      &.add-neighbour
        width 50px
        background-position left top
        background-repeat no-repeat
        color $black
        font-size 28px

    .btn-group
      margin-right 10px
      @media (min-width: s)
        margin-right 20px

      .btn-group
        margin 0
        position static
      button
        margin 0

  $fnMakeMapLayerTools()
  $fnMakeMapZoomLocTools()

@-moz-document url-prefix()
  .favorites
  .notes-list
  .neighbourhood-list
    button
      span
        top 0px !important
