#edit-template
  form
    div.row.equal-height
      div.col-md-6
        ul.nav.nav-tabs.nav-justified
          li 
            text-angular-toolbar(name="miscToolbar" ta-toolbar-group-class="miscTools" ta-toolbar-button-class="btn btn-text" ta-toolbar="[['undo','redo']]")
            //- button.btn.btn-text undo
            //- button.btn.btn-text redo
          li(style="text-align: left;")
            button.btn.btn-text(ng-click="doPreview()") Preview
        .template-stage-container
          .template-stage
            //- .clear-template
            //-   .template-view
            div.letter-editor(ng-class="applyTemplateClass()")
              div(text-angular name="wysiwyg" focus="focusMe" ng-model="data.htmlcontent" ta-target-toolbars="testToolbar01,miscToolbar,colorToolbar,fontTypeToolbar,fontSizeToolbar")



      
      div.col-md-6
        tabset(justified="true")
          tab(heading="Text" active="true")
            div.edit-template-design
              div.form-section
                h4
                  | Font Family

                div
                  text-angular-toolbar(name="fontTypeToolbar" ta-toolbar-group-class="fontTypeTools" ta-toolbar="[['fontHelvetica','fontTimesNewRoman','fontGillSans','fontGeorgia']]")

              div.form-section
                h4
                  | Font Size
                text-angular-toolbar(name="fontSizeToolbar" ta-toolbar-group-class="btn-group" ta-toolbar="[['fontSize12','fontSize14','fontSize16','fontSize18','fontSize20']]")

              div.form-section
                  h4
                      | Font Color

                  div
                      text-angular-toolbar(name="colorToolbar" ta-toolbar-group-class="colorTools" ta-toolbar="[['textBlack','textBlue','textGreen','textRed','textYellow','textWhite']]")

          tab(heading="Images")
            div.edit-template-design
              div.form-section
                  h4
                    | Insert Image

                  div
                    label Insert Image

          tab(heading="Macros")
            div.edit-template-design
              div.form-section
                  h4
                    | Insert Macro

                  div
                    label.btn.btn-primary Macro 1
                    label Macro 2

          tab(heading="Tools")
            div.edit-template-design
              button.btn.btn-text(ng-click="preview()") Preview

          tab(heading="Test" disable="false")
            div.edit-template-design
              text-angular-toolbar(name="testToolbar01" ta-toolbar="[['bold','italics','underline'],['ul','ol','test']]")
