.mail-wizard-steps
  header.send-progress(ng-hide="hideProgress()")
    button.btn.btn-default.pull-left(ng-click="prevStep()" ng-hide="hideBackButton()") Back
    button.btn.btn-primary.pull-right(ng-click="nextStep()" ng-hide="hideNextButton()") Next
    div.pathway
      ul
        li
          span Recipients
        li
          span Campaign Info
        li.active
          span Select Template
        li
          span Edit Template
        li
          span Review

.select-template
  .inner
    .container
      form
        h1.pageTitle Select A Template
          .filters
            span(ng-repeat="category in categories")
              button.btn.btn-filter(ng-click="setCategory(category[0])" ng-class="{ 'active': displayCategory == category[0]}") {{category[1]}}
          .row
            ul.tmpl-list
              li.col-md-3(ng-show="isEmptyCategory()")
                .no-tmpl There are no items to view here.
              li.col-md-2(ng-repeat="template in categoryLists[displayCategory]")
                .tmpl-item(ng-click="selectTemplate($index)")
                  .tmpl-data
                    h3.tmpl-title {{template.name}}
                    img.tmpl-image(ng-src="{{template.thumb}}" ng-class="{'selected':wizard.mail.campaign.template_type == template.type}")
                .btn(ng-click="previewTemplate(template)") Preview
