.sender-info
    .inner
        .container
            h1.pageTitle Sender Info
            form
                .row
                    .col-sm-8
                        .row
                            .col-sm-6
                                .form-group
                                    label First Name
                                    input.form-control(type="text" ng-model="templObj.senderData.first_name")
                                .form-group
                                    label Last Name
                                    input.form-control(type="text" ng-model="templObj.senderData.last_name")
                                .form-group
                                    label Email
                                    input.form-control(type="email" ng-model="templObj.senderData.email" placeholder="name@email.com")
                                .form-group
                                    label Phone Number
                                    input.form-control(type="text" ng-model="templObj.senderData.phone")
                                //- div.form-group
                                //-     label(for="sender_photo") Your Photo
                                //-     button(class="btn btn-stamp") + Add a Photo
                            .col-sm-6
                                .form-group
                                    label Company
                                    input.form-control(type="text" ng-model="templObj.senderData.company")
                                //- div.form-group
                                //-     label(for="sender_photo") Your Photo
                                //-     button(class="btn btn-stamp") + Add a Photo
                                .form-group
                                    label Address 1
                                    input.form-control(type="text" ng-model="templObj.senderData.address_line1")
                                .form-group
                                    label Address 2
                                    input.form-control(type="email" ng-model="templObj.senderData.address_line2" placeholder="Apartment, suite, unit, building, floor")
                                .form-group
                                    label City
                                    input.form-control(type="text" ng-model="templObj.senderData.address_city")

                                .row
                                    .col-sm-6
                                        .form-group
                                            label State
                                            .select
                                                select.form-control(ng-model="templObj.senderData.address_state" ng-options="value.name for value in us_states track by value.code")
                                                    option(selected disabled) - Select State -
                                    .col-sm-6
                                        .form-group
                                            label Zip
                                            input.form-control(type="text" ng-model="templObj.senderData.address_zip")

