.row.form-group
  .col-md-4
    select(ng-model="currentTaskData.task" ng-options="value.name for value in currentJobList track by value.name" ng-change="selectJob()")
      option(value="all") All
  .col-md-8
.jobs-grid(cg-busy="jobsBusy" ng-show="$state.params.task" ui-grid="jobsGrid" ui-grid-resize-columns ui-grid-pinning)
.warn(ng-show="!$state.params.task") No task selected.
