.row.form-group
  .col-md-2
    select(ng-model="currentTaskData.task" ng-options="value.name group by (value.name=='All Tasks'?'All':value.current?'Current':'Not Current') for value in currentJobList track by value.name" ng-change="selectJob()")
      option(value="" disabled) Select a task
  .col-md-2
    select(type="text" ng-model="historyTimerange" ng-change="updateTimeframe()")
      option(value="1 hour") 1 Hour
      option(value="1 day") 1 Day
      option(value="7 days") 7 Days
      option(value="30 days") 30 Days
      option(value="90 days") 90 Days
      option(value="all") All Time
  .col-md-8

.row(ng-show="$state.params.task")
  .col-md-12
    h4 Task History
    .grid.jobs-grid(cg-busy="jobsBusy" ui-grid="jobsGrid" ui-grid-resize-columns ui-grid-pinning)
    .row
      .col-md-12.center(ng-show="$state.params.task")
        div Showing {{jobsGrid.data.length}} Results

.row(ng-show="$state.params.task")
  .col-md-12
    h4 Error History
    .grid.jobs-grid(cg-busy="errorJobsBusy" ng-show="$state.params.task" ui-grid="jobsErrorGrid" ui-grid-cellNav ui-grid-resize-columns ui-grid-pinning)
    .row
      .col-md-12.center(ng-show="$state.params.task")
        div Showing {{jobsErrorGrid.data.length}} Results

.row(ng-show="$state.params.task && clickedCellInfo")
  .col-md-12
    h4 Full {{clickedCellInfo.name}} (selected cell)
    .row
      .col-md-12
        pre {{clickedCellInfo.contents}}

.warn(ng-show="!$state.params.task") No task selected.
