.btn.btn-primary(ng-click="loadSummary()") Refresh
.summary-grid.clickable-rows(cg-busy="summaryBusy"
ui-grid="summaryGrid"
ui-grid-resize-columns
ui-grid-auto-resize
ui-grid-pinning
ui-grid-selection)
.grid.jobs-grid(
  cg-busy="jobsBusy"
  ui-grid="jobsGrid"
  ui-grid-resize-columns
  ui-grid-auto-resize
  ui-grid-pinning)
