.request-errors
  h3
    span Last {{opts.offset}} - {{opts.offset + opts.limit}} {{opts.distinct ? 'unique' : ''}} API errors
  .container.opts
    .row
      .col-md-2(ng-if="!opts.distinct")
        a(ng-click="opts.distinct = !opts.distinct; opts.offset = 0") Hide dupe URLs
      .col-md-2(ng-if="opts.distinct")
        a(ng-click="opts.distinct = !opts.distinct; opts.offset = 0") Show dupe URLs
      .col-md-2(ng-if="!opts.unhandled")
        a(ng-click="opts.unhandled = !opts.unhandled; opts.offset = 0") Hide handled
      .col-md-2(ng-if="opts.unhandled")
        a(ng-click="opts.unhandled = !opts.unhandled; opts.offset = 0") Show handled
      .col-md-2(ng-if="opts['404']")
        a(ng-click="opts['404'] = !opts['404']; opts.offset = 0") Hide 404s
      .col-md-2(ng-if="!opts['404']")
        a(ng-click="opts['404'] = !opts['404']; opts.offset = 0") Show 404s
      .col-md-2.pull-right.text-right(ng-disabled="errors.length < opts.limit")
        a(ng-click="opts.offset = opts.offset + opts.limit") Next {{opts.limit}}
      .col-md-2.pull-right.text-right(ng-disabled="!opts.offset")
        a(ng-click="opts.offset = opts.offset - opts.limit") Prev {{opts.limit}}

  .container.table-striped-pair
    .row.error.heading
      .col-md-2 Type
      .col-md-1 Method
      .col-md-6 Url
      .col-md-1 Status
      .col-md-1 When
      .col-md-1.text-center Handled

    .row.error(ng-class="{'expanded': error.expanded}" ng-repeat="error in errors" ng-click="expand(error)")
      .parent
        .col-md-2 {{error.type}}
        .col-md-1 {{error.method}}
        .col-md-6.break-all {{error.url}}
        .col-md-1 {{error.response_status}}
        .col-md-1.text-nowrap {{getTime(error)}}
        .col-md-1.text-center
          .btn.btn-sm.handled-button(ng-class="{'btn-warning':!error.handled, 'btn-success':error.handled}" ng-click="handle(error); $event.stopPropagation()")
            .fa.fa-heart(ng-show="error.handled")
            .fa.fa-close(ng-show="!error.handled")

      .details.col-md-12(ng-show="error.expanded")
        .row.heading
          .col-md-3
            .badge Reference
          .col-md-1
            .badge Method
          .col-md-8
            .badge URL
        .row
          .col-md-3 {{error.reference}}
          .col-md-1 {{error.method}}
          .col-md-8 {{error.url}}
        .row.heading
          .col-md-3
            .badge User
          .col-md-3
            .badge Browser
          .col-md-3
            .badge OS
          .col-md-3
            .badge Device
        .row
          .col-md-3 {{error.email}}
          .col-md-3 {{error.ua_browser.name}} {{error.ua_browser.major}}
          .col-md-3 {{error.ua_os.name}} {{error.ua_os.version}}
          .col-md-3 {{error.ua_device.vendor}} {{error.ua_device.model}}
        .row.heading
          .col-md-11
            .badge Details
          .col-md-1
            .badge github
        .row(ng-repeat="frame in (error.details.split('\\n')) track by $index")
          .col-md-11.stack
            pre {{frame}}
          .col-md-1.stack
            pre
              a(target="_blank" ng-if="frame.indexOf('/backend')!=-1" href="https://github.com/realtymaps/map/tree/{{error.git_revision || 'master'}}/{{frame.slice(frame.indexOf('backend')).split(':')[0]}}\#L{{frame.split(':')[1]}}") source
