doctype html
html(lang='en', ng-app='#{ngApp}' ng-strict-di)
  include _head
  body(rmaps-root-event)
    <!--[if lt IE 8]>
    p.browserupgrade You are using an #[strong outdated] browser. Please #[a(href="http://browsehappy.com/") upgrade your browser] to improve your experience.
    <![endif]-->
    block content
    include _footer
