#select-recipients(ng-class="activeStep == 'recipient' ? 'active' : ''")
    header.send-progress
        button(class="btn btn-primary pull-right" ng-click="setActiveStep('sender-info')") Next
        div.pathway
            ul
                li.active
                    span Recipient
                li
                    span Sender Info
                li
                    span Select Template
                li
                    span Edit Template
                li
                    span Confirm

    div.inner
        div.container
            h1.pageTitle Recipient
            form
                ul.recipients-list
                    li(ng-repeat="project in projectsArray" class="project-item" )
                        div.checkbox
                            label
                                input(type="checkbox")
                                | {{project.title}}
                        ul.send-to
                            li
                                div.radio
                                    label
                                        input(type="radio" name="Send-to")
                                        span Send to all properties in project
                            li
                                div.radio
                                    label
                                        input(type="radio" name="Send-to")
                                        span Send to selecteed properties in project