.return-address-window
  .return-address-text
    .address-line {{sender_name}}
    .address-line {{sender_address_line1}}
    .address-line {{sender_city}}, {{sender_state}} {{sender_zip}}
.recipient-address-window
  .recipient-address-text
    .address-line {{recipient_name}}
    .address-line {{recipient_address_line1}}
    .address-line {{recipient_city}}, {{recipient_state}} {{recipient_zip}}
