.letter-body
  .letter-page
    p Good Day,
    p
      br
    p I am writing today to advise you that [**** I / we ****] have just listed the property at [**** ADDRESS ****].  Since this property adjoins the property you own, we would like to offer you an advance opportunity to purchase this property before we offer it [**** through the MLS / to the general public ****].
    p
      br
    p Aside from the fact that this particular [**** home / parcel / TYPE OF PROPERTY ****]  represents a good investment, [**** I / we ****] recognize that there may be advantages to you to own [**** land / property ****] adjacent to your own.
    p
      br
    p I will be happy to give you the specific information about the property and answer your questions.  Please feel free to call me.  There is no obligation on your part, and if you prefer to have your own broker contact me, I will gladly cooperate fully and professionally with the broker of your choosing.
    p
      br
    p Best Regards,
    p
      br
    p {{sender_name}}
    p {{sender_business_name}}
    p {{sender_phone}}
    p {{sender_email}}






   

 




