//---- content attempt 1 ----//

.letter-page
  .letter-page-content
    .letter-page-content-text
      span(style="color: black") 
        span(style="font-family: Helvetica")
          span.fontSize18 This box is the safe area. {{address}} Do not put text outside this box. If you are using the data argument, you can add variables like this: {{name}}.

  #return-address-window
    #return-address-text
      .editable
        span(style="color: black")
          span(style="font-family: Helvetica")
            span.fontSize12 The Return Address will be printed here. This area will be visible through the envelope window.
  #recipient-address-window
    #recipient-address-text 
      .editable
        span(style="color: black")
          span(style="font-family: Helvetica")
            span.fontSize12 The Recipient's Address will be printed here. This area will be visible through the envelope window.
