.letter-body
  .letter-page
    p Dear {{recipient_name}},
    br
    p I am currently helping my clients, Jack & Mary, look for a home, specifically within Naples.  Moving from Minnesota, they are excited about the warm weather and close proximity to the Gulf.  We have looked at the homes currently for sale in their price range, and some of them fit what they are looking for quite well.
    br
    p In an attempt to find other opportunities, we thought we would contact homeowners in Naples who may be thinking about selling either now or in the near future.
    br
    p We are a full service Real Estate Firm, and this letter is a sincere attempt to find a home for my clients.  If you are interested in selling, please contact me to set up a no-obligation appointment to determine if your home could be right for Jack & Mary.
    br
    p Regards,
    br
    p Tony the Tiger
