//- <div class="page">
//-   <div class="page-content">
//-     <div class="text" style="top: 3in">
//-       The grey box is the safe area. Do not put text outside this box. If you are using the data argument, you can add variables like this: {{variable_name}}.
//-     </div>
//-   </div>
//-   <div id="return-address-window">
//-     <div id="return-address-text">
//-       The Return Address will be printed here. The red area will be visible through the envelope window.
//-     </div>
//-   </div>
//-   <div id="recipient-address-window">
//-     <div id="recipient-address-text">
//-       The Recipient's Address will be printed here. The red area will be visible through the envelope window.
//-     </div>
//-   </div>
//- </div>
//- <div class="page">
//-   <div class="page-content">
//-     <div class="text">
//-       This is a second page.
//-     </div>
//-   </div>
//- </div>

.letter-page
  .letter-page-content
    .letter-page-content-text
      .editable
        span(style="color: black") 
          span(style="font-family: Helvetica")
            span.fontSize18 This box is the safe area. Do not put text outside this box. If you are using the data argument, you can add variables like this: {{name}}.
  #return-address-window
    #return-address-text
      .editable
        span(style="color: black")
          span(style="font-family: Helvetica")
            span.fontSize12 The Return Address will be printed here. The red area will be visible through the envelope window.
  #recipient-address-window
    #recipient-address-text 
      .editable
        span(style="color: black")
          span(style="font-family: Helvetica")
            span.fontSize12 The Recipient's Address will be printed here. The red area will be visible through the envelope window.


