.letter-body
  .letter-page
    p Dear Homeowner,
    p
      br
    p I see that you have put your home on the market and are preferring to sell it on your own - a decision I totally respect.  There is a vast amount of information and facts about sellers who chose to “go it alone” and why it’s generally less successful than working with a professional agent, so I won’t bore you with those statistics.  (You can always ask me and I’ll share them.)
    p
      br
    p My skills as a REALTOR include marketing expertise that you may find beneficial should your “by owner” experience becomes frustrating or discouraging.
    p
      br
    p A few things that you may appreciate knowing:
    p
      br
    ul
      li [[ NAME OF BROKERAGE FIRM ]] advertises in the local newspapers such as [[ NAMES OF PUBLICATIONS ]], and on a multitude of web sites and internet outlets.  There is no extra charge to our clients for these advertisements.

      li These types of advertisements are time-tested and proven to generate interest in our listings, and bring about the majority of successful transactions for our clients.

      li [[ NAME OF BROKERAGE FIRM ]] has built a solid foundation in this community over the pasts [[ # OF YEARS ]] and is well respected by fellow real estate practitioners, an important ingredient  when cooperating with area agents and brokers to get your home sold for the highest dollar in the least amount of time.
    p In time, if you should determine that selling on your own just isn’t working out as you had hoped, please permit me the opportunity to meet with you personally and demonstrate why [[ my / our ]] special brand of services may be just what you need to achieve your goals.
    p
      br
    p Best Regards,
    p
      br
    p {{sender_name}}
    p {{sender_business_name}}
    p {{sender_phone}}
    p {{sender_email}}



  


 


  

 

 



