.letter-body
  .letter-page
    p Dear Property Owner,
    p
      br
    p I have a prospect who is interested in purchasing your property located at {{property_address}}. They are prepared to pay cash, and close quickly with no contingencies other than typical environmental inspections.
    p
      br
    p If you would be interested in selling your property, prior to showing the property to my prospect, we would need to first execute a single party short term listing agreement that is specific and limited to this one prospect (or any affiliates). In the event you do not reach an agreement as referenced herein, then you would have no obligations of any kind.
    p
      br
    p If you would be interested in exploring this further please contact me at: {{sender_phone}} or {{sender_email}}
    p
      br
    p Thank you for your consideration of this inquiry.
    p
      br
    p Best Regards,
    p
      br
    p {{sender_name}}
    p {{sender_business_name}}
    p {{sender_phone}}
    p {{sender_email}}

 



  





   

 




