.letter-body
  .letter-page
    p Good Day,
    p
      br
    p I have a client who is interested in purchasing your property located at {{property_address}}. They are prepared to pay cash, and close quickly with no contingencies.  Any real estate fees will be paid exclusively by the buyer.
    p
      br
    p If you would be interested in exploring this further please contact me at: {{sender_phone}} or {{sender_email}}
    p
      br
    p Thank you for your consideration of this inquiry.
    p
      br
    p Best Regards,
    p
      br
    p {{sender_name}}
    p {{sender_business_name}}
    p {{sender_phone}}
    p {{sender_email}}



 

  

 



  





   

 




