.letter-page
  p
    span.colorRed (Client name and address block)

  p Hello 
    span.colorRed (first name),

  p My name is 
    span.colorRed (your name)
    | and I am a real estate 
    span.colorRed (broker or sales person) 
    | who focuses on serving the real estate needs of home buyers and sellers in (name of neighborhood(s) or geographic region). I’d like to take this opportunity to reach out to you and see if you have any real estate needs at this time?

  p Some of my recent transactions include:

  p (insert 2-3 recent sales/listings: two-bedroom, listed for xx months sold for $)

  p Should you work with me, I will work tirelessly to ensure you are connected with the best real estate opportunities. My services include:

  ul
    li Real estate sales
    li Real estate purchases
    li Real estate home staging
    li Relocation
    li Local real estate market reports
    li Local real estate market expertise and guidance
    li Real estate professional referrals (for those moving to another state or country)
    li Real estate leasing (commercial, industrial, retail, residential)
    li Other: do you have a unique real estate issue that you need assistance with? I am happy to work with you to find solutions.

  p I hope you will consider contacting me for your future real estate needs. My contact information is below.

  p Best Wishes,
  p Name
  p Phone
  p Email Address
  p RE license #
  p firm name
  p firm address
