.letter-body
  .letter-page
    p Dear Homeowner,
    p
      br
    p I am currently working with clients who are looking for a home in your neighborhood.  My clients have seen many homes currently on the market, but none have fully met their needs and preferences.
    p
      br
    p In an effort to find other possibilities, I am reaching out to you, and other homeowners in the area, to help my clients find the right home.
    p
      br
    p My firm, {{sender_business_name}}, is a full service brokerage, and I am a full-time [[ agent / broker ]] that specializes in the [[ NEIGHBORHOOD / AREA ]].   This letter is an earnest attempt to find the right home for my buyer clients.  If there is a chance you would consider selling, I would appreciate it if you would contact me to discuss the opportunity.  There is no obligation on your part.
    p
      br
    p If you have a broker you prefer to work with, please have them contact me on your behalf, and I will gladly discuss the details with them.  My goal is to achieve a successful purchase for my clients that is mutually beneficial to all.
    p
      br
    p Thank you for your consideration of this inquiry.
    p
      br
    p Best Regards,
    p
      br
    p {{sender_name}}
    p {{sender_business_name}}
    p {{sender_phone}}
    p {{sender_email}}

  

  


  

  




  

  

 


