.letter-body
  .letter-page
    p Dear 
      span.colorRed (name)
      | ,


    p My name is 
      span.colorRed (name) 
      | and I am a real estate 
      span.colorRed (agent, broker) 
      | with 
      span.colorRed (firm name)
      | . I specialize in home buying and selling in your neighborhood. At present I have several interested buyers looking for homes in your neighborhood. However, the inventory of homes for sale is very low. If you are looking to sell your home, or know someone in the neighborhood who is, please contact me. I would be thrilled to work with you.

    p I hope this information on the current housing market is helpful, but please do not hesitate to contact me for more details on the current market.

    p Sincerely,
    p.colorRed Name
    p.colorRed Phone
    p.colorRed Email Address
    p.colorRed RE license #
    p.colorRed Firm Name
    p.colorRed Firm Address
