.letter-body
  .letter-page
    p Dear 
      span.colorRed (Homeowner)
      | ,

    p I am currently helping my clients look for a home, specifically in the 
      span.colorRed (insert city/neighborhood/other area)
      | . We have looked at the homes currently for sale in their price range, and none of them quite fit what my 
      span.colorRed (client/clients) (is/are) 
      | looking for. 

    p In an attempt to find other opportunities, we thought we would contact homeowners in 
      span.colorRed (insert neighborhood/city) 
      | who may be thinking about selling either now or in the near future.

    p We are a full service Real Estate Firm, and this letter is a sincere attempt to find a home for my clients. If you are interested in selling, please contact me to set up a no-obligation appointment to determine if your home could be right for my clients.

    p Sincerely,
    p.colorRed Name
    p.colorRed Phone
    p.colorRed Email Address
    p.colorRed RE license #
    p.colorRed Firm Name
    p.colorRed Firm Address
