.letter-body
  .letter-page
    p Good Day,
    p
      br
    p My research shows that your home is currently being used as a rental unit.  As you may be aware, the market for homes in this neighborhood has been steadily improving in recent [**** months / weeks ****].  During the period of [**** TIME FRAME MM/YYYY to MM/YYYY  ****], the [**** median / mean ****] home sales price for [**** HOME TYPE ****] homes in the area was [**** $$ ****] and the demand for available homes has increased simultaneously.  This may be an excellent time to consider offering your home for sale.
    p
      br
    p My name is {{sender_name}} and I am a real estate [**** agent / broker ****] with {{sender_business_name}}.  My marketing area includes the neighborhood where your current rental home is located, and I am very active with both buyers and sellers in the neighborhood.  If you are interested in taking advantage of the prospects offered by the current market conditions, please don’t hesitate to contact me.  I would be delighted to meet with you.
    p Best Regards,
    p
      br
    p {{sender_name}}
    p {{sender_business_name}}
    p {{sender_phone}}
    p {{sender_email}}