.letter-body
  .letter-page
    p Dear Homeowner,
    p
      br
    p Typically, your home is one of your most valuable assets.  And selling it is often one of the most important financial decisions you’ll make in your lifetime, and one that should be carefully considered and thought out.
    p
      br
    p My name is {{sender_name}} and I am a real estate [**** agent / broker ****] with {{sender_business_name}}.  My marketing area includes the neighborhood where your current rental home is located, and I am very active with both buyers and sellers in the neighborhood.  If you are interested in taking advantage of the prospects offered by the current market conditions, please don’t hesitate to contact me.  I would be delighted to meet with you.
    p
      br
    p As a REALTOR in your neighborhood for [**** NUMBER ****] years, I have completed many successful sales in the area, and have the skills, market knowledge, and up-to-the-minute technological tools to assist buyers and sellers in achieving their goals.
    p
      br
    p In order for you to realize the full financial reward from the sale of your home, we all know that it takes a well-planned and executed strategy.  [**** I am / my team and I are ****] positioned to devise and deliver a plan that best fits your individual situation and focuses on the specific financial potential represented by the sale of your home.  And if purchasing a new home in the area is part of your plan, [**** I / we ****] have the expertise and know-how to align all the elements that make for a smooth experience.
    p
      br
    p I would be happy to meet with you for a no-obligation discussion of what sets [**** me / me and my team ****] apart from the competition, and show you how [**** I / we ****] routinely deliver results that are rated ‘above-average’ by past clients.
    p
      br
    p Thank you,
    p
      br
    p {{sender_name}}
    p {{sender_business_name}}
    p {{sender_phone}}
    p {{sender_email}}



  

  

 


