.letter-body
  .letter-page
    p Dear Homeowner,
    p
      br
    p If you’re like most people, when you get together with friends, neighbors, or family, the topic of real estate almost always enters the conversation.  Practically every time I’m in a restaurant, or at a public event, someone is talking about the market, home values, interest rates, and knows of someone who is either buying, or selling.
    p
      br
    p Like many homeowners, you too may be wondering if this is a good time to think about making a move.  And I can assure you that whether for lifestyle reasons (up or down sizing), or for financial reasons, the market is robust enough in our area to warrant selling and/or buying.  And all indications are that the market will be solid for at least the next several months.
    p
      br
    p I’ve been a full time agent in the [**** NEIGBORHOOD / AREA ****] for [**** NUMBER ****] years, and have participated in numerous sales in the area, including:
    p
      br
    ul
      li [**** LIST PAST or CURRENT LISTINGS ****]
    p My clients would be happy to provide references if you are so inclined.
    p
      br
    p Please contact me if you are interested in finding out the market value for your home, or just to gain more insight into the current selling and buying market opportunities.
    p
      br
    p Thank you for your time,
    p
      br
    p {{sender_name}}
    p {{sender_business_name}}
    p {{sender_phone}}
    p {{sender_email}}
