.letter-body
  .letter-page
    
    p Dear Homeowner,
    p
      br
    p My name is {{sender_name}} and I am a real estate [**** broker / sales person ****] with {{sender_business_name}}.  I’d like to take this opportunity to reach out to you and remind you that I am very active in [**** NEIGHBORHOOD /  GEOGRAPHIC AREA /  COUNTY / REGION ****] serving the needs of buyers and sellers for [**** # OF YEARS ****].
    p
      br
    p I believe it is a good thing that homeowners and buyers have access to vast amounts of data and information - more than ever - but it takes an agent with my experience and professional judgement to help sort through all that information and determine what is relevant to your particular situation.
    p
      br
    p Please know you can contact me any time, even if you’re not planning to sell or buy in the immediate future.  Some things you may want to call about:
    p
      br
    ul
      li A general overview of the local market
      li Investing in real estate.  Could becoming a landlord be good for your financial goals?
      li The impact of schools on home values
      li Referring a colleague, family member, or friend for real estate services
      li Get a referral for a trades person - a landscaper, electrician, or other service professional
    p
      br   
    p My contact information is below.  I hope you will feel free to call me any time.
    p
      br
    p Best Regards,
    p
      br
    p {{sender_name}}
    p {{sender_business_name}}
    p {{sender_phone}}
    p {{sender_email}}




  







  

