div.notes-layer
   div.tutorial
    p Tap to place a note
   ul(ng-controller="PopoverCtrl")
     li(class="note-enity" ng-repeat="note in notesArray" style="left:{{$index * 200 + 200}}px")
      div.circle-nr(popover-template="dynamicPopover.templateUrl")
        span {{$index}}
        script(type="text/ng-template" id="PopoverTemplate.html")
          form
            div.popover-header
              h3.title Leave a note
              span.icon.icon-close(ng-click="close()")
            div(class="leave-a-note")
              div.form-group
                 textarea(class="form-control" id="leave_a_note" placeholder="Note..." rows="5")
                 p.text-right 200 Characters
              div.form-group
                div.text-center
                  button(class="btn btn-default" ng-click="close()") Cancel
                  button(type="submit" class="btn btn-primary" ng-click="save()") Save