mixin avatarMixin()
  div()&attributes(attributes)
    span(ng-cloak ng-if="!!user.account_image_id")
        img(rmaps-cdn-image ng-src="{{backendRoutes.userSession.image}}" title="{{user.username}}")
    span(ng-cloak ng-if="!!!user.account_image_id")
        img(rmaps-cdn-image ng-src="{{frontendRoutes.avatar}}" title="{{user.username}}")
