include _circleNrMixin.jade

mixin noteMixin(first_name, last_name, text, circleNrArg)
  .note-mixin
    +circleNrMixin(circleNrArg)
    span.content
      span.author #{first_name} #{last_name} &nbsp;
      span.text #{text}
