mixin resultButtons(resultName)
  div.btn-actions
    //button.details
    //  span.icon.icon-arrow
    //  span See details
    button.pinto(ng-click="formatters.results.clickSaveResultFromList(resultName); $event.stopPropagation()")
      span.icon.icon-pin
      span Pin to
    button.send(ng-controller="rmapsMailCtrl" ng-click="formatters.results.sendSnail(#{resultName}); $event.stopPropagation()")
      span.icon.icon-send_email
      span Mail

    button.snail.btn.btn-primary-outline.btn-xs(
    ng-click="formatters.results.zoomTo(#{resultName}); $event.stopPropagation()")
        i.fa.fa-map-marker &nbsp;
        | Zoom To
