@import '../variables.styl'

.tiny-avatar
  img, span
    width 100%
    border-radius 5px
    object-fit contain
    display block

.avatar-image
  width 100%
  height 100%
  border-radius $avatarRadius

img.avatar
  @extends .avatar-image

.avatar
  img, span
    @extends .avatar-image
