@import './results'

/*****************
Detail Container
*****************/
#detail-list
  width:100%
  .container
    width: 100%

  .info .container
    data()

#detail-close
  float: left
  width: 35px
  height: 100%
  font-size: 1.3em
  background-repeat: no-repeat
  background-position: center center
  position: absolute
  left: -35px
  .fa
    color: $white

detailData()
  font-size 18px

detailTitle()
  basicTitle()
  font-size 14px

.detail-container
  width: 500px
  savedButton()
  $fnMobileToolbarPadding()
  @extends .slide-out-container
  z-index: 1001 /*above results by 1*/

  .sold-date.info.title
      margin: 0

  /* bootstraps row col defaults */
  .row
    margin-left: 0px
    margin-right: 0px
  for num in (1..12)
    .col-xs-{num}, .col-sm-{num}, .col-md-{num}, .col-lg-{num}
      padding-left: 0px
      padding-right: 0px

  $fnropertyStatus()

  .indent
    padding-left 15px

  #detail-list-inner
    float: left
    $fnOverrideSliderBackgroundColor()

  #detail-list
    height 100%
    background: $white
    overflow-y: auto
    position: absolute

  .sk-spinner.sk-spinner-double-bounce
    /*make backgound via absolute*/
    position absolute
    top 17%
    left 50%
  .sk-spinner-double-bounce .sk-double-bounce1, .sk-spinner-double-bounce .sk-double-bounce2
    background-color $rm-medium-blue-darker

  .angular-google-map-street-view-panorama
    height 300px

  .sat-map
    height 300px

  .angular-leaflet-map
    height 300px
    width 100%
    position absolute
    top 0px
    background #e3e1de

  .detail-title
    detailTitle()

  .price
    font-size 20px
    color $rm-medium-blue-darker
    text-align left

  .address
    font-size 20px
    color $rm-medium-blue-darker
    @extend .text-wrap

  .city-state-zip
    font-size: 14px
    color: #4D4D4D
    margin-bottom: 10px

  .quick-summary .title
    line-height: 0

  .photo
    height: 200px
    background: no-repeat url("http://placehold.it/500x300&text=image%20not%20available")

  .beds-baths-sqft
    text-align: left

  .info:hover, .data:hover
    @extend .text-overflow-x:hover

  .info, .data
    @extend .text-overflow-x
    detailData()

  .description
    @extend .detail-container .data
    @extend .text-wrap
    font-size: .8em

  .info
    margin-top: 10px
    margin-right: auto
    margin-left: auto
    padding-left: 15px

  .info .title
    detailTitle()

  .divider
    border-bottom: 1px dashed #CCC

  .detail-section-title
    border-bottom: 1px solid #A7A7A7
    margin-top: 15px
    color: rgb(92, 92, 92)
    font-size: 18px
    font-weight: 200
