#detail-card-tray
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 10
  padding: 10px 0 0 0;

  @extends .font-museo-500

  .detail-card
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background: white;
    border: solid 1px #ddd;
    border-bottom: none;
    padding: 5px;

  .angular-google-map-street-view-panorama
    height 90px
    width 90px
    float left

  .card-info
    margin-left: 100px;

  .price
    font-size 18px
    color $rm-medium-blue-darker

