/* Hero Container
============================================================================= */
.hero-container
    width 95%
    height 100%
    a
        padding: 50px
        display: block
        cursor: pointer
        $border-radius(25px)
        &:hover
            text-decoration none
            background-color rgba(220,220,255,.1)
            .hero-text
                color $light_blue_select

.hero-container
    width 100%
    display block
    margin 0 auto


.hero-container img
    width 100%

.hero-text
    font-weight 100
    font-size 15px
    text-align center
    letter-spacing .2em
    margin 1.1363636363636365em 0 0 0
    color $white

.welcome-1
  background-image url("/assets/homesAerial1.jpg")
  background-position 36%
.welcome-2
  background-image url("/assets/homesAerial2.jpg")
  background-position 17%
.welcome-3
  background-image url("/assets/homesSide1.jpg")
  background-position 20% 45%

a.main
  background-color rgba(22, 27, 26, 0.72)
  border-radius 25px
  &:hover
    background-color rgba(22, 27, 26, 0.85)

@media (min-width: 768px)
    .hero-container
        width 80%
    .hero-text
        font-size 20px
    .welcome-1, .welcome-2
      background-position 0%
    .welcome-3
      background-position 0% 45%

@media (min-width: 1200px)
    .hero-container
        width 80%

    .hero-text
        font-size 22px
