/* Hero Container
============================================================================= */
.hero-container
    width 95%
    height 100%
    a
        padding: 50px
        display: block
        cursor: pointer
        $border-radius(25px)
        &:hover
            text-decoration: none
            background-color: rgba(220,220,255,.1)
            .hero-text
                color: #FFF

.hero-container
    width 100%
    display block
    margin 0 auto


.hero-container img
    width 100%

.hero-text
    font-weight 100
    font-size 15px
    text-align center
    letter-spacing .2em
    margin 1.1363636363636365em 0 0 0
    color rgba(255, 255, 255, 0.51)

@media (min-width: 768px)
    .hero-container
        width 80%
    .hero-text
        font-size 20px

@media (min-width: 1200px)
    .hero-container
        width 80%

    .hero-text
        font-size 22px
