.login-page
  .centered
    top 40%
  height 100%
  width 100%
  background-color $dark_blue_darker

  form
  label[for=remember_me]
    margin-top 5px
    color rgba(255, 255, 255, 0.67)

  .logo
    height $logoHeight
    width @height
    overflow hidden

  .copyright
    margin-top: 50px
    color: grey

  .forgot
    display flex
    justify-content space-between
    align-items baseline
  .btn
    color $white
    font-size 14px

.logout-page
  height 100%
  width 100%
  background-color $dark_blue_darker
