.login-page

  form
  label[for=remember_me]
    margin-top: 5px

  height 350px

  .logo
    height: $logo-height
    width: @height
    overflow: hidden

  .copyright
    margin-top: 50px
    color: grey


