@import '../mailTemplates/editor.styl'
@import '../mailTemplates/template-frags.styl'
@import '../mailTemplates/template-classes.styl'

#mail
  @extends .font-regular
  @extends .table-view

//
// mail-price sheet
// import: pricing_table.jade
// controller: rmapsMailPricingsCtrl
//

// govern the width of the mail-price-sheet wherever it's imported
.mail-prices-review-container
  float left
  width 400px

.mail-prices-modal-container
  text-align center
  margin auto
  width 400px

// mail-price sheet stylings (mail_pricing_table.jade)
.mail-prices
  .head, .value
    padding 10px
    width 20%
    display flex
    align-items center

  .head
    justify-content flex-end

  .value
    border 1px solid black
    justify-content center

  .pages, .prices
    display flex
    flex-direction row

  .pages.color-chart
    color $black
    :nth-child(2)
      border-top-left-radius 4px
    :nth-child(5)
      border-top-right-radius 4px

  .prices.color-chart
    color $black
    :nth-child(2)
      border-bottom-left-radius 4px
    :nth-child(5)
      border-bottom-right-radius 4px
    :nth-child(n+2)
      background-color $transparent_blue

  .pages.bnw-chart
    color $black
    :nth-child(2)
      border-top-left-radius 4px
    :nth-child(5)
      border-top-right-radius 4px

  .prices.bnw-chart
    color $black
    :nth-child(2)
      border-bottom-left-radius 4px
    :nth-child(5)
      border-bottom-right-radius 4px
    :nth-child(n+2)
      background-color $black_gradient_10


//
// bnw and color buttons on review page
//

.color-selector
  float left
  margin-top 10px
  text-align center

  .btn
    padding 2px 14px

  label
    font-size 14px

  .disabled
    cursor not-allowed

//
// modals
//
.confirm-mail-modal
  .faded
    opacity 0.4

  .confirm-widgets
    text-align center

  .modal-body, .modal-footer, .modal-body p
    font-size 18px

  .sentinel
    margin 15px

  .sentinel-message
    text-align left

  .modal-footer
    border-top 1px solid $gray_lighter !important

.preview-mail-window
  .modal-content, .modal-body
    overflow hidden

  .modal-body
    text-align center
    height 100%

    .waiting
      display flex
      justify-content center
      margin-top 100px
      p
        font-size 30px
      img
        height 30px
        width 30px

  .iframe-preview-postcard, .modal-dialog
    width 10in
    height 90%

  .modal-content
    background-color #FFFFFF
    height 100%

  .iframe-preview-letter
    width 622px // 8.5 @ 72 ppi
    height 792px // 11 @ 72 ppi
    box-shadow 0px 4px 15px $black_40
    border 1px solid rgba(0, 0, 0, 0.2)

  .pdf-preview-letter
    width 8.5in
    height 90%
    border 1px solid rgba(0, 0, 0, 0.2)

.address-list-modal
  font-family "museo_sans500"
  table
    width 100%
    td
      padding 5px


.pdf-upload
  float right

  .file-select
    position relative
    overflow hidden
    margin 10px

    input.upload
      position absolute
      top 0
      right 0
      margin 0
      padding 0
      font-size 20px
      cursor pointer
      opacity 0
      @css {
        filter: alpha(opacity=0);
      }


  .file-progress
    .file-progress-indicator
      position relative
      top 18px
      color black
      // line-height 15px
      // font-size 15px
      display inline-block
      width 130px
      border 3px groove #CCC

      .file-upload-bar
        background #35a7e0
        height 20px
        width 0

      .progress-text
        position relative
        top -20px
        text-align center
        font-size smaller
        line-height 20px
        font-size 15px

  .done-fade
    -webkit-transition opacity 4s
    transition opacity 4s
    opacity 0

//
// main mail stylings, and wizard
//

.mail
  @extends .font-regular
  @extends .table-view

  .table .fa-caret-down, .table .fa-caret-up
    margin-left 4px

  .table th
    cursor pointer

  .inner
    overflow auto

  .disabled
    opacity 0.3

  .mail-wizard-steps
    header.send-progress
      background-color $dark_white
      padding 10px 20px
      border-bottom 1px solid $gray_lighter
      overflow hidden
      .pathway
        margin 0
        border 0 none
        ul
          margin 0
          li
            line-height 32px
            &:after
              line-height 32px

  .mail-wizard

    label, input
      color $black

    .nav-tabs li
      margin-bottom 0
      height 46px
      padding 0
      text-align center

    .nav-tabs li button
      margin-top 7px

    .btn.btn-default.active
      background-color #123d74

    .toolGroup
      width 8.5in
      margin auto
      display flex
      justify-content space-between

      .btns
        display flex

      input
        display inline-block
        align-self center
        text-align left
        padding 0

      .btn-toolbar
        margin 0
      button
        margin-left 5px
        height 2.5em
        align-self center

      .miscTools::before, .btn-toolbar::before
        display initial
        content initial

      .miscTools::after, .btn-toolbar::after
        clear initial

    .name-input
      border 0
      box-shadow none
      font-size 30px
      height 50px
      text-align center
      background-color #dbdee1
      border-radius 0
      font-style italic

    .name-input:hover
      background-color #cacdd0

    .recipient-info
      .send-to

        label
          display block
          font-size 18px
          line-height 2em
          border-bottom 1px solid $gray_lighter
          padding 20px
          cursor pointer

          &:last-child
            border 0 none

          input
            visibility hidden

          i
            color transparent
            margin-right 0.5em
            border 1px solid $gray
            background-color $dark_white
            border-radius 6px

          input:checked + i
            color $light_blue

          span
            display inline-block
            vertical-align top
            line-height 2em

            .total
              color $text_gray_lighter
              text-decoration underline

    .select-template
      .inner .container
        width 80%
        padding-right 0
        padding-left 0

      .filters
        margin 0px -10px 20px

      ul.tmpl-list
        list-style none
        padding 0

        li
          margin-bottom 20px

        .btn
          width 100%
          font-style italic

        .no-tmpl
          font-size 18px
          color black

        .tmpl-item
          border 1px solid white
          border-radius 3px
          padding 10px
          overflow hidden
          display table
          width 100%

          .tmpl-image
            min-width 123px
            height 145px
            vertical-align top
            &.selected
              border 2px solid $light_blue
              border-radius 7px
          .tmpl-data
            display table-cell
            position relative
            padding-left 15px
            padding-right 15px
            text-align center
            h3.tmpl-title
              margin auto
              max-width 123px
              word-wrap break-word
              font-size 14px
              color black
              display block
              vertical-align top
              height 35px
            button
              display inline-block
              position absolute
              right 0
              bottom 0
              width 100%
              min-width 1px

          &:hover
          &:active
            border-color $light_blue

        .delete-button
          height 15px
          width 15px
          position absolute
          top 2px
          right 2px
          cursor pointer
          content url(/assets/closeButton.png)

    .edit-template

      .inner .container
        width 100%
        padding-right 0
        padding-left 0

      ul.nav-tabs
        margin-bottom 0

        .nav-justified
          height 46px
          border-bottom 0

      .nav .ta-toolbar
        margin-left 0 !important

        button
          float right
          margin-right 5px

      .fontTypeTools label.btn:not(.active)
        border 1px solid white

      .edit-template-content
        padding 20px

      .edit-template-design
        padding 20px

      .btn
        min-width 0

    .review
      h1.pageTitle
        float left

      .review-edit-button, .review-preview-button
        margin-top 30px
        margin-left 10px
        float right
        border none

      .review-items
        margin-left 0
        margin-right 0
        .separator
          border-top 1px solid rgb(219, 222, 225)

        .recipients
          .recipient-link
            text-decoration underline
            cursor pointer

        .errors
          h2
            color red

        .content-with-pdf-review
          width 50%

        .pdf-review
          width 40%
          height 600px
          float right
          text-align center

          embed
            width 100%
            height 100%
            border 1px solid black
            margin auto

        .color-toggle input
          margin 0

.send-to
  label
    display block
    font-size 18px
    line-height 2em
    border-bottom 1px solid $gray_lighter
    padding 20px
    cursor pointer

    &:last-child
      border 0 none

    input
      visibility hidden

    i
      color transparent
      margin-right 0.5em
      border 1px solid $gray
      background-color $dark_white
      border-radius 6px

    input:checked + i
      color $light_blue

    span
      display inline-block
      vertical-align top
      line-height 2em

      .total
        color $text_gray_lighter
        text-decoration underline
