.map
  overflow hidden

.angular-leaflet-map
  height 100%
  width 100%
  position absolute
  background #e3e1de

.angular-google-map-container
    height 100%
    width 100%
    position absolute
    bottom 0
    background #e3e1de

img
  max-width none;

img[src*="gstatic.com/"], img[src*="googleapis.com/"]
  max-width none;

/*
This seems to really help with the scaling problems if markers on zoom in and out via mouse scroll

http://stackoverflow.com/questions/7471830/google-maps-api-v3-weird-ui-display-glitches-with-screenshot*/
.gm-style img
  max-width: none

.gm-style label
  width: auto; display: inline

.middle
    display table
    width 50%
    margin-left auto
    margin-right auto

/*
Use bootstraps container w/ some overrides, nice thing about this on bootstrap is there is
psuedo element with clearfix and display: table; , all after (which is why I know .middle works above)
*/

.full-width.container
    width 100%
    padding-left 0
    padding-right 0

/*
http://stackoverflow.com/questions/1554893/google-maps-api-v3-infowindow-not-sizing-correctly
*/
.gm-style-iw
  overflow  auto !important
  max-width 300px
  max-height 175px

.gm-style-iw > div
  overflow auto !important
  max-width 300px
  max-height 175px

.custom-info-window
  box-shadow: 4px 2px 6px rgba(0,0,0,.4)
  width: 260px;


.address-label
  color: #000
  font-size: 11px !important;
  font-weight: 100 !important;
  font-family: verdana !important;

/*currently also in map.jade (this may be importable from js to css/stylus via require)*/
.manual-cluster
  color:#fff;
  font-size: 22px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  width: 41px;
  line-height:40px;

img.manual-cluster{
  position: absolute;
  top: 0px;
  left: 0px;
  clip: rect(0px, 041px, 040px, 0px);
}

.leaflet-marker-icon
  height 0
  overflow: visible !important

  .price-marker
    position absolute
    font-size 12px
    color $rmMainDarkBlue
    box-shadow 3px 3px 10px rgba(0,0,0, 0.4)
    //offset for centering pin on property
    bottom 45px
    left 30px
    min-width 60px
    border 2px solid $rm-marker-border
    border-radius 2px

    &:before
      position absolute
      bottom -18px
      left 0px
      border 9px solid
      content ' '
      height 0
      width 0
      left -2px
    &:after
      position absolute
      bottom -14px
      left 0px
      border 7px solid
      content ' '
      height 0
      width 0
      left 0

    .price
      padding 3px 7px
      text-align center
      font-size 12px
      color #FFF
      letter-spacing .1em
      font-weight 700

    .icons
      border-bottom 1px solid rgba(0, 0, 0, .3)
      padding 0 2px
      padding 0 2px
      border-radius 2px
      text-align center
      font-size 18px
      color $black_60

      .icon
        width 50%
        padding 5px
        display inline

    // These set the colors for the marker and border.  The before/after are for the triangle and its border.
    &.label-sale-property
      background-color $rm_forsale
      border-color $rm_forsale_darker
      &:before
        border-color $rm_forsale_darker transparent transparent $rm_forsale_darker !important
      &:after
        border-color $rm_forsale transparent transparent $rm_forsale !important
    &.label-pending-property
      background-color $rm_pending
      border-color $rm_pending_darker
      &:before
        border-color $rm_pending_darker transparent transparent $rm_pending_darker !important
      &:after
        border-color $rm_pending transparent transparent $rm_pending !important
    &.label-sold-property
      background-color $rm_sold
      border-color $rm_sold_darker
      &:before
        border-color $rm_sold_darker transparent transparent $rm_sold_darker !important
      &:after
        border-color $rm_sold transparent transparent $rm_sold !important
    &.label-notsale-property
      background-color $rm_notforsale
      border-color $rm_notforsale_darker
      &:before
        border-color $rm_notforsale_darker transparent transparent $rm_notforsale_darker !important
      &:after
        border-color $rm_notforsale transparent transparent $rm_notforsale !important
    &.label-saved-property
      background-color $rm_saved
      border-color $rm_saved_darker
      &:before
        border-color $rm_saved_darker transparent transparent $rm_saved_darker !important
      &:after
        border-color $rm_saved transparent transparent $rm_saved !important

//
// MAP MARKERS
//

// Mail
.mail-marker:hover
  color $gray

// Notes
.note-marker
  position: relative;
  display: inline-block;
  color: $black;

  .note-marker-inner
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

  i
    font-size: 32px;

  span
    color: $white
    line-height: 32px;
    font-weight: bold;

.current-location-marker
  //ported from http://demo.xpertdeveloper.com/pulse_effect/css3_pulse_effect.html
  .pulse-holder
    @keyframes marker-pulse

      0%
        -webkit-transform: scale(0); opacity: 0
        -moz-transform: scale(0); opacity: 0
        transform: scale(0); opacity: 0
      8%
        -webkit-transform: scale(0); opacity: 0
        -moz-transform: scale(0); opacity: 0
        transform: scale(0); opacity: 0
      15%
        -webkit-transform: scale(0.1); opacity: 1
        -moz-transform: scale(0.1); opacity: 1
        transform: scale(0.1); opacity: 1
      30%
        -webkit-transform: scale(0.5); opacity: 1
        -moz-transform: scale(0.5); opacity: 1
        transform: scale(0.5); opacity: 1
      100%
        opacity: 0; -webkit-transform: scale(1)
        opacity: 0; -moz-transform: scale(1)
        opacity: 0; transform: scale(1)

    display: block;

    .pulse-center
      width: 16px;
      height: 16px;
      background: $rm-current-location;
      border-radius: 28px;
      border: 2px solid #FFF;

    .pulse-rays
      margin: 0 auto;
      border-radius: 100px;
      position: absolute;
      right: -27.5px;
      top: -24px;
      z-index: 10;
      background-color: transparent;
      opacity: 0.1;
      width: 64px;
      height: 64px;
      border: 2px solid $rm-current-location;
      border-radius: 100px;
      /* Giving Animation Function */
      $fnMakeAnimation(marker-pulse 2s linear infinite)
      border-image: initial;
