@import './onboarding/onboardingPlan.styl'
@import './onboarding/onboardingPayment.styl'
@import './onboarding/onboardingFinishYay.styl'
@import '../../../common/styles/makeFormGroup.styl'

.onboarding
  .container
    margin auto
  .label
    font-size inherit
    font-weight inherit
    padding inherit
    display block
    margin-left 15px
    color $black
    text-align inherit

  .inline
    display inline

  a
    &.inline
      margin-left 10px

  $fnMakeFormGroup()
