@import './onBoarding/onBoardingPlan.styl'
@import './onBoarding/onBoardingPayment.styl'

.onboarding
  .container
    margin auto
  .label
    font-size inherit
    font-weight inherit
    padding inherit
    display block
    margin-left 15px
    color $black
    text-align inherit

  .form-group
    margin-bottom 5px
    &.form-field
      min-height 69px

    span
      label
        &.has-error
          //begin angular-validaiton and angular-credit-card
          //gets the validation errors to inline
          display inline
          //end angular-validaiton and angular-credit-card
          white-space nowrap
          overflow-x visible
          padding-left 5px
          text-align start
