.profiles
  .centered
    width 75%
    top: 20%

  background-color $dark_blue_darker
  height: 100%
  width: 100%

  input
    color: black

  .list-group
    button
      width: 100%
      margin: 10px
