#projects
  @extends .table-view
  @extends .font-regular

  .archive-btn
    div
      padding-right 5px

    div, span
      display inline

  .project-list-item
    height: 92px;

  .project-select-icon
    font-size: 20px;
    margin-right: 14px;

  $projects-widget-width = 14.28%;
  $projects-widget-height = 62px;
  $projects-widgets-width = 100%;
  $projects-widgets-height = $projects-widget-height;

  .project-widgets
    position: absolute;
    left: 10px;
    right: 0px;
    bottom: 0;
    top: 26px;
    height: $projects-widgets-height;
    padding: 0;
    background-color: white;
    z-index: 20;

  .project-widget
    position: relative;
    display: inline-block;
    width: $projects-widget-width;
    height: $projects-widget-height;
    background-color: white;
    margin-bottom: 0;
    text-align: center;
    vertical-align: top;
    font-size: 15px;

    .inner
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

    a
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      color: $black

  .widget-background
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-size: 30px;
    line-height: $projects-widget-height;
    text-align: center;
    z-index: 0;
    opacity: 0.13;

  .widget-title
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    text-transform: none;
    font-size: 11px;
    color: $text_gray_lighter

  .widget-count
    font-size: 20px;
    line-height: $projects-widget-height;
    color: $text_gray_lighter

  .widget-favorite
    .widget-background
      color: $text_gray_lightest !important;

  .widget-pin
    .widget-background
      color: $text_gray_lightest !important;
      opacity: 0.2;
      font-size: 30px;

  .widget-area
    .widget-background
      color: $text_gray_lightest !important;

  .widget-client
    .widget-background
      color: $text_gray_lightest !important;
      font-size: 32px;
      margin-top: -3px;
