@import './results'
@import '../components/property-attr-functions.styl'

/*****************
Property Detail Modal
*****************/

.dmca-modal
  .content-label
    font-size: 12px
    color: black
  .content-value
    font-size: 12px
    line-height: 13px
    color: black
    p
      white-space: pre-wrap;
      margin: 10px 10px

.property-detail-modal
  width: 100%

  .property-detail-container
    padding-top: 25px;

    .mls-disclaimer
      .content-label
        font-size: 8px
        color: black
      .content-value
        width: 100%
        font-size: 9px
        line-height: 10px
        color: black
        p
          white-space: pre-wrap;
          margin: 10px 10px

      .mls-info
        font-size: 14px
        line-height: 14px
        margin 10px 0
      .mls-icon
        text-align: center
        margin: 10px 0
        img
          display: inline
          width: 80px
      .mls-disclaimer
        font-size: 9px
        line-height: 10px
        white-space: pre-wrap;


  .btn-actions
    margin-top: 0px;
    margin-right: -10px;

    button
      border: none;
      background: transparent;
      //font-size: 19px;

      &.button-is-pin
        color: $rm_saved

      &.button-is-favorite
        color: $rm_favorite

      &.button-has-notes
        color: $rm_note

      &.button-has-mail
        color: $rm_mail

.mobile-view
  .property-detail-modal
    .property-detail-container
      padding-top: 0px;
