@import './results'
@import '../components/property-attr-functions.styl'

/*****************
Property Detail Modal
*****************/
.property-detail-modal
  width: 100%

  .property-detail-container
    padding-top: 25px;

  .btn-actions
    margin-top: 0px;
    margin-right: -10px;

    button
      border: none;
      background: transparent;
      //font-size: 19px;

      &.button-is-pin
        color: $rm_saved

      &.button-is-favorite
        color: $rm_favorite

      &.button-has-notes
        color: $rm_note

.mobile-view
  .property-detail-modal
    .property-detail-container
      padding-top: 0px;
