@import './results'
@import '../components/property-attr-functions.styl'

/*****************
Property Detail Modal
*****************/
.property-detail-modal
  width: 100%

  .property-detail-container
    padding-top: 25px;

  .btn-actions
    button
      border: none;
      background: transparent;
      font-size: 19px;

.mobile-view
  .property-detail-modal
    .property-detail-container
      padding-top: 0px;
