.property-modal-buttons
  .btn-actions
    button
      background-color: transparent;
      border: none;

      &.send
        display: none

      &.button-is-pin
        color: $rm_saved

      &.button-is-favorite
        color: $rm_favorite

      &.button-has-notes
        color: $rm_note

      &.button-has-mail
        color: $rm_mai
