.aspect-ratio-container
  width: 100%
  position: relative
  > .aspect-ratio
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

iframe.pdf-preview
  background-color: white
  border: 0

.status-message
  margin-bottom: 10px
  color: #000
  padding: 2px 4px
  border-radius: 4px
  background-color: #EEE
  &.current
    border: 3px solid grey
    margin-bottom: 0
  &.success-message
    color: #4B4
    background-color: #EFE
    border-color: #4B4
  &.old-message
    color: #888
    font-style: italic
  &.error-message
    color: #B44
    background-color: #FEE
    font-style: normal
    border-color: #B44
    .troubleshooting-message
      border-top: 1px solid #B44
      margin-top: 5px

.snail-modal .modal-footer
  margin-top: 0

.height-label,
.width-label
  text-align: center
  vertical-align: bottom
  font-size: 12px
  color: rgba(255,255,255,0.7)
  line-height: 12px
  position: absolute
  padding: 2px
  height: 16px
  width: 100%

.width-label
  top: -16px
  right: 0

.height-label
  top: 0
  left: 100%
  margin-left: 16px
  transform: rotate(90deg)
  -webkit-transform: rotate(90deg)
  -moz-transform: rotate(90deg)
  -ms-transform: rotate(90deg)
  -o-transform: rotate(90deg)
  transform-origin: 0 0
  -webkit-transform-origin: 0 0
  -moz-transform-origin:    0 0
  -ms-transform-origin:     0 0
  -o-transform-origin:      0 0

.hidden-buffer
  position: absolute
  z-index: -1
  visibility: hidden
