@import './avatar'

.user
  @extends .table-view
  .table .fa-caret-down, .table .fa-caret-up
    margin-left 4px
  .table th
    cursor pointer

  margin: auto

  .list-group
    button
      width: 100%
      margin: 10px

  .img-thumbnail
    width: 75%
    @extends .avatar-image

  .img-crop-area
    overflow: hidden
    margin: auto

  .collapse-header
    border-bottom 1px solid $gray_lighter

