@import './avatar'
@import './user/userNotifications'

.cc-modal-body
  padding: 0

  form
    width: 50%
    margin: auto

.cc-form-buttons
  margin: auto
  text-align: center

  input
    border: 0 !important
    min-width: 80% !important


all-buttons()
  padding-top: 30px

all-details()
  margin: auto
  padding: 0 0 15px 0

  .row
    margin: auto
    padding: 0

  h4
    font-weight: 800
    margin-bottom: 30px

  img
    width: 40px
    height: auto

  label
    color: $gray_light

  label, p
    font-family: "museo_sans500"
    font-size: 14px
    font-weight: 600
    line-height: 15px
    padding: 0


.user
  @extends .table-view
  .table .fa-caret-down, .table .fa-caret-up
    margin-left 4px
  .table th
    cursor pointer

  margin: auto

  .inner
    overflow: auto

  .list-group
    button
      width: 100%
      margin: 10px

  .img-thumbnail
    width: 75%
    @extends .avatar-image

  .img-crop-area
    overflow: hidden
    margin: auto

  .collapse-header
    border-bottom 1px solid $gray_lighter

  .help-block
    color: $rm-message-error

  // Basically each user account page content can be reduced to "details", and "buttons".
  // This is some inheritance to help keep styles consistent and organized,
  //   while still being able to single-out special-case things per page
  .cc-details
    .row.credit-card
      border 1px solid $black
      border-radius 5px
      .btn
        width 80px

      .inner-card
        > div
          padding-top 16px
          padding-bottom 8px

        .ignore-padding
          padding-top 8px


      &.default
        background-color: $rm-map-btn-icon
        color $white

      // @media (max-width: sm-1)
      //   .margin-left-5
      //     float left
      //
      // @media (max-width: sm)
      //   .margin-left-5
      //     float right

    all-details()

    .cc-buttons
      all-buttons()


  .mls-details
    all-details()

    label
      margin-top: 20px

  .subscription-details
    all-details()

    label
      margin-top: 20px

    .subscription-buttons
      all-buttons()

    .subscription-status-alert
      color: $rm-subscription-status-warning
