.dataSource.row
  .col-md-1.menu
    ul.nav.nav-pills.nav-stacked
      li
        a(ui-sref="mls" ui-sref-opts="{reload: true}") MLS Setup
      li
        a(ui-sref="normalize" ui-sref-opts="{reload: true}") MLS Rules

  .col-md-11
    div(ng-repeat="state in $state.get() | filter:{parent: 'dataSource'}", ui-view="{{state.name}}", ng-show="$state.includes(state.name)", ng-cloak)

