div.page
  section
    .heroContainer.center-on-page
      div
        // demonstrating expected webpack pooling of assets from all frontend
        // img(src="/assets/logo.png") 
        img(src="/assets/logoAdmin.png")
        //- .heroText
        //-   | Search &nbsp;| &nbsp; Map &nbsp;| &nbsp; Share &nbsp;| &nbsp; Communicate
