div(class="{{pageClass}}", ng-show="$state.is('main')", ng-cloak).page
  section
    .hero-container.admin-page
      .hero-container
        img(src="../../assets/logo.png")
        h3.centered-horizontal() Admin

  
