.btn.btn-primary(ng-click="loadCurrent()") Refresh
.summary-grid(cg-busy="summaryBusy" ui-grid="summaryGrid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning)
.jobs-grid(cg-busy="jobsBusy" ui-grid="jobsGrid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning)
