include ../includes/navbar.jade

.admin-workspace(roll="main")
  include ../views/home.jade
  .admin-page(ng-repeat="state in $state.get() | filter:{parent: 'main'}", ui-view="{{state.name}}", ng-show="$state.includes(state.name)", ng-cloak)

include ../../../common/html/includes/alerts.jade
