div
  form(name="mlsForm")
    .col-md-6
      .row
        progressbar(value="step+1" max="4") Step {{step+1}} of 4
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading
              h3 MLS Data Entry
            .panel-body
              div.animate-container
                div(ng-repeat="formItem in formItems" ng-show="formItem.step == step").animate-show
                  table
                    tr(ng-repeat="(formField, settings) in formItem.formFields")
                      td
                        label.data-label {{settings.label}}&nbsp({{settings.type}})
                      td
                        input(ng-if="settings.type != 'select'" type="{{settings.type}}" value="{{settings.default}}")
                        select(ng-if="settings.type == 'select'")
                          option(ng-repeat="(value, text) in settings.options" value="{{value}}") {{text}}
                  button(ng-click="proceed(formItem.step)") Submit

      .row
        br
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading
              h3 MLS Data
            .panel-body
              table.table-striped
                tr(ng-repeat="(key, value) in mlsData")
                  td
                    label.data-label {{key}}
                  td
                    span.data-entry {{value}}
              //- p
              //-   label.data-label ID:
              //-   span.data-entry
              //-     {{ mlsData.id }}
    .col-md-6
      .row
        .col-sm-4
          .panel.panel-default
            .panel-heading
              h3 Example
            .panel-body
              table.table-striped
                tr
                  td Some
                tr
                  td Example
                tr
                  td Data
        .col-sm-4
          .panel.panel-default
            .panel-heading
              h3 Preview
            .panel-body
              table.table-striped
                tr
                  td Some
                tr
                  td Preview
                tr
                  td Data
