include ../includes/navbar.jade

.full-width-container
  div.page
    section
      div.center-on-page.center-content
        h2 MLS Config
        p {{ msg }}

//include ../../../map/html/includes/alerts.jade

