div
  form(name="mlsForm")
    .col-md-12
      .row
        .col-md-6
          .progressPills
            tabset(type="pills")
              tab(ng-repeat="formItem in formItems track by $index" heading="{{formItem.heading}}" disable="formItem.disabled" active="formItem.active" ng-click="!formItem.disabled && proceed($index)")
          .panel.panel-default
            .panel-body
              div.animate-container
                div(ng-repeat="formItem in formItems" ng-show="formItem.step == step" ng-class="{loadingfade: loading}").animate-show
                  div(ng-if="formItem.step == 0" name="step0")
                    table
                      tr
                        td
                          label.data-label Select existing MLS:
                        td
                          select(type="text" ng-model="mlsData.current" ng-options="value as value.id for value in idOptions" ng-change="updateObjectOptions(mlsData.current)")
                            option(value="" disabled)
                      tr
                        td
                          label.data-label Or
                        td
                          button.btn.btn-primary(ng-click="open()") Edit/New MLS

                  div(ng-if="formItem.step == 1")
                    table
                      tr
                        td
                          label.data-label Database:
                        td
                          select(type="text" ng-model="mlsData.current.main_property_data.db" ng-options="value.ResourceID as value.ResourceID for value in dbOptions" ng-change="processAndProceed(2)")
                            option(value="" disabled)
                  div(ng-if="formItem.step == 2" name="step2")
                    table
                      tr
                        td
                          label.data-label Table:
                        td
                          select(type="text" ng-model="mlsData.current.main_property_data.table" ng-options="value.ClassName as value.ClassName+' '+value.VisibleName for value in tableOptions" ng-change="processAndProceed(3)")
                            option(value="" disabled)
                  div(ng-if="formItem.step == 3" name="step3")
                    table
                      tr
                        td
                          label.data-label DateTime:
                        td
                          select(type="text" ng-model="mlsData.current.main_property_data.field" ng-options="value.SystemName as value.LongName group by value.DataType for value in columnOptions")
                            option(value="" disabled)
                      tr
                        td
                          label.data-label Allow on Internet (Optional):
                        td
                          select(type="text" ng-model="mlsData.current.main_property_data.allowInet" ng-options="value.SystemName as value.LongName for value in allowInetOptions | orderBy:'LongName'" ng-change="updateQueryTemplate()")
                            option(value="") -- None --
                      tr
                        td(colSpan="2")
                          label.data-label Formatting:
                      tr
                        td(colSpan="2")
                          input(type="text" ng-model="mlsData.current.main_property_data.queryTemplate" ng-minlength="20").max-width
                      tr(colSpan="2")
                        td
                          button(ng-click="saveMlsData()") Save MLS Config
                div(ng-show="loading").loading-show
                  .loading-panel
                    img(src="/assets/icon_loading_earth.gif").loading-image
                    p Loading...

        .col-md-6(ng-show="mlsData.current.id")
          .progressPills(ng-show="mlsData.current.id")
            tabset(type="pills")
              tab(heading="MLS Data")
          .panel.panel-default
            .panel-body
              table.table-striped
                tr
                  td
                    label.data-label ID:
                  td
                    span.data-entry {{mlsData.current.id}}
                tr
                  td
                    label.data-label Name:
                  td
                    span.data-entry {{mlsData.current.name}}
                tr
                  td
                    label.data-label Username:
                  td
                    span.data-entry {{mlsData.current.username}}
                tr
                  td
                    label.data-label URL:
                  td
                    span.data-entry {{mlsData.current.url}}
                tr
                  td
                    label.data-label Timestamp Column Data
                  td
                    table
                      tr
                        td
                          label.data-label Database:
                        td
                          span.data-entry {{mlsData.current.main_property_data.db}}
                      tr
                        td
                          label.data-label Table:
                        td
                          span.data-entry {{mlsData.current.main_property_data.table}}
                      tr
                        td
                          label.data-label DateTime:
                        td
                          span.data-entry {{mlsData.current.main_property_data.field}}
                      tr
                        td
                          label.data-label Allow Internet:
                        td
                          span.data-entry {{mlsData.current.main_property_data.allowInet}}
                tr
                  td
                    label.data-label Formatting:
                  td
                    span.data-entry {{mlsData.current.main_property_data.queryTemplate}}
                tr
                  td
                    label.data-label Notes:
                  td
                    span.data-entry {{mlsData.current.notes}}
                tr
                  td
                    label.data-label Active:
                  td
                    span.data-entry {{mlsData.current.active}}

