div
  form(name="mlsForm")
    .col-md-12
      .row
        .col-md-6
          .progressPills
            tabset(type="pills")
              tab(ng-repeat="formItem in formItems track by $index" heading="{{formItem.heading}}" disable="formItem.disabled" active="formItem.active" ng-click="!formItem.disabled && proceed($index)")
        .col-md-6
      .row
        .col-md-6
          .panel.panel-default
            .panel-heading
              h3 MLS Data Entry
            .panel-body
              div.animate-container.wizardContent
                div(ng-repeat="formItem in formItems" ng-show="formItem.step == step").animate-show
                  div(ng-if="formItem.step == 0" name="step0")
                    select(type="text" ng-model="mlsData.current" ng-options="value as value.id for value in idOptions" ng-change="updateObjectOptions(mlsData.current)")
                    button(ng-click="open()") Create New MLS Config

                  div(ng-if="formItem.step == 1")
                    table
                      tr
                        td
                          label.data-label Database:
                        td
                          select(type="text" ng-model="mlsData.current.main_property_data.db" ng-options="value.ResourceID as value.ResourceID for value in dbOptions" ng-change="processAndProceed(2)")
                  div(ng-if="formItem.step == 2")
                    table
                      tr
                        td
                          label.data-label Table:
                        td
                          select(type="text" ng-model="mlsData.current.main_property_data.table" ng-options="value.ClassName as value.ClassName+' '+value.VisibleName for value in tableOptions" ng-change="processAndProceed(3)")
                  div(ng-if="formItem.step == 3")
                    table
                      tr
                        td
                          label.data-label Field:
                        td
                          select(type="text" ng-model="mlsData.current.main_property_data.field" ng-options="value.SystemName as value.SystemName+' '+value.LongName for value in columnOptions")
                      tr
                        td
                          label.data-label Formatting:
                        td
                          input(type="text" ng-model="mlsData.current.main_property_data.queryTemplate")
                      tr(colSpan="2")
                        td
                          button(ng-click="saveMlsData()") Save MLS Config

                  //-   tr(ng-repeat="(formField, settings) in formItem.formFields")
                  //-     td
                  //-       label.data-label {{settings.label}}&nbsp({{settings.type}})
                  //-     td
                  //-       input(ng-if="settings.type != 'select'" type="{{settings.type}}" value="{{settings.default}}")
                  //-       select(ng-if="settings.type == 'select'")
                  //-         option(ng-repeat="(value, text) in settings.options" value="{{value}}") {{text}}
                  //- br
                  //- p - or -
                  //- select(ng-if="formItem.step == 0")
                  //-   option(value="1") Option 1
                  //-   option(value="2") Option 2
                  //- br
                  //- button(ng-click="proceedTo(formItem.step+1)") Submit

        .col-md-6
          .panel.panel-default
            .panel-heading
              h3 MLS Data
            .panel-body
              table.table-striped
                tr(ng-repeat="(key, value) in mlsData.current.plain()")
                  td
                    label.data-label {{key}}
                  td
                    span.data-entry {{value}}
              //- table.table-striped
              //-   tr
              //-     td
              //-       label.data-label ID
              //-     td
              //-       span.data-entry {{mlsData.id}}
              //-   tr
              //-     td
              //-       label.data-label Name
              //-     td
              //-       span.data-entry {{mlsData.name}}



