.utils.row
  .col-md-1.menu
    ul.nav.nav-pills.nav-stacked
      li(ng-repeat="state in $state.get() | filter:{parent: 'utils'}")
        a(ui-sref="{{state.name}}" ui-sref-opts="{reload: true}") {{state.name.replace('utils','')}}

  .col-md-11
    div(ng-repeat="state in $state.get() | filter:{parent: 'utils'}", ui-view="{{state.name}}", ng-show="$state.includes(state.name)", ng-cloak)
