.letter-body
  .letter-page
    p Dear {{recipient_name}},
    p
      br
    p Type your letter here......
    p
      br
    p Best Regards,
    p
      br
    p {{sender_name}}
    p {{sender_business_name}}
    p {{sender_phone}}
    p {{sender_email}}

 



  





   

 




