.letter-body
  .letter-page
    p Good Day,
    p
      br
    p I would like to take opportunity to introduce myself to you, and provide some brief information about the services [[ I / we ]] can offer to you.
    p
      br
    p Some of the No-Obligation services that I provide include:
    p
      br
    ul
      li A current market valuation (CMA) of your property for purposes of possibly selling
      li Reports on current market trends and area statistics - for either buyers or sellers
      li Referral services for sellers and buyers relocating into or out of our area
      li Recommendations for contractors and other services
    p If you would like to learn more about how [[ my / our ]] expertise and experience can benefit your goals of homeownership, please call or email.
    p
      br
    p I look forward to becoming YOUR preferred real estate expert.
    p
      br
    p Best Regards,
    p
      br
    p {{sender_name}}
    p {{sender_business_name}}
    p {{sender_phone}}
    p {{sender_email}}


 

  

 



  





   

 




