.letter-body
  .letter-page
    p Good Day,
    p
      br
    p In today’s “social media” environment, many consumers rely heavily on reviews by past clients and customers when selecting service providers.  My clients have recognized me for the exceptional service I deliver and have posted comments such as: “highly professional”, “personal and keeping-it-real”, “above and beyond”.   Here is a short list of some of the services I provide to earn such accolades from my customers and clients:
    p
      br
    ul
      li Home staging recommendations
      li Identify Unique Selling Points of your home
      li Curb Appeal Evaluation and suggestions
      li Local Market statistics and trends reports
      li Marketing Expertise
      li Thoroughly familiar with current market inventory
      li B-2-B referrals for relocating families
      li Real estate leasing and investment  (commercial, industrial, retail, residential)
      li Trades / professionals recommendations (landscape, paint, decor, handyman, etc) 
    p I hope that you will consider contacting me for any of your real estate questions or needs. My updated contact information is below.
    p
      br
    p Best Regards,
    p
      br
    p {{sender_name}}
    p {{sender_business_name}}
    p {{sender_phone}}
    p {{sender_email}}

 



  





   

 




