//- Basic glued template driven by a drictives controller for custom templates
//- Binding is one time (::) for everything to keep from having excessive evaluations
div(ng-controller="rmapsLeafletDrawDirectiveCtrl")
  button(
    ng-repeat="toDraw in ::drawContexts"
    ng-class="::button.getClass(toDraw)" ng-click="::button.click(toDraw, $event)")
      span(ng-class="::span.getClass(toDraw)")
  
