//- Basic glued template driven by a drictives controller for custom templates
//- Binding is one time (::) for everything to keep from having excessive evaluations
div
  button(
    ng-repeat="toDraw in ::drawContexts"
    ng-class="button.getClass(toDraw)" ng-click="::button.click(toDraw, $event)")
      span(ng-if="::span.getClass(toDraw)" ng-class="::span.getClass(toDraw)")
  
  button.save(ng-if="canSave"
    ng-class="::button.getClass('save')" ng-click="save()") {{::button.getText('save')}}
      span(ng-if="::span.getClass('save')" ng-class="::span.getClass('save')")
      
  button.cancel(ng-if="enabled"
    ng-class="::button.getClass('cancel')" ng-click="disable()") {{::button.getText('cancel')}}
      span(ng-if="::span.getClass('cancel')" ng-class="::span.getClass('cancel')")

  
