.collapse-header
  h2 Payment Method
.row.collapse-header.subscription-details
  h4 Plan
  .row(ng-show="plan")
    p {{plan.group_name}}
  .row(ng-show="plan.canceled_at")
    p Subscription has been deactivated. Service will expire {{plan.current_period_end}}
  .row.help-block(ng-show="message")
    p {{message}}
  .row.subscription-buttons
    .btn.btn-default(ng-hide="plan.group_name == 'Deactivated Account'" ng-click="unsubscribe()") Unsubscribe