.collapse-header
  h2 Payment Method
.row.collapse-header.subscription-details
  h4 Plan
  .row (plan/paid trial)
  .row
  .row.subscription-buttons
    .btn.btn-default(ng-click="deactivate()") Deactivate