div(ng-hide="processing > 0")
  .collapse-header
    h2 Subscription
    .row.help-block(ng-show="subscription.error")
      p {{ subscription.error }}
  .row.collapse-header.subscription-details(ng-show="!subscription")
    h3 Contact RealtyMaps to enroll, today!

  .row.collapse-header.subscription-details(ng-show="!showSubscription() && !subscription.error")
    .row
      .col-md-6(ng-if="isDeactivated()")
        label Status
        p Deactivated
      .col-md-6(ng-if="isExpired()")
        label Status
        p Expired

  .row.collapse-header.subscription-details(ng-show="showSubscription()")
    .row(ng-hide="subscription.error")
      .col-md-6
        label Status
        p(ng-show="subscription.canceled_at" class="subscription-status-alert") Canceled
        p(ng-show="!subscription.canceled_at" ng-class="{'subscription-status-alert': isWarningStatus(subscription.status)}") {{ subscription.status | humanize }}
      .col-md-6
        label Plan
        p {{ subscription.plan.metadata.alias | humanize }}
        p {{ subscription.plan.metadata.price | currency }} / Month
      .col-md-6
        label Member Since
        p {{ subscription.start * 1000 | date:'MM/dd/yyyy' }}
      .col-md-6(ng-show="subscription.discount")
        label Discounts
        p(ng-show="subscription.discount") {{ subscription.discount | currency }}
        p(ng-show="!subscription.discount") None
      .col-md-6(ng-show="subscription.status == 'trialing' && !subscription.canceled_at")
        label Trial End
        p {{ subscription.trial_end * 1000 | date:'MM/dd/yyyy'  }}
      .col-md-6(ng-show="subscription.status != 'trialing' && !subscription.canceled_at")
        label Current Expiration
        p {{ subscription.current_period_end * 1000 | date:'MM/dd/yyyy'  }}
      .col-md-6(ng-show="subscription.canceled_at")
        label Period End
        p {{ subscription.current_period_end * 1000 | date:'MM/dd/yyyy'  }}
      .col-md-6(ng-show="subscription.canceled_at")
        label Canceled On
        p {{ subscription.canceled_at * 1000 | date:'MM/dd/yyyy' }}

  .row.subscription-buttons(ng-hide="subscription.error")
    .col-md-6(ng-show="!subscription.canceled_at && showSubscription()")
      .btn.btn-default(ng-click="unsubscribe()") Unsubscribe

    .col-md-6(ng-show="!subscription.canceled_at && subscription.plan.id == subscriptionConfig.PLAN.STANDARD")
      .btn.btn-default(ng-click="upgrade()") Upgrade

    .col-md-6(ng-show="isDeactivated() || isExpired() || isInGracePeriod()")
      .btn.btn-default(ng-click="reactivate()") Reactivate

  .collapse-header
    h2.inline Payment Methods
    // button is in h2 to easily keep same margins and padding of h2
    h2.inline.pull-right
      button.btn.btn-default(ng-click="addCC()") Add Payment
  .row.collapse-header.cc-details
    .row.credit-card(ng-repeat="payment in data.payments" ng-class="payment.isDefault ? 'default': ''")
      .row.inner-card(ng-attr-title="payment.isDefault ? 'Default Card': payment.last4")
        .col-md-1.col-sm-1.col-xs-0
          div.bold.large(ng-if="payment.isDefault") Default
        .col-md-1.col-sm-1.col-xs-1
          img(rmaps-cdn-image ng-src="assets/cc/{{payment.brand}}Icon.png")
        .col-md-1.col-sm-1.col-xs-1
          div **** {{ payment.last4 }}
        .col-md-3.col-sm-3.col-xs-3
          label.inline Year:
          .inline.pad-left-5 {{ payment.exp_year }}
        .col-md-3.col-sm-3.col-xs-3
          label.inline Name:
          div.inline.pad-left-5 {{ payment.name}}
        .col-md-3.col-sm-3.col-xs-3.ignore-padding.btn-collection
          .inline.btn.btn-default.margin-left-5(
            ng-click="defaultCC(payment)" ng-if="!payment.isDefault") Default
          .inline.margin-left-5.btn.btn-default(
            ng-click="replaceCC(payment)" ng-if="payment.isDefault") Replace
          .inline.margin-left-5.btn.btn-default(ng-click="removeCC(payment)") Remove


  div(ng-show="showSubscription()")
    div
      h2 County Data Subscriptions
    .row.subscription-details(ng-show="data.fips")
      .row(ng-hide="subscription.error")
        .col-md-9
          table.table.table-hover
            thead
              tr
                th Code
                th State
                th County
            tbody
              tr(ng-repeat="f in data.fips")
                td {{f.code}}
                td {{f.state}}
                td {{f.county}}
