.collapse-header
  h2 Payment Method
.row.collapse-header.cc-details(ng-show="payment")
  h4 Card Info
  .row
    .col-md-1
      img(ng-src="assets/cc/{{payment.brand}}Icon.png")
    .col-md-5
      p {{ payment.brand }} ending in {{ payment.last4 }}
      p {{ ('00'+payment.exp_month).slice(-2) }}/{{ payment.exp_year }}
    .col-md-6
      label Name on Card
      p {{ payment.name }}
  .row.cc-buttons
    .btn.btn-default(ng-click="replaceCC()") Replace
