.collapse-header
  h2 Payment History
table(class="table table-hover")
  thead
    tr
      th
        span(ng-click="sortField = 'created'; sortReverse = !sortReverse") Date Paid
        span.fa.fa-caret-down(ng-show="sortField == 'created' && !sortReverse")
        span.fa.fa-caret-up(ng-show="sortField == 'created' && sortReverse")
      th
        span(ng-click="sortField = 'description'; sortReverse = !sortReverse") Description
        span.fa.fa-caret-down(ng-show="sortField == 'description' && !sortReverse")
        span.fa.fa-caret-up(ng-show="sortField == 'description' && sortReverse")

      th.col-md-1
        span(ng-click="sortField = 'type'; sortReverse = !sortReverse") Type
        span.fa.fa-caret-down(ng-show="sortField == 'type' && !sortReverse")
        span.fa.fa-caret-up(ng-show="sortField == 'type' && sortReverse")

      th
        span(ng-click="sortField = 'instrument'; sortReverse = !sortReverse") Payment Instrument
        span.fa.fa-caret-down(ng-show="sortField == 'instrument' && !sortReverse")
        span.fa.fa-caret-up(ng-show="sortField == 'instrument' && sortReverse")

      th.col-md-1
        span(ng-click="sortField = 'amount'; sortReverse = !sortReverse") Amount
        span.fa.fa-caret-down(ng-show="sortField == 'amount' && !sortReverse")
        span.fa.fa-caret-up(ng-show="sortField == 'amount' && sortReverse")

      th.col-md-1

  tbody
    tr(ng-show="!charges || charges.length == 0")
      td No Results
    tr(ng-repeat="charge in charges | filter:{name:searchName} | orderBy:sortField:sortReverse")
      td {{ charge.created }}
      td {{ charge.description }}
      td {{ charge.type }}
      td Card ending in {{ charge.instrument }}
      td {{ charge.amount | currency }}
      td