doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Login
    link(type="text/css", rel="stylesheet", href="/styles/vendor.css")/
    link(type="text/css", rel="stylesheet", href="/styles/login.css")/
    script(type="application/javascript", src="/scripts/vendor.js")
    script(type="application/javascript").
      // does not handle multi-valued keys, returns first found (e.g. getQueryParam("param") for "&param=abc&param=xyz" will yield "abc")
      // returns boolean true for keys without a value (e.g. "&param" with no equals sign)
      // returns empty string for keys with an empty value (e.g. "&param=" with no value)
      // returns null if key is not present
      // returns decoded string value for all rest
      // default delimiter of '&' can be overridden
      // optionally replaces plus sign with space
      getQueryParam = function (key, options) {
        options = options||{};
        var delimiter = '&';
        if (options.delimiter) {
          delimiter = options.delimiter;
        }
        var search = window.location.search;
        var after = search.split(delimiter+key+'=',2)[1];
        if (typeof(after) == "undefined") {
          if (search.indexOf('?'+key+'=') === 0) {
            after = search.substring(key.length+2);
          }
        }
        if (typeof(after) != "undefined") {
          var val = decodeURIComponent(after.split(delimiter,1)[0]);
          if (options.replacePlus) {
            val = val.replace(/\+/g, ' ');
          }
          return val;
        }
        
        // check for a non-valued param
        var regex = new RegExp("(^\\?|"+delimiter+")"+key+"("+delimiter+"|$)");
        return regex.test(search)||null;
      };
      var errmsg = getQueryParam('errmsg');
  body
    .container
      .row
        .logo.center-block
          img(src="/assets/logo.png")
      form.login(action="", method="POST")
        .errmsg-wrapper
          .row.spacer
            .col-md-4.col-md-offset-4.errmsg.danger
              script if (errmsg) { document.write(errmsg); $(".errmsg-wrapper").slideDown(); } 
        .row.spacer
          .col-md-4.col-md-offset-4
            label(for="username") Username:
        .row
          .col-md-4.col-md-offset-4
            input#username(type="text",name="username",autofocus)
        .row.spacer
          .col-md-4.col-md-offset-4
            label(for="password") Password:
        .row
          .col-md-4.col-md-offset-4
            input#password(type="password",name="password")
        .row.spacer
          .col-md-2.col-md-offset-4
            input(type="submit",value="Log In")
          .col-md-2.checkbox-replace
            input#remember_me(type="checkbox",name="remember_me")
            label(for="remember_me") Keep me logged in

    include ./includes/footer.jade
