.mobile-modal
  position: relative;
  width: 100%;
  overflow: hidden;
  font-size: 18px;
  color: $rm-header-text;
  line-height $navbarHeight

  a
    color: $rm-header-text;

  .mobile-modal-center
    margin: 0 auto;
    width: calc(100% - 35px - 35px);

  .mobile-modal-left
    float: left;
    width: 10%;
    padding-left: 10px;

  .mobile-modal-right
    float: right;
    width: 10%;
    padding-right: 10px;

  .mobile-modal-title
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
