$fnMakeNav()
  .navigation
    .nav-toggle
      font-size 0
      display none
      position absolute
      right 0
      @extends .visible-xs
      span
        background url(/assets/base/icons/mobile_main_navigation.png) no-repeat center center transparent
        width 44px
        height 44px
        display block
        cursor pointer

    ul.nav
      float left
      li
        display inline-block
        margin 0
        float left
        @extends .global-transition
        a
          color $white_50
          text-transform capitalize
          line-height 47px
          padding 0 10px
          @extends .global-transition
          &:hover
          &:active
          &:focus
            background $black_0
          span
            display: inline-block;
            padding: 0 10px;
            position: relative;

        &.active
          a
            color $white
            &:after
              content ''
              height 3px
              background $light_blue
              width 100%
              position absolute
              left 0
              bottom 3px
        &.inbox
          a
            span
              @extends .notice-dot-blue

      @extends .hidden-xs
      &.on
        @extends .visible-xs
        @extends .slideFromTop
        background $$dark_blue_darker
        float: none;
        left: 0;
        position: absolute;
        top: 47px;
        width: 100%;
        li
          display block
          width 100%
