$fnMakeNav()
  .navigation
    display: inline-block;
    vertical-align: top;

    .dropdown-menu
      z-index $rm-modal-header-zindex + 1

    .nav-toggle
      font-size 0
      display none
      position absolute
      right 0
      span
        background url(/assets/base/icons/mobile_main_navigation.png) no-repeat center center transparent
        width 44px
        height 44px
        display block
        cursor pointer

    ul.nav
      float left
      color $gray
      position relative // Allow dropdowns to assume the size of this element

      > li, > li > .btn-group
        position static // Allow dropdowns to assume the size of this element

        > .btn
          height $navbarInnerHeight
          background-color #323a48
          color $white
          box-shadow none
          border none

      > li
        display inline-block
        margin 0
        float left
        font-weight bold
        > a
          color $gray
          text-transform capitalize
          line-height $navbarHeight
          padding 0 25px
          &:hover
          &:active
          &:focus
            background $black_0
          span
            display: inline-block;
            padding: 0 10px;
            position: relative;

        &.active
          a
            color $white
            &:after
              content ''
              height 3px
              background $light_blue
              width 100%
              position absolute
              left 0
              bottom 3px
        &.inbox
          a
            span
              @extends .notice-dot-blue
