$fnUserBlockSize()
  width 34px
  height 34px

$fnMakeUserBlock()
  #userblock
    float right
    display block
    position relative
    z-index 1
    @extends .hidden-xs
    button.avtr
      span
        $fnUserBlockSize()

      padding 0 //overrides default input button padding
      background $dark_blue_active
      border none
      font-size 14px
      margin 5px 15px 5px 0
      $fnUserBlockSize()
      text-align center
      color $white_80
      text-transform uppercase
      border-radius 5px
      cursor pointer
    .block-become-a-member
      padding 10px
      margin-bottom -5px
      h4,p
        padding 0 10px
      h4
        font-size 12px
        font-weight normal
        text-transform capitalize
        color $white_40
        margin 0

    .dropdown
      &.open
        ul
          @extends .fallDown
