.price-marker(class="#{priceClasses}")

  .price #{price}
    //- if isMail == true
    //-   i.icon.fa.fa-envelope-o
  .icons
    if isPinned == true
      i.icon.icon-pin

    if isFavorited == true
      i.icon.fa.fa-heart
