include ./mixins/spinner.jade

div(role="navigation").navbar.navbar-inverse.navbar-fixed-top
  .collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        .navbar-header
          a(href="{{adminRoutes.urls.home}}").navbar-brand.navbar-hide
            img(src="/assets/logo.png")
      li
        a(href="{{adminRoutes.urls.home}}") Home
      li
        a(href="{{adminRoutes.urls.mls}}") MLS
      li
        a(href="{{adminRoutes.urls.normalize}}") MLS Rules
      li(ng-hide="$state.is('main')")
        +spinner()(ng-if="Spinner.getLoadingCount() > 0")
      li(ng-hide="principal.isAuthenticated()", ng-cloak).navbar-right
        a(href="{{adminRoutes.urls.login}}") Sign In
      li(ng-show="principal.isAuthenticated()", ng-cloak).navbar-right
        a(href="{{adminRoutes.urls.logout}}") Sign Out

