include ../../../common/html/includes/mixins/_spinnerMixin.jade

div(role="navigation").navbar.navbar-inverse.navbar-fixed-top
  .collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        .navbar-header
          a(href="{{adminRoutes.index}}").navbar-brand.navbar-hide
            img(src="/assets/logo.png")
      li(ng-repeat="nav in navbarPages")
        a(ui-sref="{{nav.state}}") {{nav.name}}

      li(ng-hide="$state.is('main')")
        +spinnerMixin()(ng-if="Spinner.getLoadingCount() > 0")
    ul.nav.navbar-nav.navbar-right
      li(ng-hide="principal.isAuthenticated()", ng-cloak).navbar-float-right
        a.login(ui-sref="{{adminRoutes.login}}") Sign In
      li(ng-show="principal.isAuthenticated()", ng-cloak).navbar-float-right
        a.logout(ui-sref="{{adminRoutes.logout}}") Sign Out
      li.navbar-float-right
        a(href="{{frontendRoutes.index}}" target="_self") Map
