include ../../../common/html/includes/mixins/spinner.jade

div(role="navigation").navbar.navbar-inverse.navbar-fixed-top
  .collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        .navbar-header
          a(ui-sref="home").navbar-brand.navbar-hide
            img(src="/assets/logo.png")
      li
        a(ui-sref="home") Home
      li
        a(ui-sref="mls") MLS
      li
        a(ui-sref="normalize") MLS Rules
      li
        a {{principal.isAuthenticated()}}
      li(ng-hide="$state.is('main')")
        +spinner()
      li(ng-hide="principal.isAuthenticated()", ng-cloak).navbar-right
        //- a(href="{{adminRoutes.login}}") Sign In
        //- a(href="{{frontendRoutes.login}}") Sign In
        a(href="http://localhost:4000/admin/login") Sign In
      li(ng-show="principal.isAuthenticated()", ng-cloak).navbar-right
        a(href="{{frontendRoutes.logout}}") Sign Out

