.col-md-12.scroll(ng-if="fieldData.current.type.name == 'bathrooms'")
  .row
    .col-md-2
    .col-md-10
      rmaps-subinput(name="Full" field="full")
      span.sep AND
      rmaps-subinput(name="Half" field="half")
      span.sep AND
      rmaps-subinput(name="Total" field="total")
