include ../../../../common/html/includes/mixins/_spinnerMixin.jade
include ../map/_projects.jade

nav.navigation(role="navigation")
  .nav-toggle
    span(ng-click="toggleMainNav()") toggle menu
  ul(ng-class="{'nav':!toggleMainOn,'nav on':toggleMainOn}")
    li(ng-cloak ng-show="principal.isAuthenticated()")
      +projectsDropdown()
    li(ng-cloak ng-show="principal.isAuthenticated()" ng-class="{ 'active': $state.includes('projects') || $state.includes('project') }")
      a(ng-click="page.goToDashboard()")
        span dashboard
    li(ng-cloak ng-show="principal.isAuthenticated()" ng-class="{ 'active': $state.is('map') }")
      a(ng-click="page.goToMap()")
        span map
    li(ng-cloak ng-show="principal.isAuthenticated()" ng-class="{ 'active': $state.is('mail') }")
      a(ui-sref="mail" rmaps-require-project-editor="disable")
        span mail
    //li(ng-cloak ng-show="principal.isAuthenticated()" ng-class="{ 'active': $state.is('history') }")
    //  a(ui-sref="history")
    //    span history
  ul(ng-class="{'nav':!toggleMainOn,'nav on':toggleMainOn}")
    li(ng-cloak ng-hide="$state.is('main')")
      +spinnerMixin()(ng-if="Spinner.getLoadingCount() > 0")
