#notices(ng-controller="DropdownCtrl")
    span(class="dropdown" uib-dropdown on-toggle="toggled(open)")
        button(href='#notices' class="dropdown-toggle icon-bell" uib-dropdown-toggle) global notices
        ul(class="dropdown-menu right arrow")
            li
                .block-notification
                    .row
                        .col-md-2
                            button(class="btn btn-primary") DS
                        .col-md-10
                            h4
                                span(class="name") Dave smith
                                span commented on this map
                            p Lorem impsum dolar sit amet, consecteur adipsisicing elit, sed do eiusmod temopr
                            p.date Apr 2
            li
                .block-notification
                    .row
                        .col-md-2
                            button(class="btn btn-primary") DS
                        .col-md-10
                            h4
                                span(class="name") Dave smith
                                span commented on this map
                            p Lorem impsum dolar sit amet, consecteur adipsisicing elit, sed do eiusmod temopr
                            p.date Apr 2
            li
                .btn-actions
                    button(class='btn btn-primary') View all notifications

