include ../mixins/_avatarMixin.jade

#userblock(ng-controller="DropdownCtrl")
  span(class="dropdown" uib-dropdown on-toggle="toggled(open)")
    button(class="dropdown-toggle avtr" uib-dropdown-toggle)
      +avatarMixin()(class='tiny-avatar')
    ul(class="dropdown-menu right arrow")

      li(ng-show="principal.isAuthenticated()", ng-cloak)
        a(ui-sref="user") My Account

      li(ng-show="principal.isStaff()", ng-cloak)
        a(href="{{adminRoutes.index}}" target="_self") Admin

      li(ng-show="principal.isAuthenticated()", ng-cloak)
        a.logout(ui-sref="logout") Sign Out

      .block-become-a-member(ng-if="!principal.isStaff() && pricipal.isSubscriber()")
        h4 trial period
        p 30 days left
        button(class='btn btn-primary') become a member
