#neighbour
  .inner
    ul.neighbourhoods
      list-style none
      padding 0
      margin 0 -20px
      li
        list-style none

        h3
          padding 10px
          font-size 16px
          margin 0
        .map
          width 100%
          border-top 1px solid c_gray_ligther
          border-bottom 1px solid c_gray_ligther
          height 220px
          overflow hidden
          img
            display inline-block
            max-width 100%
        .data
          background c_light_blue_select
          padding 0 10px
          h4
            color c_light_blue
            font-weight 200
            font-size 18px