#projects
  @extends .font-regular
  @extends .table-view

#projects-list
  @extends .font-regular

  *
    transition none

  h3, .fa
    color $black

  .fa, .icon, .btn
    margin .25em
    &:hover, &:hover *
      color $white

  .collapse-header
    overflow hidden
    cursor pointer
    &:hover
    &:active
      background $light_blue_select

  .projects-list
    .collapse-header
      border-bottom 1px solid $gray_ligther

  .data
    overflow hidden
    // border-bottom 4px solid $gray_ligther

    .property
      margin-bottom 10px
      span
        padding 3px 10px
        &.value
          font-size 22px
          display block
        &.small
          color $gray
          font-size 10px
          display block

  h3
    padding 0 5px

  ul
    list-style none
    padding 0
    margin 0
    li

      h2.title
        text-align left
        float left
        padding 0 !important
      .tools
        text-align right
        padding 5px 0

  ul
    li.client
      background-color $white_0
      border-bottom 1px solid $gray_ligther
      @extends .global-transition

      &:hover
      &:active
        background-color $light_blue_select

      h3
        margin 0
        padding 0 5px
        float left
        line-height 42px

      span
        display block
        padding 3px 5px
        margin-bottom 20px
        font-size 16px
        &.label
          font-size 12px
          color $gray
          text-align left
          margin 0
