#projects
  @extends .font-regular
  @extends .table-view

#projects-list
  @extends .font-regular

  *
    transition none

  .repeat
    margin 0

  h3, .fa
    color $black

  .back-button
    position absolute
    left -10px
    top 25px
    color $light_blue

  .fa, .icon, .btn
    margin .25em

  .collapse-header
    overflow hidden
    cursor pointer
    &:hover
    &:active
      background $light_blue_select

  .projects-list
    .collapse-header
      border-bottom 1px solid $gray_lighter

  h3
    padding 0 5px

  ul
    list-style none
    padding 0
    margin 0
    li

      h2.title
        text-align left
        float left
        padding 0 !important
      .tools
        text-align right
        padding 5px 0

