#properties-view,
#properties
  .inner
    padding-top 20px

  .property-img
    width 100%
    margin-bottom 10px
    position relative

    .status
      background $green
      color $white
      text-transform uppercase
      bottom 0
      left 0
      display inline-block
      padding 5px 10px
      font-size 11px
      position absolute

      &.pending
        background $yellow

      &.sold
        background $red

    img
      max-width 100%
      display inline-block

  .price
    margin 0
    font-size 18px
    font-weight bold
    padding 0 10px
    color $green
    &.pending
      color $yellow
    &.sold
      color $red

  .property-attr
    padding 0 10px
    list-style none
    display inline-block
    ul.attr
      padding 0
      margin 5px -4px
      li
        list-style none
        display inline-block
        border-right 1px solid $black
        border-bottom none
        padding 0 4px
        font-size 12px
        &:last-child
          border none
  .title
    padding 0 10px
    margin 0 0 5px 0
    a
      padding 0
      text-decoration none
      &:hover
      &:focus
        color $light_blue
  .location
    padding 0 10px
    color $gray
    font-size 12px
    font-weight bold
  .btn-actions
    overflow hidden
    border-top 1px solid $darker_white
    button
      font-size 12px
      border none
      border-right 1px solid $darker_white
      background $white
      padding 0
      width 50%
      float left
      min-width 10px
      &:last-child
        border none

  /*list*/
#properties
  .property-img
    margin 20px 0
