include ../mixins/_drawToolMixin.jade
div(ng-controller="rmapsAreasModalCtrl")
  +drawToolMixin({
    drawToolId: 'area',
    header: 'Area',
    toggleBoolean: 'Toggles.isAreaDraw',
    toggleFn: 'Toggles.toggleIsAreaDraw()',
    ctrl: 'rmapsDrawAreaCtrl',
    directiveNgShow: false,
    tackFn: 'tack()',
    tackedBool: 'getIsTacked()'
  })(ng-controller="rmapsAreasQuickStatsModalCtrl")
