include ../mixins/_drawToolMixin.jade
+drawToolMixin('area', 'Area',
  'Toggles.isAreaDraw',
  'Toggles.toggleIsAreaDraw()',
  'rmapsDrawAreaCtrl',
  false,
  'Toggles.toggleTackDrawBar()',
  'Toggles.isTackedAreasDrawBar')(ng-controller="rmapsAreasModalCtrl")
