include ../mixins/_drawToolMixin.jade
+drawToolMixin('area', 'Area',
  'Toggles.isAreaDraw',
  'Toggles.toggleIsAreaDraw()',
  'rmapsDrawAreaCtrl',
  false,
  'tack()')(ng-controller="rmapsAreasModalCtrl")
