//.desktop-only TODO (wont show)
.draw-tools.container(ng-if="Toggles.isSketchMode")
  .row
    .col.col-md-3.col-sm-3.col-xs-3
      h4 Sketch Mode
    
    .col.col-md-6.col-sm-6.col-xs-3
      .tools(ng-controller="rmapsMapDrawCtrl")
        div(ng-if="map.mapPromise")
          div.rmaps-leaflet-draw(
            id="sketchDraw"
            mapPromise="map.mapPromise"
            options="map.leafletDrawOptions")
        
    .col.col-md-3.col-sm-3.col-xs-3
      button.btn.btn-primary.close-btn.pull-right(
        ng-click="Toggles.toggleIsSketchMode(); Toggles.setPropetiesInShapes(false)") Close
