include ../mixins/property/_propertyAttributes.jade
include ../mixins/_circleNr.jade

span(ng-controller="rmapsFavoritesCtrl" class="dropdown btn-group pinned-list" dropdown on-toggle="toggled(open)")
    button(class="dropdown-toggle btn btn-transparent pinned" dropdown-toggle)
      span.icon.icon-pin
    
    .dropdown-menu.whiteblock.no-margin
        .fixed-header
            span
                a(href="#favorites") {{favoritesList.length}} Pinned Properties
        .inner
            ul              
                li(ng-repeat="(id, fav) in favorites")
                    a(href="#favorites") {{favorites.length}}
                        span.enity
                            +circleNr('{{$index+1}}')
                            span.content
                                span(class="status" ng-class="formatters.results.getStatusLabelClass(fav,true)") {{fav.rm_status}}
                                +propertyAttributes('fav')
                        span.actions
                            span.unpin
                                span.action Unpin
                                span.icon.icon-pin
