include ../mixins/property/_propertyAttributes.jade
include ../mixins/_circleNrMixin.jade

span(ng-hide="Toggles.getHideAnyDraw()" ng-controller="rmapsPinnedCtrl" class="dropdown btn-group pinned-list" dropdown)
  button.btn.btn-transparent.nav-btn.dropdown-toggle.pinned(dropdown-toggle)
    i.icon.fa.fa-heart

  .dropdown-menu.whiteblock.no-margin
    .fixed-header
      span
        a(ui-sref="projectFavorites({id: selectedProject.project_id})") {{favoriteTotal}} Favorite Properties
    .inner
      ul
        li(ng-repeat="property in favoriteProperties")
          a(ng-click="formatters.results.showModel(property)")
            span.enity
              +circleNrMixin('{{$index+1}}')
              span.content
                span(class="status" ng-class="formatters.property.getStatusLabelClass(property, true)") {{property.rm_status}}
                +propertyAttributes('property')
            span.actions
              span.unpin(ng-click="formatters.results.clickFavoriteResultFromList(property); $event.stopPropagation()")
                span.action Remove
                i.fa.fa-heart
