include ../mixins/property/_propertyAttributes.jade

span(ng-controller="rmapsFavoritesCtrl" class="favorites dropdown btn-group" dropdown on-toggle="toggled(open)" auto-close="disabled")
    button(class="dropdown-toggle btn btn-transparent pinned-projects" dropdown-toggle)
        span.icon.icon-pin
    ul(class="dropdown-menu whiteblock no-margin")
        li.count
            a(href="#favorites") {{favorites.length}} Favorities
        li(ng-repeat="(id, fav) in favorites")
            div(ng-click="formatters.results.click(fav,fav);showDetails = !showDetails")
                span.enity
                    span.circle-nr
                        span {{$index+1}}
                    span.content
                        span(class="status" ng-class="fav.status") {{fav.status}}
                        +propertyAttributes('fav')
                span.actions
                    span.unpin
                        span.action Unpin
                        span.icon.icon-pin
