.layers-tools
  .desktop-only
    button.toggle-active.btn.btn-transparent(ng-attr-aria-expanded="{{layersOpen?'true':'false'}}" popover-template="'LayersPopover'", popover-placement='right' ng-click="layersOpen=!layersOpen")
      span.icon.icon-layers

  .mobile-only
    button.toggle-active.btn.btn-transparent(mobile-modal modal-template="'LayersPopoverMobile'" modal-title="'Map Layers'")
      span.icon.icon-layers

  script(type="text/ng-template" id="LayersPopover")
    .filter-row
      span.label Show
      ul.buttons
        li
          button.btn(ng-if="doShowAddressButton()" ng-click="Toggles.toggleAddresses()" ng-class="{'btn-inactive' : !Toggles.showAddresses }") Address
        li
          button.btn(ng-click="Toggles.togglePrices()" ng-class="{'btn-inactive' : !Toggles.showPrices }") Price
        li
          button.btn(ng-click="Toggles.toggleNotes()" ng-class="{'btn-inactive' : !Toggles.showNotes }") Notes
        li
          button.btn(rmaps-require-project-editor="disable" ng-click="Toggles.toggleMail()" ng-class="{'btn-inactive' : !Toggles.showMail }") Sent Mail
    .filter-row
      span.label Status
      ul.buttons
        li
          button.btn.btn-forsale(ng-click="selectedFilters.forSale = !selectedFilters.forSale" ng-class="{'btn-inactive' : !selectedFilters.forSale }") For Sale
        li
          button.btn.btn-pending(ng-click="selectedFilters.pending = !selectedFilters.pending" ng-class="{'btn-inactive' : !selectedFilters.pending }") Pending
        li
          rmaps-sold-button(filters="selectedFilters" menu="top")

  script(type="text/ng-template" id="LayersPopoverMobile")
    .list(ng-controller="rmapsLayersMobileCtrl")
      .item-divider Show
      .item
        button.button.button-block(ng-click="Toggles.toggleAddresses()" ng-class="{'button-inactive' : !Toggles.showAddresses }") Address
        button.button.button-block(ng-click="Toggles.togglePrices()" ng-class="{'button-inactive' : !Toggles.showPrices }") Price
        button.button.button-block(ng-click="Toggles.toggleNotes()" ng-class="{'button-inactive' : !Toggles.showNotes }") Notes
        button.button.button-block(rmaps-require-project-editor="disable" ng-click="Toggles.toggleMail()" ng-class="{'button-inactive' : !Toggles.showMail }") Sent Mail
      .item-divider Status
      .item
        button.button.button-block.button-forsale(ng-click="selectedFilters.forSale = !selectedFilters.forSale" ng-class="{'button-inactive' : !selectedFilters.forSale }") For Sale
        button.button.button-block.button-pending(ng-click="selectedFilters.pending = !selectedFilters.pending" ng-class="{'button-inactive' : !selectedFilters.pending }") Pending
        button.button.button-block.button-sold(ng-click="selectedFilters.sold = !selectedFilters.sold" ng-class="{'button-inactive' : !selectedFilters.sold }") Sold in ..
        select.form-control(ng-disabled="!selectedFilters.sold" ng-model="selectedFilters.soldRange" ng-options='c.value as c.name for c in filterValues.soldRangeValues')
