.panel.panel-primary(ng-cloak)
  .panel-heading(ng-class="statusClass") {{model.street_address_num}} {{model.street_address_name}}
  .panel-body
    table(class="table table-condensed table-hover")
      tr
        td(colspan="2") {{model.bedrooms}} Bed &nbsp; {{model.baths_total}} Bath &nbsp; {{model.sqft_finished}} SqFt
    table(class="table table-condensed table-hover" ng-repeat="mail in model.mailings")
      tr
        td Campaign Name
        td(ui-sref="review({id:mail.campaign_id})") {{ mail.campaign_name }}
      tr
        td Sent To
        td {{ mail.recipientType.toInitCaps() }}
      tr
        td Sent On
        td {{ (mail.lob.date_created | date:'MM/dd/yyyy') || 'never' }}
      tr
        td(colspan=2)
          img(rmaps-cdn-image ng-src="{{mail.lob.thumbnails[0].small}}")
