.map-navigation
  .btn-group.mobile-only
    include ./_settings.jade
  .btn-group.desktop-only(ng-class="{'':!isOpened,'opened':isOpened}")
    //- Todo: conditionally show pinned or favorites depending on user role
    include ./_pinned.jade
    include ./_favorites.jade
    include ./_notes.jade
    include _area
    include ./_mail.jade
    include ./_sketch.jade
    include ./_client.jade
    include ./_settings.jade
