include ../mixins/_drawToolMixin.jade
+drawToolMixin('neighborhood', 'Neighborhood',
  'Toggles.isNeighborhoodDraw',
  'Toggles.toggleIsNeighborhoodDraw()',
  'rmapsDrawNeighborhoodCtrl')(ng-controller="rmapsNeighbourhoodsModalCtrl")
