span(class="dropdown btn-group neighbourhood-list"
	ng-controller="rmapsMapNeighbourhoodsCtrl"
	dropdown on-toggle="neighbourhoodListToggled(open)" auto-close="disabled")
		button.btn.btn-transparent.dropdown-toggle.neighbour.nav-btn(dropdown-toggle)
			span.icon.icon-neighbourhood
		.dropdown-menu.whiteblock.no-margin
			.fixed-header
				span
					a(href="goToState('neighbourhoods')") {{neighbourhoods.length}} Neighbourhoods
			.inner
				ul
					li(ng-repeat="model in neighbourhoods")
						div(ng-controller="rmapsNeighbourhoodsModalCtrl")
							span.enity
								span.count {{$index+1}}.

								span.content
									a(href="#/neighbourhoods/{{model.properties.id}}")
									h3.title {{model.properties.neighbourhood_name}}
									p.text {{model.properties.neighbourhood_details}}

							span.actions
								span.icon.icon-remove(ng-click="remove(model); $event.stopPropagation()")
								span.fa.fa-edit(ng-click="update(model); $event.stopPropagation()")
