//This keeps the modal inside of the map div
div(ng-if="Toggles.showNeighbourhoodTap" ng-controller="rmapsNeighbourhoodsModalCtrl")
  //contents of this div are the modal itself
  .tap-modal(ng-controller="rmapsMapNeighbourhoodsTapCtrl")
