span(class="dropdown btn-group notes-list" dropdown on-toggle="toggled(open)")
    button(class="dropdown-toggle btn btn-transparent notes" dropdown-toggle)
        span.icon.icon-note
    ul(class="dropdown-menu whiteblock no-margin")
        li.count
            a(href="#notes") {{notesList.length}} Notes
        li(ng-repeat="note in notesArray")
            div
                span.enity
                    span.circle-nr
                        span {{$index+1}}
                    span.content
                        h3.title {{note.title}}
                        p.text {{note.text}}

                        span.sketch
                            span.icon.icon-pen
                            span.action View attached sketch

                        span.comment
                            a(href="#comment") Leave a comment
                span.actions
                    span.icon.icon-remove