include ../mixins/property/_propertyAttributes.jade
include ../mixins/_circleNrMixin.jade

span(ng-hide="Toggles.getHideAnyDraw()" ng-controller="rmapsPinnedCtrl" class="dropdown btn-group pinned-list" dropdown)
  button.btn.btn-transparent.nav-btn.dropdown-toggle.pinned(dropdown-toggle)
    span.icon.icon-pin

  .dropdown-menu.whiteblock.no-margin
    .fixed-header
      span
        a(ng-show="pinnedTotal" ui-sref="projectPins({id: selectedProject.project_id})") {{pinnedTotal}} Pinned Properties
        a(ng-show="!pinnedTotal" ui-sref="projectPins({id: selectedProject.project_id})") No Pinned Properties
        span.results-btn(ng-controller="rmapsMapMailCtrl" popover-placement="right" popover-trigger="mouseenter" popover="New Mailing" ng-click="addMail()")
          span.icon.icon-send_email
        span.results-btn(ng-click="unpinResults(); $event.stopPropagation()" ng-class="{'disabled':!formatters.results.getResultsArray().length}")
          span.fa.fa-minus-circle
          span.action Results
        span.results-btn(ng-click="pinResults(); $event.stopPropagation()" ng-class="{'disabled':!formatters.results.getResultsArray().length}")
          span.fa.fa-plus-circle
          span.action Results
    .inner
      ul
        li(ng-repeat="property in pinnedProperties")
          a(ng-click="formatters.results.showModel(property)")
            span.enity
              +circleNrMixin('{{$index+1}}')
              span.content
                span(class="status" ng-class="formatters.property.getStatusLabelClass(property, true)") {{property.rm_status}}
                +propertyAttributes('property')
            span.actions
              span.unpin(ng-click="formatters.results.clickSaveResultFromList(property); $event.stopPropagation()")
                span.action Unpin
                span.icon.icon-pin
