span(class="dropdown btn-group projects-list" dropdown on-toggle="toggled(open)")
  button(class="dropdown-toggle btn btn-transparent" dropdown-toggle)
    span
      span.icon.icon-project
      h4 {{selectedProject.title}}
    span.caret
  ul(class="dropdown-menu whiteblock no-margin")
    li.count {{projectsTotal}}
      span(ng-show="projectsTotal == 1")  project
      span(ng-show="projectsTotal != 1")  projects
    li(ng-repeat="project in projects" ng-click="selectProject(project)" )
      a
        span.enity
          span.icon.icon-project
          span.title
            h3 {{project.name}}
            span.count {{project.totalPropertiesSelected}} Properties
        span.actions
          span.icon.icon-save_on_disk
          span.icon.icon-checked
          span.icon.icon-remove
