span(class="dropdown btn-group projects-list" dropdown is-open="projectDropdown.isOpen")
  button(class="dropdown-toggle btn btn-transparent" dropdown-toggle)
    span
      span.icon.icon-project
      h4(ng-show="selectedProfile.project_name") {{selectedProfile.project_name}}
      h4(ng-show="!selectedProfile.project_name") Sandbox ({{selectedProfile.name}})
    span.caret
  .dropdown-menu.whiteblock.no-margin
    .fixed-header
      a(ng-show="totalProfiles == 1" href="{{frontendRoutes.projects}}") {{totalProfiles}} Project
      a(ng-show="totalProfiles != 1" href="{{frontendRoutes.projects}}") {{totalProfiles}} Projects
    .inner
      ul
        li(ng-repeat="profile in projects| orderBy: '-project_archived'" ng-click="loadProfile(profile)" )
          a
            span.enity
              span.icon.icon-project
              span.title
                h3(ng-show="profile.project_name") {{profile.project_name}}
                h3(ng-show="!profile.project_name") Sandbox
                span.count {{profile.totalProperties}}
                  span(ng-show="profile.totalProperties == 1")  Property
                  span(ng-show="profile.totalProperties != 1")  Properties
                  span(ng-show="profile.project_archived")  -- archived
            span.actions
              //- span.icon.icon-remove
              //- span.icon.icon-checked
              span.icon.icon-save_on_disk(ng-show="profile.project_id" ng-click="archiveProject(profile)")