.draw-tools
  button.btn.btn-transparent.properties-in-shapes(ng-click="Toggles.togglePropertiesInShapes()" tool-tip placement="right" title="Show Properties within drawn shapes")
    span.icon.icon-markers-in-shapes
