.places-search(ng-show="Toggles.showSearch")
    .center-block.search-controls
        #searchbox-container
        a.close-button(ng-click="Toggles.toggleSearch(false)")
            img(title='Hide the search bar' rmaps-cdn-image src='/assets/closeButton.png')
