include ../mixins/_drawToolMixin.jade

+drawToolMixin({
  drawToolId: 'sketchDraw',
  header: 'Sketch Mode', 
  toggleBoolean: 'Toggles.isSketchMode', 
  toggleFn: 'Toggles.toggleIsSketchMode()',
  ctrl: 'rmapsDrawSketchCtrl',
  directiveNgShow: 'draw.show'
})
