.property-card(ng-controller="rmapsSmallDetailsCtrl" style="width:275px; margin-right: -1px;")
  property-images(property="property" image-width="275")
  .corner-close(ng-click="closeInfo()")
  a.property-attrs-clickable(ng-click="formatters.results.showModel(property)")
    property-attributes(property="property")
  property-buttons(
    property='property'
    pin-click='formatters.results.clickSaveResultFromList(property, $event); $event.stopPropagation()'
    favorite-click='formatters.results.clickFavoriteResultFromList(property, $event); $event.stopPropagation()')
