include ../mixins/property/_propertyAttributes.jade

.property-card(ng-controller="rmapsSmallDetailsCtrl" style="width:275px;")
  property-images(property="property" image-width="275")
  property-attributes(property="property")
  property-buttons(
    property='property'
    pin-click='formatters.results.clickSaveResultFromList(property, $event); $event.stopPropagation()'
    favorite-click='formatters.results.clickFavoriteResultFromList(property, $event); $event.stopPropagation()')
