include ../mixins/property/_propertyAttributes.jade

.property-card(ng-controller="rmapsSmallDetailsCtrl")
  property-images(property="property" image-width="275")
  +propertyAttributes('property')
  property-buttons(
    property='property'
    pin-click='formatters.results.clickSaveResultFromList(property, $event); $event.stopPropagation()'
    favorite-click='formatters.results.clickFavoriteResultFromList(property, $event); $event.stopPropagation()')
