//- include ../mixins/_drawToolMixin.jade
//- +drawToolMixin('area', 'Stats',
//-   'Toggles.isStatsDraw',
//-   'Toggles.toggleIsStatsDraw()',
//-   'rmapsDrawAreaCtrl',
//-   false,
//-   'Toggles.toggleTackDrawBar()',
//-   'Toggles.isTackedAreasDrawBar')(ng-controller="rmapsAreasModalCtrl")
