.table-view
  .inner
    height 100%
    overflow scroll

    header
      margin-bottom 30px
      p
        color $text_gray_lighter

      .tools
        margin 20px 0
        >*
          vertical-align top

        .search-box
          background url(/assets/base/icons/email_icon_magnify.png) no-repeat center right transparent
          border none
          line-height 30px
          color $black

      span.divider
        background $gray
        margin-left 10px
        margin-right 10px
        width 1px
        height 32px

        display inline-block

    span
      &.sent
      &.draft
      &.pending
        background $white
        font-size 14px
        text-transform capitalize

      &.sent
        color $success

      &.pending
        color $warning

      &.draft
        color $gray

    table.table
      border-top 1px solid $gray_lighter
      thead
        tr
          th
            border-bottom 1px solid $gray_lighter
            &.select
              text-align center
              width 40px
              padding 10px
              input
                cursor pointer
      tbody
        >tr
          td
            vertical-align middle
            padding 20px 8px
            color $text_gray_lighter
            cursor pointer

            &.select
              text-align center
              width 40px
              padding 10px
              input
                cursor pointer
          h4
            font-size 12px
            margin 0
            color inherit
          a.details
            font-size 11px
            display none
            position absolute
            margin-top 0
          &:hover
            background-color $light_blue_select

            a.details
              display block
              @extends .fadeIn
