//
// Used by ui-router based modals utilizing the main layout named view
//
.modal-container
  position: relative;
  top: 50px;
  height: calc(100% - 50px);
  z-index: $rm-modal-zindex;
  background-color: rgba(0,0,0,0.6);

.page-modal
  background-color: white;
  margin: 0 75px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

.page-modal-close
  position: absolute;
  top: 15px;
  right: 100px;
  font-size: 26px;

  a
    color: $black;
    cursor: pointer;

.mobile-view
  .page-modal
    margin: 0;

//
// Used by mobile view when invoking modals through ui-modal
//
.mobile-modal-window.modal
  .modal-dialog
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: 0
    background-color $rm-mobile-modal-background

    // Fixed positioning of the modal header won't work if a transform is applied to the dialog
    transform: none
    -webkit-transform: none

    .mobile-modal-content-scroll
      position: absolute
      top: $navbarHeight
      left: 0
      right: 0
      bottom: 0
      overflow-x auto

    .modal-content
      height: 100%
      width: 100%
      padding: 0
      border-top: none
      background-color $rm-mobile-modal-background

    .mobile-header-modal
      position: fixed;
      z-index: $rm-modal-header-zindex;

    .mobile-footer-modal
      position: fixed;
      z-index: $rm-modal-header-zindex;
      bottom: 0;
      left: 0;
      right: 0;
      background-color white
