.photo-helper-modal
  display: block

  .page-modal-close
    height: 26px// !important
    width: 26px// !important
    display: block
    right: 40px

    a, i
      display: block
      height: 100%
      color: $white;

  .panel-heading
    h3, p
      color: $white

  rmaps-flickity
    display: block

  .flickity
    h2
      text-align: center

    .carousel-cell
      width: 100%

    .flickity-page-dots
      position: initial

  .sk-double-bounce
    width: 100px
    min-height: 100px

  .sk-double-bounce .sk-double-bounce1, .sk-double-bounce .sk-double-bounce2
    background-color: $rm-medium-blue-darker
