$rm-button-height = 40px

.button
  text-align: center
  min-height $rm-button-height
  text-overflow: ellipsis
  line-height: $rm-button-height
  margin-bottom: 10px;
  border-radius: 0

.button-block
  display: block
  width: 100%
