//
// Carousel Custom Template
//

.carousel
  .item
    padding: 0 !important;

.carousel-standard
  .carousel-indicators
    display: none;

  .carousel-control
    &.left, &.right
      background-image none
      opacity 0.8
      color $white

.carousel-slide-selector
  text-align: center;
  padding: 10px;

  select
    border-radius: 0;
    font-size: 16px;
