@import 'border-functions.styl'

.content-block
  $fnBorders($rm-border-line)

  padding: 10px;
  line-height: 24px;

  .content-heading
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;

  .content-body
    font-size: 15px;
    font-weight: 200;

  .content-row
    margin-bottom: 15px;

  .content-label
    color: $rm-content-label;
    font-weight: 200px;
    font-size: 13px;

  .content-value
    font-size: 20px;
    font-weight: 500;

  .content-muted
    color: $text_gray_lightest;

  .content-emphasis
    font-weight: 500;

  .content-lg
    font-size: 17px;
    font-weight: 300;

  .content-sm
    // noop

.mobile-view
  .content-block
    padding: 8px;
    line-height: 22px;

    .content-heading
      font-size: 18px;
      margin-bottom: 12px;

    .content-body
      font-size: 13px;
      line-height: 19px;
      color: $text_gray_lightest;

    .content-label
      font-size: 13px;
      line-height: 19px;

    .content-value
      font-size: 16px;
      line-height: 19px;

    .content-lg
      font-size: 16px;

    .content-sm
      font-size: 12px;

    .content-emphasis
      font-weight: 400;

.vertical-align
  display flex
  flex-direction row

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"]
  display flex
  align-items center

.vertical-align > [class^="col-"]:last-child,
.vertical-align > [class*=" col-"]:last-child
  justify-content flex-end

