.create-new-email
  header.send-progress
    background-color $dark_white
    padding 10px 20px
    border-bottom 1px solid $gray_lighter
    overflow hidden
    .pathway
      margin 0
      border 0 none
      ul
        margin 0
        li
          line-height 32px
          &:after
            line-height 32px

  #select-recipients
    ul.recipients-list
      list-style none
      padding 0
      margin 0
      li
        border-bottom 1px solid $gray_lighter
        padding 0

        .checkbox
          border-bottom 1px solid $gray_lighter
          padding 20px 0
          margin 0

        &:last-child
          border 0 none

        ul
          list-style none
          padding 0
          margin 0
          li
            padding 10px 0 10px 30px

  #select-template
    .filters
      margin 0px -10px 20px
    ul.tmpl-list
      list-style none
      padding 0

      li
        margin-bottom 20px



      .tmpl-item
        border 1px solid $darker_white
        border-radius 3px
        padding 10px
        overflow hidden
        display table
        width 100%

        .tmpl-image
          display table-cell
          min-width 123px
          height 145px
          background-image url(/assets/base/template_img.png)
          background-repeat no-repeat
          background-position top
          vertical-align top
        .tmpl-data
          display table-cell
          position relative
          padding-left 10px
          h3.tmpl-title
            font-size 14px
            margin 0
            display inline-block
            vertical-align top
            margin-bottom 40px
          button
            display inline-block
            position absolute
            right 0
            bottom 0
            min-width 1px

        &:hover
        &:active
          border-color $light_blue
  .edit-template
    .template-view
      position absolute
      left 0
      top 0
      right 0
      bottom 0
      padding 20px
      background-color $gray_lighter
      border-right 1px solid $gray

    .edit-template-content
      padding 20px
    .edit-template-design
      padding 20px

  #confirm
    .overview-template
    .overview-table
      padding-top 40px

      table
        td
          &:nth-child(2)
            text-align right
            font-weight bold

  #select-recipients
  #sender-info
  #select-template
  .edit-template
  #confirm
    display none
    &.active
      display block
