.draw-tools.container
  .last-col
    span
      margin-left 5px

      &.active
      // &:hover
      &:active, &:active > *
        box-shadow 0 0 0 $black_0
        background $light_blue
        color $white
        border-color $blue
