.feedback
  .container-fluid
    width 100%

    .ui-select-container
      width 100%

    textarea
      height 200px


.modal-content
  .feedback
    .modal-body
      min-height 300px
      overflow hidden !important


.modal-open .modal .modal-dialog .modal-content
  box-shadow: 4px 4px 4px rgba(0,0,0,0.3)
  border-radius: 0 0 5px 5px

.modal-open .modal .modal-dialog .modal-content .modal-footer
  padding: 0

.feedback input[type="search"]
  -webkit-appearance textfield
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
