.feedback
  .container-fluid
    width 100%

    .ui-select-container
      width 100%

    textarea
      height 200px


.modal-content
  .feedback
    .modal-body
      min-height 300px
      overflow hidden !important
