.item-divider, .item
  position: relative;
  padding: 10px;
  border-bottom: solid 1px $rm-item-border

.item-divider
  background-color: $rm-item-divider-bg
  font-weight: 500

.item.item-card
  background-color: white;
