.menu-item

.menu-icon
  color: $rm-menu-icon

  &:hover
    color: $rm-menu-icon

.menu-label
  color: $rm-menu-label

  &:hover
    color: $rm-menu-label

.menu-caption
  color: $rm-menu-caption

  &:hover
    color: $rm-menu-caption

.menu-badge
  color: $rm-menu-badge

  &:hover
    color: $rm-menu-badge

.menu-alert
  color: $rm-menu-alert

  &:hover
    color: $rm-menu-alert

.menu-link
  cursor pointer
