.note-item-mobile
  //
  // Notes
  //
  .notes-title
    margin-bottom: 10px;

  .note-image
    width: 58px;
    max-height: 58px;

  .note-data-wrapper
    //min-height: 58px;
    width: calc(100% - 58px);
    float: left;
    padding-left: 15px;

  .note-data
    font-size: 13px;
    color: $text_gray_lighter;
