.property-group
  width 100%
  margin 0
  .header
    cursor pointer
    &.flex
      display flex
      align-items baseline
      justify-content space-between
  .corner-close
    right 20px
    z-index 10
  .row
    margin 0
    border-bottom 1px $gray
    > *:first-child
      padding 0
      overflow hidden
    &.unit
      min-height 90px
      overflow hidden
      display flex
  .btn-group
    display flex
    .btn
      margin 0
