@import '../components/property-attr-functions.styl'

//
// This component should be used when a Google Street View or Property Image is displayed for a property
//

// Wrapper DIV around Property image or street view
.prop-image
  position: relative;
  width: 100%;

  // Large property image (e.g. - for Details modal)
  &.prop-image-lg
    .property-img
      height 350px
      &:not(.static):hover
        height 565px
      transition: height 1s;
      overflow hidden
      display flex
      align-items center
      justify-content center

  .carousel
    .item
      padding 0
      border 0

  &.prop-image-md
    .property-img
      height: 205px;
      overflow hidden
      display flex
      align-items center
      justify-content center

  .prop-image-panorama
  .property-img-satellite
  .angular-leaflet-map
    width: 100%;
    height: 100%;

    $fnPropertyStatus(background-color)


// Property status floating in lower-left corner of image
.prop-image-status
  display inline-block
  position absolute
  bottom 0
  left 0
  padding: 7px 18px
  font-size: 15px
  font-weight: 500
  color $rm_status_on_background
  text-transform uppercase
  z-index 1

.property-card .prop-image-status
  padding: 5px 8px;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1.1px;

.mobile-only .detail-card .prop-image-status
  padding: 4px;
  font-size: 10px;
  font-weight: 200;
  letter-spacing: normal;


.leaflet-popup-content
  .carousel
    padding 0 !important


img
  &.resizable
    max-width 100%
  	height auto
  	width auto

.project-dashboard-container
  .property-img
    .spinner
      min-height 317px
      display flex
      align-items center
      justify-content center

    select
      display none
    a
      &.left.carousel-control
        z-index 1000
      &.right.carousel-control
        z-index 1000
