@import '../components/property-attr-functions.styl'

//
// This component should be used when a Google Street View or Property Image is displayed for a property
//

.property-img

  .no-images
    height 150px
    &:before
      content " "
      position absolute
      left 0
      height 100%
      width 100%
      background-color $gray_lighter
    &:after
      content "No Photos"
      font-size 20px
      color $gray
      width 100%
      position absolute
      left 0
      top 25%

  .carousel
    width 100%

    img
      min-width 275px
      opacity 0
      transition opacity 0.5s
      &.flickity-lazyloaded
        opacity 1
      &.flickity-lazyerror
        opacity 1
        font-weight 300
        line-height 2
        text-align center
        width 100%
        height auto
        display block
        position relative
        &:before
          content " "
          display block
          position absolute
          top -10px
          left 0
          height calc(100% + 10px)
          width 100%
          background-color $gray_lighter
          border 2px dotted $gray
          border-radius 5px
          min-height 700px
        &:after
          content "\f12a"
          font-size 50px
          font-family FontAwesome
          color $gray
          position absolute
          width 100%
          left 0

// Wrapper DIV around Property image or street view
.prop-image
  position: relative;
  width: 100%;

  // Large property image (e.g. - for Details modal)
  &.prop-image-lg
    .property-img
      height 350px
      &:not(.static):hover
        height 565px
      transition: height 1s;
      overflow hidden
      display flex
      align-items center
      justify-content center

      img
        min-width 750px

  .carousel
    .item
      padding 0
      border 0

  &.prop-image-md
    .property-img
      height: 205px;
      overflow hidden
      display flex
      align-items center
      justify-content center

  .prop-image-panorama
  .property-img-satellite
  .angular-leaflet-map
    width: 100%;
    height: 100%;

    $fnPropertyStatus(background-color)


// Property status floating in lower-left corner of image
.prop-image-status
  display inline-block
  position absolute
  bottom 0
  left 0
  padding: 7px 18px
  font-size: 15px
  font-weight: 500
  color $rm_status_on_background
  text-transform uppercase
  z-index 1

.property-card .prop-image-status
  padding: 5px 8px;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1.1px;

.mobile-only .detail-card .prop-image-status
  padding: 4px;
  font-size: 10px;
  font-weight: 200;
  letter-spacing: normal;


.leaflet-popup-content
  .carousel
    padding 0 !important


img
  &.resizable
    max-width 100%
  	height auto
  	width auto

.project-dashboard-container
  .property-img
    .spinner
      min-height 317px
      display flex
      align-items center
      justify-content center

    select
      display none
    a
      &.left.carousel-control
        z-index 1000
      &.right.carousel-control
        z-index 1000
