@import "property-attr-functions.styl"

.prop-attrs
  .prop-price
  &.prop-price
    font-size 18px
    font-weight bold
    $fnPropertyStatus(color)

    &.prop-lg
      font-size 26px
      padding-bottom: 2px;

.mobile-view
  .prop-attrs
    .prop-price
    &.prop-price
      font-size: 15px;
      font-weight: 500;

