$fnPropertyStatus(colorProp)
  &.property-status
    {colorProp} $rmMainDarkBlue

  &.sold
    {colorProp} $rm_sold

  &.forsale
    {colorProp} $rm_forsale

  &.pending
    {colorProp} $rm_pending

  &.saved
    {colorProp} $rm_saved

  &.notsale
    {colorProp} $rm_notforsale

$fnMakePropertyAttr()
  .property-img
    img
      max-width 100%
      display inline-block

    width 100%
    text-align center
    margin-bottom 10px
    position relative

    .status
      color $white
      text-transform uppercase
      bottom 0
      left 0
      display inline-block
      padding 5px 10px
      font-size 11px
      position absolute
      $fnPropertyStatus(background)

  .price
    margin 0
    font-size 18px
    font-weight bold
    padding 0 10px
    $fnPropertyStatus(color)

  .property-attr
    list-style none
    display inline-block
    margin 0
    ul.attr
      padding 0
      margin 5px -4px
      li
        list-style none
        display inline-block
        border-right 1px solid $black
        border-bottom none
        padding 10px
        line-height 0
        &:last-child
          border none

  .title
    margin 0 0 5px 0
    font-weight bold
    color: $dark_blue_darker
    &:hover
    &:focus
      color $light_blue

  .location
    padding 0 10px
    color $gray
    font-size 12px
    font-weight bold

  .btn-actions
    overflow hidden
    border-top 1px solid $darker_white

    a
      font-size 11px
      border none
      border-right 1px solid $darker_white
      background $white
      line-height 50px
      text-align center
      padding 0
      width 33.3333%
      float left
      min-width 10px

    button
      font-size 11px
      border none
      border-right 1px solid $darker_white
      background $white
      padding 0
      width 20%
      float left
      min-width 10px
      &:last-child
        border none
