$fnMakePropertyAttr()
  .property-attr
    list-style none
    display inline-block
    margin 0 -10px
    ul.attr
      padding 0
      margin 5px -4px
      li
        list-style none
        display inline-block
        border-right 1px solid $black
        border-bottom none
        padding 10px
        line-height 0
        &:last-child
          border none
  .title
    margin 0 0 5px 0
    font-weight bold
    color: $dark_blue_darker
    &:hover
    &:focus
      color $light_blue
  .location
    padding 0 10px
    color $gray
    font-size 12px
    font-weight bold
  .btn-actions
    overflow hidden
    border-top 1px solid $darker_white

    a
      font-size 11px
      border none
      border-right 1px solid $darker_white
      background $white
      line-height 50px
      text-align center
      padding 0
      width 33.3333%
      float left
      min-width 10px

    button
      font-size 11px
      border none
      border-right 1px solid $darker_white
      background $white
      padding 0
      width 33.3333%
      float left
      min-width 10px
      &:last-child
        border none
