@import './onBoardingPlan.styl'

.onboarding.onboarding-payment
  @extends .onboarding.onboarding-plan
  span.card
    position absolute
    top 80px
    right 12px
    display block
    width 32px
    height 20px
    z-index 20
    pointer-events none
