.onboarding
  &.onboarding-finish-yay

    .fireworks
      margin: 0;
      height: 100%;
      overflow: hidden;
      margin-top: 10px;

    button
      width: 75%;

    canvas
      border-radius: 25px;
      display: block;
      min-height: 640px;

    @keyframes colors
      0% { color: #fff; }
      15% { color: #ff3; }
      30% { color: #f66; }
      45% { color: #f3f; }
      60% { color: #66f; }
      75% { color: #3ff; }
      90% { color: #6f6; }
      100% { color: #fff; }

    @-webkit-keyframes colors
      0% { color: #fff; }
      15% { color: #ff3; }
      30% { color: #f66; }
      45% { color: #f3f; }
      60% { color: #66f; }
      75% { color: #3ff; }
      90% { color: #6f6; }
      100% { color: #fff; }
