.onboarding
  &.onboarding-finish-yay

    .sk-spinner.sk-spinner-double-bounce
      width: 200px
      min-height: 200px

    .sk-spinner-double-bounce .sk-double-bounce1, .sk-spinner-double-bounce .sk-double-bounce2
      background-color: $rm-medium-blue-darker
