.onboarding
  &.onboarding-plan
    .plan-box
      text-align center
      padding 15px
      border 1px solid $rm-border-line

      .plan-features
      	height 130px
      	
      	ul
      		text-align left
