.modal-header
  h3.modal-title {{template.title}}
  i.icon.icon-close(ng-click="close()")

.modal-body(ng-show="processing")
  .waiting
    p Processing preview...
    img(src="assets/icon_loading_earth.gif")

.modal-body(ng-hide="mediaType != 'pdf' || processing ")
  .mail-prices-modal-container(ng-if="template.pdf")
    include ../../includes/mail_pricing_table.jade
  embed#mail-preview-pdf.pdf-preview-letter(embed-src="{{template.pdf}}" src="{{template.pdf}}")

.modal-body(ng-hide="mediaType != 'iframe' || processing ")
  iframe#mail-preview-iframe(frameborder="0" ng-class="{'iframe-preview-letter': template.category == 'letter', 'iframe-preview-postcard': template.category == 'postcard'}")

