.modal-header
  h3.modal-title Are you sure??

.modal-body
  p {{message}}
  //- p(ng-show="!sendingFlag") There's no turning back!
  //- p(ng-show="sendingFlag") Submitting campaign to be mailed, please wait...

.modal-footer(ng-class="{'faded': sendingFlag}")
  button.btn.btn-primary(ng-click="send()") Yes, I'm committing to pay {{price | currency}} to have this mailing submitted.
  button.btn.btn-danger(ng-click="cancel()") No, cancel!
