.modal-header
  h3.modal-title Snail Mailing Price Quote

.modal-body
  div(ng-repeat="message in messages | filter:lteCurrentStatus")
    .status-message(ng-class="{current: $last, 'old-message': modalControl.status > message.status, 'error-message': message.status == statuses.error, 'success-message': message.status == statuses.sent}") {{$interpolate(message.text)(messageData)}}
      .troubleshooting-message(ng-if="message.troubleshooting") {{message.troubleshooting}}

.modal-footer
  button.btn.btn-primary(ng-if="modalControl.status == statuses.asking", ng-click="send()") Send Snail Mail
  button.btn.btn-warning(ng-if="modalControl.status < statuses.sending || message.troubleshooting", ng-click="$dismiss('cancel')") Cancel
  button.btn.btn-info(ng-if="modalControl.status >= statuses.sent", ng-click="done()") Go back to the map
