*, *:before, *:after
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

.basicLetter-body
  position relative
  width ($page-width * $scale-factor)
  height ($page-height * $scale-factor)
  margin 0
  padding 0
  // border 2px solid black
  color black
  
.letter-page
  // need to use margin instead of relative positioning since child elements will use absolute positioning to body
  page-break-after always
  background-color rgba(128,128,128,0)
  width ($letter-page-width * $scale-factor)
  height ($letter-page-height * $scale-factor)
  margin-left ($letter-page-offset-left * $scale-factor)
  margin-top ($letter-page-offset-top * $scale-factor)

.letter-page-content
  position relative
  background-color rgba(0,0,0,0)
  // width ($letter-page-content-width * $scale-factor)
  // height ($letter-page-content-height * $scale-factor)
  // left ($letter-page-content-offset-left * $scale-factor)
  // top ($letter-page-content-offset-top * $scale-factor)

.letter-page-content-text
  position relative
  left ($editable-text-offset-left * $scale-factor)
  top ($editable-text-offset-top * $scale-factor)
  width ($editable-text-width * $scale-factor)
  // font-size ($editable-text-font-size * $scale-factor)
  // line-height: ($editable-text-line-height * $scale-factor)

#return-address-window
  position absolute
  background-color rgba(100,100,100,0.5)
  left ($return-address-window-offset-left * $scale-factor)
  top ($return-address-window-offset-top * $scale-factor)
  width ($return-address-window-width * $scale-factor)
  height ($return-address-window-height * $scale-factor)

#return-address-text
  position absolute
  background-color white
  left ($return-address-text-offset-left * $scale-factor)
  top ($return-address-text-offset-top * $scale-factor)
  width ($return-address-text-width * $scale-factor)
  height ($return-address-text-height * $scale-factor)
  // font-size ($return-address-text-font-size * $scale-factor)
  // line-height: ($return-address-text-line-height * $scale-factor)

#recipient-address-window
  position absolute
  background-color rgba(100,100,100,0.5)
  left ($recipient-address-window-offset-left * $scale-factor)
  top ($recipient-address-window-offset-top * $scale-factor)
  width ($recipient-address-window-width * $scale-factor)
  height ($recipient-address-window-height * $scale-factor)

#recipient-address-text
  position absolute
  background-color white
  left ($recipient-address-text-offset-left * $scale-factor)
  top ($recipient-address-text-offset-top * $scale-factor)
  width ($recipient-address-text-width * $scale-factor)
  height ($recipient-address-text-height * $scale-factor)
  // font-size ($recipient-address-text-font-size * $scale-factor)
  // line-height: ($recipient-address-text-line-height * $scale-factor)

.editable, .editable span
  margin 0
  padding 0
  font-style inherit
  //line-height normal

.fontSize10
  font-size (10px * $scale-factor)
  //line-height (10px * $scale-factor)

.fontSize11
  font-size (11px * $scale-factor)
  //line-height (11px * $scale-factor)
  
.fontSize12
  font-size (12px * $scale-factor)
  //line-height (12px * $scale-factor)

.fontSize13
  font-size (13px * $scale-factor)
  //line-height (13px * $scale-factor)

.fontSize14
  font-size (14px * $scale-factor)
  //line-height 1 // (14px * $scale-factor)

.fontSize16
  font-size (16px * $scale-factor)
  //line-height 1 // (16px * $scale-factor)

.fontSize18
  font-size (18px * $scale-factor)
  //line-height 1 // (18px * $scale-factor)

.fontSize20
  font-size (20px * $scale-factor)
  //line-height (20px * $scale-factor)


.fontSize10
  // font-size (10px * $scale-factor)
  line-height (10px * $scale-factor)

.fontSize11
  line-height (11px * $scale-factor)
  
.fontSize12
  line-height (12px * $scale-factor)

.fontSize13
  line-height (13px * $scale-factor)

.fontSize14
  line-height (14px * $scale-factor)

.fontSize16
  line-height (16px * $scale-factor)

.fontSize18
  line-height (18px * $scale-factor)

.fontSize20
  line-height (20px * $scale-factor)
