@import 'frontend/map/styles/mailTemplates/basic-letter-values'
$scale-factor = $lob-scale-factor

@import 'frontend/map/styles/mailTemplates/basic-letter-template'

body
  @extends .basicLetter-body
