$page-width = 8.5in
$page-height = 11.0in

// $letter-page-content-width = 8.125in
// $letter-page-content-height = 10.625in
// $letter-page-content-offset-left = 0.1875in
// $letter-page-content-offset-top = 0.1875in

$letter-page-width = 8.0in
$letter-page-height = 10.5in
$letter-page-offset-left = 0.25in
$letter-page-offset-top = 0.25in

$letter-page-content-width = 8.0in
$letter-page-content-height = 10.5in
$letter-page-content-offset-left = 0.25in
$letter-page-content-offset-top = 0.25in

$return-address-window-width = 3.25in
$return-address-window-height = 0.875in
$return-address-window-offset-top = 0.5in
$return-address-window-offset-left = 0.625in

$return-address-text-width = 2.05in
$return-address-text-height = 0.44in
$return-address-text-offset-top = 0.34in
$return-address-text-offset-left = 0.07in
$return-address-text-font-size = 0.11in

$recipient-address-window-width = 4.0in
$recipient-address-window-height = 1.0in
$recipient-address-window-offset-top = 1.75in
$recipient-address-window-offset-left = 0.625in

$recipient-address-text-width = 2.92in
$recipient-address-text-height = 0.9in
$recipient-address-text-offset-top = 0.05in
$recipient-address-text-offset-left = 0.07in
$recipient-address-text-font-size = 0.19in

$editable-text-width = 6in
$editable-text-height = 5in
$editable-text-offset-top = 3in
$editable-text-offset-left = 0.1in
$editable-text-font-size = 30px

$lob-scale-factor = 1
$wysiwyg-scale-factor = 1.7
