// stylings for wysiwyg editor to control look/feel of editor and associated text-angular components

$template-stage-margin = 1.25in
$wysiwyg-scale-factor = 1
$content-scale-factor = 1.155

*, *:before, *:after
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

.mail-wizard
  .edit-template
    background-color $gray_lighter

    .template-stage
      background-color $gray_lighter
      margin-bottom $template-stage-margin
      text-align center

      .letter-body
        zoom $content-scale-factor
        -moz-transform: scale($content-scale-factor)
        -moz-transform-origin: 0 0;

      .letter-editor
        margin auto // centers the editor
        zoom $wysiwyg-scale-factor
        -moz-transform: scale($wysiwyg-scale-factor)
        -moz-transform-origin: left center;
        height 11in
        width 8.5in
        background-color $white
        position relative // Important for address positioning and page breaks

        // .ta-root
        //   box-shadow 4px 4px 20px #888888

        .wysiwygOnly
          display block
          pointer-events none

        p.page-break
          margin-top 0 // Overridden in print
          &::before // Visual indicator
            content \'Page Break\'
            text-align right
            display block
            border-top 1px dotted $gray
            margin-top -0.25in
            color $gray
            font-size 12px
            position absolute
            right 0
            width 100%
            height 0
            line-height 1em
            padding-right 0.5em

      .highlight-display
        background-color $rm_highlight_success
        border-radius 3px
        margin-left 2px
        margin-right 2px

      .macro-display
        background-color $rm_macro_success
        border-radius 3px
        margin-left 2px
        margin-right 2px

      .macro-display-error
        background-color $rm_macro_error
        border-radius 3px
        margin-left 2px
        margin-right 2px

      .ta-scroll-window > .ta-bind
        padding 0
        outline none // prevents blue outline around the editor
        padding-bottom 1em

      .return-address-window,
      .recipient-address-window
        background-color $gray_lightest
        border-radius 5px
        position absolute

      .return-address-window
        left 0.625in
        top 0.5in
        width 3.25in
        height 0.875in
        z-index 1000

      .recipient-address-window
        left 0.625in
        top 1.5in
        width 4.0in
        height 1.0in
        z-index 1000

      .return-address-text,
      .recipient-address-text
        padding 1em
        text-align left

      .address-line
        text-transform uppercase
        font-family 'Open Sans'
        font-size 0.13in
        line-height 1.5em
