// stylings for wysiwyg editor to control look/feel of editor and associated text-angular components

$template-stage-margin = 1.25in
$wysiwyg-scale-factor = 1.0
$page-height = 11in

*, *:before, *:after
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

.mail-wizard
  .edit-template
    background-color $gray_lighter

    .template-stage
      background-color $gray_lighter
      margin-bottom $template-stage-margin
      text-align center

      .letter-editor
        margin auto
        box-shadow 4px 4px 20px #888888
        zoom $wysiwyg-scale-factor
        overflow scroll
        height 6.5in
        width 8.5in
        background-color $white
        position relative

        .wysiwygOnly
          display block
          pointer-events none

        p.page-break
          margin-top 0
          &::before
            content \'Page Break\'
            text-align right
            display block
            border-top 1px dotted $gray
            margin-top -0.25in
            color $gray
            font-size 12px
            position absolute
            right 0
            width 100%
            height 0
            line-height 1em
            padding-right 0.5em

      .macro-display
        background-color #46b8f1
        border-radius 3px
        margin-left 2px
        margin-right 2px

      .macro-display-error
        background-color red
        border-radius 3px
        margin-left 2px
        margin-right 2px

      .letter-page
        top 0
        &:focus
          border none

      .ta-scroll-window > .ta-bind
        padding 0
        outline none

      #recipient-address-window, #return-address-window
        overflow hidden
        background-color rgba(100,100,100,0.5)
