//!!  DONT USE INCHES, this stylesheet is important for PDF rendering
//!!  use  px @ 72dpi


// generic container stylings that are to be made available to all templates for usage of layout and style where needed
// explicit setting, not using `inherit` in case a parent-level rule is present that the lob version wouldn't have
reset-font()
  font-weight normal
  font-style normal
  font-family 'Open Sans'
  font-size 9px
  font-variant normal
  font-transform none
  vertical-align baseline
  line-height 12px

// to get around pdf-rendering bugs (i.e. https://github.com/ariya/phantomjs/issues/12936)
$margin = 36px // 0.5in // LOB specifies min. safe printing margin is 0.03125in
$address_margin = 216px // 3in // area occupied by address when template = true
$pagewidth = 612px // 8.5in
$gray_lightest = #f0f1f3

// page itself, this gets applied to <body> of html, syncs expected width for pages
.letter-body
  width $pagewidth

// content container
.letter-page
  reset-font()
  padding $address_margin $margin 0
  color black
  text-align left
  background-color $white
  font-family 'Open Sans'

  p
    reset-font()
    margin 0 0 0px

    &.page-break
      page-break-before always
      // If this is changed, the logic that calculates page breaks should be changed in mailDirectives.coffee
      // Padding is used rather than margin to aid in this calculation.
      padding-top $margin


.return-address-window,
.recipient-address-window
  background-color $gray_lightest
  border-radius 5px
  position absolute

.return-address-window
  left 45px
  top 36px
  width 260px
  height 63px
  z-index 1000

.recipient-address-window
  left 45px
  top 108px
  width 288px
  height 72px
  z-index 1000

.return-address-text,
.recipient-address-text
  padding 1em
  text-align left

.address-line
  text-transform uppercase
  font-family 'Open Sans'
  font-size 9px
  line-height 10px
