// fragment stylings necessary for styling the content in wysiwyg (tools add classes to content divs, and these are the class defs)

.fontSize10
  font-size 10px
  //line-height 10px

.fontSize11
  font-size 11px
  //line-height 11px
 
.fontSize12
  font-size 12px
  //line-height 12px

.fontSize13
  font-size 13px
  //line-height 13px

.fontSize14
  font-size 14px
  //line-height 1 // 14px

.fontSize16
  font-size 16px
  //line-height 1 // 16px

.fontSize18
  font-size 18px
  //line-height 1 // 18px

.fontSize20
  font-size 20px
  //line-height 20px

// attempted line-height fix with explicit block of rules
.fontSize10
  line-height 10px

.fontSize11
  line-height 11px
 
.fontSize12
  line-height 12px

.fontSize13
  line-height 13px

.fontSize14
  line-height 14px

.fontSize16
  line-height 16px

.fontSize18
  line-height 18px

.fontSize20
  line-height 20px

.wysiwygOnly
  display none
