// generic container stylings that are to be made available to all templates for usage of layout and style where needed

.letter-editor // page itself, this gets applied to <body> of html
  position relative
  width 8.5in
  height 11in
  margin 0
  padding 0
  color black

.letter-page // inner container
  width 8in
  height 10.5in
  margin-left 0.25in
  margin-top 0.25in

.letter-page-content // content container
  padding 1em
  // position absolute
  // left 0.25in
  // top 3.0in
  // width 8.0in
  // height 4.5in

.return-address-window
  margin 1em
  // position absolute
  // left 0.625in
  // top 0.5in
  width 3.25in
  // height 0.875in

.return-address-text
  // position absolute
  // left 0.1in
  // top: 0.1in
  width 3.05in
  // height 0.675in

.recipient-address-window
  margin 1em
  // position absolute
  // left 0.625in
  // top 1.75in
  width 4.0in
  // height 1.0in

.recipient-address-text
  // position absolute
  // left 0.1in
  // top 0.1in
  width 3.80in
  // height 0.8in
