.property-attributes-wrapper.prop-attrs
  .prop-price(ng-class="formatters.property.getForSaleClass(property, false)") {{formatters.property.getPrice(property.price)}}
  .prop-details.horizontal
    .prop-detail(ng-if="property.bedrooms") {{property.bedrooms}} beds
    .prop-detail(ng-if="property.baths_total") {{property.baths_total}} bath
    .prop-detail(ng-if="property.finished_sqft") {{property.finished_sqft}} Sq Ft
    .prop-detail(ng-if="property.year_built") {{formatters.property.getYear(property.year_built)}} built
  .prop-street(ng-if="property.street_address_num || property.street_address_name || property.street_address_unit", ng-cloak) {{property.street_address_num}} {{property.street_address_name}} {{property.street_address_unit}}
  .prop-location(ng-if="property.city || property.state") {{formatters.property.getCityStateZip(property)}}
