include ../../includes/mixins/_noteInputMixin.jade

.row
  .col-sm-6.col-xs-12
    .bordered
      .prop-image

        property-images(property="property" image-width="422" show-status="true" cover-image="true")

      property-buttons(property='property' project='project' zoom-click='zoomClick(property)')

  .col-sm-6.col-xs-12.property-card-right
    .mobile-padding
      .property-data.property-attrs-clickable(ui-sref="property({ id: property.rm_property_id })")
        property-attributes(property='property')

      .project-card-notes
        .notes-title(ng-if="filteredNotes.length")
          a(ui-sref="projectNotes({ id: project.id })") Notes ({{filteredNotes.length || 0}})

        .list
          .item.item-border.project-note(ng-repeat="note in notes | filter:{ rm_property_id: property.rm_property_id } | orderBy:rm_inserted_time as filteredNotes")
            .note-data
              .note-date {{note.rm_inserted_time  | date:'MM/dd/yyyy'}}
              .note-author {{note.first_name}} {{note.last_name}}
              .note-text {{note.text}}

      +noteInputMixin(
        "createNoteForm_{{property.rm_property_id}}",
        "createNote(project, property)",
        "newNotes[property.rm_property_id].text",
        "createNote(project, property)"
      )
