#project-pin-container
  .project-top
    .project-property-card.item.item-card.bordered(ng-repeat="property in pins")
      .row
        .col-xs-6
          .prop-image
            .prop-image-status(ng-class="formatters.property.getStatusLabelClass(property,true)") {{property.rm_status}}
            img(ng-cloak ng-if="property.geom_point_json.coordinates" ng-src="{{formatters.property.google.StreetView.getUrl(property, 420, 280)}}" title="{{property.title}}")
            img(ng-cloak ng-if="!property.geom_point_json.coordinates && loadedProperties" ng-src="/assets/test_property.jpg" title="{{property.title}}")

        .col-xs-6
          .property-data
            property-attributes(property='property')
            property-buttons(property='property' project='project' zoom-click='zoomClick(property)')

          .project-card-notes
            .notes-title
              a(ui-sref="projectNotes({ id: project.id })") Notes ({{filteredNotes.length || 0}})

            .list.bordered
              .item.project-note(ng-repeat="note in notes | filter:{ rm_property_id: property.rm_property_id } | orderBy:rm_inserted_time:true as filteredNotes")
                .note-data
                  .row
                    .col-sm-7
                      .note-title {{note.title}}
                    .col-sm-5.text-right
                      .note-date {{note.rm_inserted_time  | date:'MM/dd/yyyy'}}
                  .note-text {{note.text}}
