#project-favorite-container
  div(ng-repeat="property in favorites")
    .property-card.bordered
      .prop-image
        .prop-image-status(ng-class="formatters.property.getStatusLabelClass(property,true)") {{property.rm_status}}
        img(ng-cloak ng-if="property.geom_point_json.coordinates" ng-src="{{formatters.property.google.StreetView.getUrl(property, 420, 280)}}" title="{{property.title}}")
        img(ng-cloak ng-if="!property.geom_point_json.coordinates && loadedProperties" ng-src="/assets/test_property.jpg" title="{{property.title}}")
      .property-data
        property-attributes(property='property')
        property-buttons(property='property' project='project' zoom-click='zoomClick(property)')
