#project-dashboard.container-fluid

  .project-header.desktop-only
    h1.pageTitle(ng-show="!project.sandbox") {{project.name}}
    h1.pageTitle(ng-show="project.sandbox") Sandbox

    .project-tools
      button(class="btn btn-white" rmaps-require-project-editor="disable" ng-click="editProject(project, $event)")
        i.fa.fa-pencil-square-o
        span Edit
      button.btn.btn-white(ng-show="!project.sandbox" ng-click="archiveProject(project, $event)")
        span.icon.icon-save_on_disk
        span(ng-if="!project.archived") Archive
        span(ng-show="!project.sandbox" ng-if="project.archived") Unarchive
      button.btn.btn-white(ng-show="project.sandbox" ng-click="resetProject(project, $event)")
        span.icon.fa.fa-undo
        span Reset

  .inner
    .project-widgets
      .project-widget.widget-project(ng-class="{ 'widget-active': $state.is('project')}")
        .inner
          .widget-background
            span.icon.icon-property
          a(ui-sref="project({ id: project.id})")
            .widget-title Dashboard

      .project-widget.widget-pin(ng-class="{ 'widget-active': $state.is('projectPins')}")
        .inner
          .widget-background
            span.icon.icon-pin
          a(ui-sref="projectPins({ id: project.id})")
            .widget-count {{_.keys(propertiesService.pins).length || 0}}
            .widget-title Pins

      .project-widget.widget-favorite(ng-class="{ 'widget-active': $state.is('projectFavorites')}")
        .inner
          .widget-background
            i.icon.fa.fa-heart
          a(ui-sref="projectFavorites({ id: project.id})")
            .widget-count {{_.keys(propertiesService.favorites).length || 0}}
            .widget-title Favorites

      .project-widget.widget-note(ng-class="{ 'widget-active': $state.is('projectNotes')}")
        .inner
          .widget-background
            i.fa.fa-sticky-note
          a(ui-sref="projectNotes({ id: project.id})")
            .widget-count {{notes.length || 0}}
            .widget-title Notes

      .project-widget.widget-neighborhood(ng-class="{ 'widget-active': $state.is('projectNeighbourhoods')}")
        .inner
          .widget-background
            span.icon.icon-neighbourhood
          a(ui-sref="projectNeighbourhoods({ id: project.id})")
            .widget-count {{project.neighbourhoods.length || 0}}
            .widget-title Areas

      .project-widget.widget-client(ng-class="{ 'widget-active': $state.is('projectClients')}")
        .inner
          .widget-background
            i.icon.fa.fa-user
          a(ui-sref="projectClients({ id: project.id})")
            .widget-count {{project.clients.length || 0}}
            .widget-title Clients

    .project-content
      .project-dashboard-container
        div(ui-view)
