.project-notes(ng-controller="rmapsNotesModalCtrl")
  .row(ng-repeat="note in notes | orderBy:rm_inserted_time:true")
    .col-md-2
      img(ng-src="{{formatters.property.google.StreetView.getUrlForCoordinates(note.coordinates, 100, 100)}}" title="{{note.title}}")
    .col-md-8
      .data
        h4 {{note.title}}
        p {{note.text}}
    .col-md-2
      .note-date
        | {{note.rm_inserted_time  | date:'MM/dd/yyyy'}}
      .tools
        button.btn.btn-link(ng-click="update(note)") Edit
        button.btn.btn-link(ng-click="remove(note, true)") Remove
