.collapse-header
  h2.title Neighborhoods ({{project.neighborhoods.length}})
li(ng-repeat="neighborhood in project.neighborhoods" class="col-md-6")
  a(class="map" href="#/neighborhoods/{{neighborhood.id}}")
    span View Neighbourhood
    img(src="/assets/test_map.jpg")
  .data
    h3 {{neighborhood.name}}
  button.btn.btn-link
    i.fa.fa-trash-o
    span Delete
