#project-favorite-container
  .project-top
    .project-property-card.item.item-card.bordered(ng-repeat="property in favorites | limitTo: favoriteLimit")
      div(ng-include='"./views/project/_propertyCardInclude.jade"')

    .project-instructions(ng-if="!favorites.length && loadedProperties")
      span You don't have any Favorites
      i.fa.fa-heart.project-instruction-icon

      .project-instruction-details Favorites are a way to save properties.  Just click the Favorite icon anywhere you see it to add the property to this list.

      img.project-instruction-image(rmaps-cdn-image src='/assets/project/favorite-instruction.png')
