.project-notes(ng-controller="rmapsNotesModalCtrl")
  .collapse-header
    h2.title Notes ({{project.notes.length}})
  li(ng-repeat="note in project.notes" class="row")
    .col-md-2
      a(class="note-img" href="/map")
        img(src="/assets/test_map.jpg")
    .col-md-8
      .data
        h4 {{note.title}}
        p {{note.text}}
    .col-md-2
      .note-date
        | {{note.rm_inserted_time  | date:'MM/dd/yyyy'}}
      .tools
        button.btn.btn-link(ng-click="update(note)") Edit
        button.btn.btn-link(ng-click="remove(note, true)") Remove
