include ../../includes/mixins/_noteInputMixin.jade

.project-notes-container(ng-controller="rmapsNotesModalCtrl")
  +noteInputMixin(
    "createProjectNoteForm",
    "createNote(project)",
    "newNotes['project'].text",
    "createProjectNote(project)"
  )

  .list.bordered
    .item.project-note(ng-repeat="note in notes | orderBy:rm_inserted_time:true")
      div(ng-include="'./includes/_noteItem.jade'")
