ul.nav(ng-click="toggleIsOn()")
    li
        a(href="#/neighbourhoods" class="neighbourhoods" ng-class="{ active: isActive('neighbourhoods') }")
            span neighbourhoods
            span.new new
            span.conut {{neighbourArray.length}}
    li
        a(href="#/properties" class="properties" ng-class="{ active: isActive('properties') }")
            span properties
            span.new new
            span.conut {{propertiesArray.length}}
    li
        a(href="#/notes" class="notes" ng-class="{ active: isActive('notes') }")
            span notes
            span.conut {{notesArray.length}}
    li
        a(href="#/favorites" class="favorites" ng-class="{ active: isActive('favorites') }")
            span favorites
            span.conut {{projectsArray.length}}
    li
        a(href="#/projects" class="projects" ng-class="{ active: isActive('projects') }")
            span my projects
            span.conut {{projectsArray.length}}
.bottom
    a(href="#realtor" class="realtor" ng-class="{ active: isActive('realtor') }") my realtor
        span.avatar
            img(src="./img/test_avatar.jpg" title="My Realtors Name")
    a(href="#settings" class="settings" ng-class="{ active: isActive('settings') }") account settings
