#userblock(ng-controller="DropdownCtrl")
    span(class="dropdown" dropdown on-toggle="toggled(open)")
        button(class="dropdown-toggle avtr" dropdown-toggle) sl
        ul(class="dropdown-menu right arrow")
            li
                a(href="#") my account
            li
                a(href="#") log out
            li
                .block-become-a-member
                    h4 trial period
                    p 30 days left
                    button(class='btn btn-primary') become a member
