div(ng-controller="MobilePageCtrl")
  .mobile-page(ng-class="{' ':!isMobileNavOpen,'mobile-nav-open':isMobileNavOpen}"
  ng-click="closeMobileNav($event);")
    include ../includes/_header
    block content
  include ../includes/_mobilenavigation

  include ../../../common/html/includes/alerts
