.mobile-page(ng-class="{' ':!isOn,'on':isOn}" ng-controller="MobilePageCtrl")
  include ../includes/_header
  block content
include ../includes/_mobilenavigation

  include ../../../common/html/includes/alerts
