.mobile-page(ng-class="{' ':!isOn,'on':isOn}" ng-controller="MobilePageCtrl"
ng-click="maybeToggleOn($event);")
  include ../includes/_header
  block content
include ../includes/_mobilenavigation

include ../../../common/html/includes/alerts
