div(ng-controller="MobilePageCtrl")
  .mobile-page(ng-class="{' ':!isMobileNavOpen,'mobile-nav-open':isMobileNavOpen}")
    include ../includes/_header
    #mobile-page-overlay(ng-show='isMobileNavOpen' ng-click='closeMobileNav($event)')
    block content
  include ../includes/_mobilenavigation

  include ../../../common/html/includes/alerts
