#area.content-section-container(ng-class="{active:isActive('areas')}")
    .desktop-only
        header
            a(class="btn btn-default back" href="#map")
                span.icon.icon-remove
            .top-bar
                .pull-left
                    a(class="btn btn-link toggle" href="#map")
                        span.icon.icon-remove
                    h2 Areas
                .pull-right
                    span Filter

        .inner
            .container
                .row
                    .col-md-3.navbar
                        include ../includes/_sidebar.jade
                    .col-md-9.content
                        h2.title Areas ({{areaList.length}})
                        .row
                            ul.areas
                                li(ng-repeat="enity in areaList" class="col-md-6")
                                    a(class="map" href="#/areas/{{enity.id}}")
                                        span View Area
                                        img(rmaps-cdn-image src="static/img/{{enity.mapImg}}")
                                    div.data
                                        h3 Area {{enity.id}}
                                        button(class="btn btn-link") Delete

                        hr
    .mobile-only
        header
            a(class="subnav" href="#map")
                img(rmaps-cdn-image src='static/img/base/icons/mobile_back_icon.png', width='23px' height='23px' alt='back')
                | Areas
            .menu
                a(href="#map")
                    | Filter
                    img(rmaps-cdn-image src='static/img/base/icons/mobile_main_navigation.png', alt='option')

        .inner
            .container
                .row
                    .col-md-12(ng-controller="rmapsAccordionCtrl")
                        accordion(close-others="oneAtATime")
                            accordion-group(ng-repeat="enity in projectsArray" heading="{{enity.title}}" is-open="status.isItemOpen[$index]")
                                ul.area-list
                                    li(ng-repeat="id in enity.areas")
                                        div.mapimg
                                            img(rmaps-cdn-image src="static/img/{{areaData[id].mapImg}}" alt="Area map")
                                        div.info
                                            div.content
                                                h2.title
                                                    a(href="area/{{areaData[id].id}}") {{areaData[id].title}}
                                                ul.data
                                                    li
                                                        | {{areaData[id].vicinity}}
                                                    li
                                                        a(href="") {{areaData[id].properties.length}} properties

                                            div.tools
                                                a(href="#/area/{{areaData[id].id}}")
                                                    img(rmaps-cdn-image src='static/img/base/icons/mobile_next_2_icon.png', width='23px' height='23px' alt='next')
