.inner.container.client-entry
  h1.pageTitle Welcome, {{client.first_name}} {{client.last_name}}
  .row
    form.col-lg-12(name="clientForm")
      p {{parent.first_name}} {{parent.last_name}} has invited you to view their project #[span.project-name {{project.name}}].
      p Enter in a password to use for your account:
      .client-input
        input.form-control(type="password" name="password" ng-model="client.password" validator="password")
        input.form-control(type="hidden" name="email" ng-model="client.email")
      .client-submit
        .btn.btn-primary.btn-login(ng-click="login()" validation-submit="clientForm" ng-disabled="clientForm.$invalid") Login

