form.add-project
  .modal-header
    h3.modal-title Edit Project
    span.icon.icon-close(ng-click="cancelModal()")
  .modal-body
    .form-group
      label(for="name") Name your project
      input.form-control(type="text" name="name" ng-model="projectCopy.name" placeholder="Type project name here")
    div.add-client-info
      .form-section
        h4.title Property Ask
        .form-group
          .row
            .col-sm-12
              label(for="minPrice") Price Range
              .row
                .col-sm-6
                  input.form-control(name="minPrice" ng-model="projectCopy.minPrice" placeholder="$0")
                .col-sm-6.minus
                  input.form-control(name="maxPrice" ng-model="projectCopy.maxPrice" placeholder="$0")
        .form-group
          .row
            .col-sm-4
              label(for="beds") Beds
              select.form-control(name="beds" ng-model="projectCopy.beds")
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
            .col-sm-4
              label(for="baths") Bath
              select.form-control(name="baths" ng-model="projectCopy.baths")
                option 1
                option 2
                option 3
                option 4
                option 5
            .col-sm-4
              label(for="sqft") Sq Ft
              input.form-control(name="sqft" ng-model="projectCopy.sqft")
  .modal-footer
    button.btn.btn-default(ng-click="cancelModal()") Cancel
    button.btn.btn-primary(type="submit" ng-click="saveProject()") Save
