#favorites.content-section-container(ng-class="{active:isActive('favorites')}")
    .desktop-only
        header
            a(class="btn btn-default back" href="#map")
                span.icon.icon-remove
        .inner
            .container
                .row
                    .col-md-3.navbar
                        include ../includes/_sidebar.jade
                    .col-md-9.content
                        h2.title Favorites ({{favoritesList.length}})
                        .row
                            ul.favorites
                                li(ng-repeat="entity in favoritesList" class="col-md-6")
                                    div.property-card
                                        div.property-img
                                            img(rmaps-cdn-image src="static/img/{{entity.image}}")
                                            span.property-status(ng-class="entity.status")
                                                | {{entity.status}}
                                        div.property-data
                                            span.price(ng-class="entity.status")
                                                | ${{entity.price}}
                                            property-attributes(property="entity")
                                        div.actions
                                            button.details
                                                span.icon.icon-arrow
                                                span See details
                                            button.pinto
                                                span.icon.icon-pin
                                                span Pin to
                        hr
    .mobile-only
        header
            a(class="subnav" href="#map")
                | Add Pin
            .menu
                a(class="close" href="#map")
                    span.icon.icon-remove

        .inner
            .container
                .row
                    .col-md-12(ng-controller="rmapsAccordionCtrl")
                        uib-accordion(close-others="oneAtATime")
                            div(uib-accordion-group ng-repeat="entity in projectsArray" heading="{{entity.title}}" is-open="status.isItemOpen[$index]")
                                ul.favorites-list
                                    li(ng-repeat="id in entity.favorites")
                                        div.row
                                            div.col-sm-3.col-xs-5
                                                div.property-img
                                                    span(class="status" ng-class="favoritesData[id].status") {{favoritesData[id].status}}
                                                    img(rmaps-cdn-image src="static/img/{{favoritesData[id].image}}" alt="Property Image")
                                            div.col-sm-9.col-xs-7
                                                div.info
                                                    p(class="price" ng-class="favoritesData[id].status") ${{favoritesData[id].price}}
                                                        a(class="magnify" href="#map")
                                                            span.icon.icon-pin
                                                    div.property-attr
                                                        ul.attr
                                                            li {{favoritesData[id].attr.beds}} beds
                                                            li {{favoritesData[id].attr.bath}} bath
                                                            li {{favoritesData[id].attr.square}} Sq Ft
                                                            li {{favoritesData[id].attr.year}} built
                                                    h2.title
                                                        button(class="btn btn-link" href="area/{{favoritesData[id].id}}") {{favoritesData[id].title}}
                                                    div.location
                                                        | {{favoritesData[id].location}}
