div(class="{{pageClass}}", ng-show="$state.is('main')", ng-cloak).page
  section
    .hero-container.center-on-page
      a(href="{{frontendRoutes.map}}",title="Show me the map!")
        .hero-container
          img(src="../../assets/logo.png")
        .hero-text
          | Search &nbsp;| &nbsp; Map &nbsp;| &nbsp; Share &nbsp;| &nbsp; Communicate
