.mail
  .mail-wizard-steps
    header.send-progress
      button(class="btn btn-default pull-left" ng-click="prevStep()") Back
      button(class="btn btn-primary pull-right" ng-click="nextStep()") Next
      div.pathway
        ul
          li(ng-class="{ active: step == 'recipientInfo' }")
            span Recipients
          li(ng-class="{ active: step == 'senderInfo' }")
            span Sender Info
          li(ng-class="{ active: step == 'selectTemplate' }")
            span Select Template
          li(ng-class="{ active: step == 'editTemplate' }")
            span Edit Template
          li(ng-class="{ active: step == 'confirm' }")
            span Confirm

  .mail-wizard
    div(ui-view)
