.mail(rmaps-require-subscriber-or-viewer="modalNow,omit")
  .inner
    .container
      header.row
        .col-md-8
          h1.pageTitle Mail Campaigns
        .col-md-4.text-right
          .tools
            input.search-box(type="search" ng-model="searchName" placeholder="Search mailings")
            span.divider
            button.btn.btn-primary(ng-controller="rmapsMailModalCtrl" ng-click="addMail()") Create
      .row
        .col-md-12
          table(class="table table-hover")
            thead
              tr
                th
                  span(ng-click="sortField = 'name'; sortReverse = !sortReverse") Title
                  span.fa.fa-caret-down(ng-show="sortField == 'name' && !sortReverse")
                  span.fa.fa-caret-up(ng-show="sortField == 'name' && sortReverse")
                th
                  span(ng-click="sortField = 'project_name'; sortReverse = !sortReverse") Project
                  span.fa.fa-caret-down(ng-show="sortField == 'project_name' && !sortReverse")
                  span.fa.fa-caret-up(ng-show="sortField == 'project_name' && sortReverse")

                th.col-md-1
                  span(ng-click="sortField = 'recipients'; sortReverse = !sortReverse") Recipients
                  span.fa.fa-caret-down(ng-show="sortField == 'recipients' && !sortReverse")
                  span.fa.fa-caret-up(ng-show="sortField == 'recipients' && sortReverse")

                th
                  span(ng-click="sortField = 'template_name'; sortReverse = !sortReverse") Template
                  span.fa.fa-caret-down(ng-show="sortField == 'template_name' && !sortReverse")
                  span.fa.fa-caret-up(ng-show="sortField == 'template_name' && sortReverse")

                th.col-md-1
                  span(ng-click="sortField = 'status'; sortReverse = !sortReverse") Status
                  span.fa.fa-caret-down(ng-show="sortField == 'status' && !sortReverse")
                  span.fa.fa-caret-up(ng-show="sortField == 'status' && sortReverse")

                th.col-md-1
                  span(ng-click="sortField = 'rm_inserted_time'; sortReverse = !sortReverse") Created
                  span.fa.fa-caret-down(ng-show="sortField == 'rm_inserted_time' && !sortReverse")
                  span.fa.fa-caret-up(ng-show="sortField == 'rm_inserted_time' && sortReverse")

                th.col-md-1
                  span(ng-click="sortField = 'stripe_charge'; sortReverse = !sortReverse") Sent
                  span.fa.fa-caret-down(ng-show="sortField == 'stripe_charge' && !sortReverse")
                  span.fa.fa-caret-up(ng-show="sortField == 'stripe_charge' && sortReverse")

                th.col-md-1

            tbody
              tr(ng-repeat="campaign in mailCampaigns | filter:{name:searchName} | orderBy:sortField:sortReverse" ui-sref="review({id:campaign.id})" ui-sref-opts="{reload: true}")
                td
                  h4 {{campaign.name}}
                td
                  h4 {{campaign.project_name || 'Sandbox'}}
                td
                  span {{campaign.recipients.length || 0}}
                td
                  span {{campaign.template_name}}
                td
                  span(class="{{statusNames[campaign.status]}}") {{statusNames[campaign.status].toInitCaps()}}
                td.col-md-1
                  span {{campaign.rm_inserted_time | date:'MM/dd/yyyy'}}
                td.col-md-1
                  span {{(campaign.stripe_charge.created | date:'MM/dd/yyyy') || 'never'}}
                td.col-md-1
                  button.btn.btn-white(ng-click="deleteCampaign(campaign); $event.stopPropagation()" ng-show="campaign.status == 'ready'") Delete
