.mail
  .mail-wizard-steps
    header.send-progress
      button(class="btn btn-default pull-left" ng-click="prevStep()") Back
      button(class="btn btn-primary pull-right" ng-click="nextStep()") Next
      div.pathway
        ul
          li
            a(ui-sref="recipientInfo") Recipients
          li
            a(ui-sref="senderInfo") Sender Info
          li
            a(ui-sref="selectTemplate") Select Template
          li
            a(ui-sref="editTemplate") Edit Template
          li
            a(ui-sref="confirm") Confirm

  .mail-wizard
    div(ng-repeat="state in $state.get() | filter:{parent: 'mailWizard'}", ui-view="{{state.name}}", ng-show="$state.includes(state.name)", ng-cloak)
