.mail
  .inner
    .container
      header.row
        .col-md-8
          h1.pageTitle Mail Campaigns
        .col-md-4.text-right
          .tools
            input.search-box(type="search" ng-model="searchName" placeholder="Search mailings")
            span.divider
            button(ng-controller="rmapsMapMailCtrl" class="btn btn-primary" ng-click="addMail()") Create
      .row
        .col-md-12
          table(class="table table-hover")
            thead
              tr
                th
                  span Title
                th
                  span Project
                th.col-md-1
                  span Recipients
                th
                  span Type
                th.col-md-1
                  span Status
                th.col-md-1
                  span Created
                th.col-md-1
                  span Sent
                th.col-md-1

            tbody
              tr(ng-repeat="campaign in mailCampaigns | filter:{name:searchName}" ui-sref="mailWizard({id:campaign.id})" ui-sref-opts="{reload: true}")
                td
                  h4 {{campaign.name}}
                td
                  h4 {{campaign.project_name || 'Sandbox'}}
                td
                  span {{campaign.recipients.length || 0}}
                td
                  span {{campaign.template_type}}
                td
                  span(class="{{campaign.status}}") {{campaign.status}}
                td.col-md-1
                  span {{campaign.rm_inserted_time | date:'MM/dd/yyyy'}}
                td.col-md-1
                  span {{(campaign.submitted | date:'MM/dd/yyyy') || 'never'}}
                td.col-md-1
                  span {{(campaign.submitted | date:'MM/dd/yyyy') || 'never'}}
                td.col-md-1
                  button.btn.btn-white(ng-click="deleteCampaign(campaign); $event.stopPropagation()") Delete
