.mail
  .inner
    .container
      header.row
        .col-md-8
          h1.pageTitle Mail Campaigns
        .col-md-4.text-right
          .tools
            input.search-box(type="search" ng-model="searchName" placeholder="Search mailings")
            span.divider
            button(class="btn btn-primary" ng-click="$state.go('editTemplate')") Create
      .row
        .col-md-12
          table(class="table table-hover")
            thead
              tr
                th
                  span Title
                th
                  span Project
                th
                  span Recipients
                th
                  span Type
                th
                  span Status
                th.col-md-1
                  span Date
            tbody
              tr(ng-repeat="campaign in mailCampaigns | filter:{name:searchName}")
                td
                  h4 {{campaign.campaign_name}}
                td
                  h4 {{campaign.project_name}}
                td
                  span {{campaign.count}}
                td
                  span {{campaign.template_type}}
                td
                  span(class="{{campaign.status}}") {{campaign.status}}
                td.col-md-1
                  span {{campaign.submitted | date:'MM/dd/yyyy'}}
