section.map(ng-cloak ng-init="init('page-map')")
  include ../includes/mixins/leaflet

  div(ng-if="map.isReady" id="map")
    +leaflet('map', 'mainMap')

  include ../includes/detailsTray
  include ../includes/filtersTray
  include ../includes/properties
  include ../includes/searchbox
