section.map(ng-cloak ng-init="init('page-map')")
  include ../includes/mixins/leaflet

  div(ng-if="map.isReady" id="map")
    +leaflet('map', 'mainMap')

  include ../includes/map/_detailsTray.jade
  include ../includes/map/_filtersTray.jade
  include ../includes/map/_properties.jade
  include ../includes/map/_searchbox.jade
  include ../includes/map/_notesTap.jade
