section.map(ng-cloak ng-init="init('page-map')")
  include ../includes/mixins/leaflet

  div(ng-if="map.isReady" id="map")
    +leaflet('map', 'mainMap')

  include ../includes/map/_detailsTray
  include ../includes/map/_filtersTray
  include ../includes/map/_properties
  include ../includes/map/_searchbox
