section.map(ng-cloak ng-init="init('page-map')")
  include ../includes/map.jade
  include ../includes/details-tray.jade
  include ../includes/results-tray.jade
  include ../includes/filters-tray.jade
  include ../includes/map-toolbar.jade
  include ../includes/searchbox.jade
