#neighbour.content-section-container(ng-class="{active:isActive('neighbourhoods')}")
    header
        a(class="btn btn-default back" href="#map")
            span.icon.icon-remove
    .inner
        .container
            .col-md-3.navbar
                include ../includes/_sidebar
            .col-md-9.content
                h2.title Neighbourhoods ({{JSONData.length}})
                .row
                    ul.neighbourhoods
                        li(ng-repeat="enity in JSONData" class="col-md-6")
                            a(class="map" href="#/neighbourhoods/{{enity.id}}")
                                span View Neighbourhood
                                img(src="assets/{{enity.mapImg}}")
                            div.data
                                h3 Neighbourhood {{enity.id}}
                                button(class="btn btn-link") Delete

                hr