#create-new-email
    include ../includes/mail/_recipient
    include ../includes/mail/_senderInfo
    include ../includes/mail/_selectTemplate
    include ../includes/mail/_editTemplate
    include ../includes/mail/_confirm
    
    
