#notes.content-section-container(ng-class="{active:isActive('notes')}")
    .desktop-only
        header
            a(class="btn btn-default back" href="#map")
                span.icon.icon-remove
        .inner
            .container
                .row
                    .col-md-3.navbar
                        include ../includes/_sidebar.jade
                    .col-md-9.content
                        h2.title Notes ({{notesList.length}})
                        ul.notes
                            li(ng-repeat="enity in notesList" class="row")
                                div.col-md-2
                                    a(class="note-img" href="/map")
                                        img(src="static/img/test_map.jpg")
                                div.col-md-8
                                    div.data
                                        h4 {{enity.title}}
                                        p {{enity.text}}
                                div.col-md-2
                                    div.note-date
                                        | Apr 10
                                    div.tools
                                        button(class="btn btn-link") Edit
                                        button(class="btn btn-link") Remove
    .mobile-only
        header
            a(class="subnav" href="#map")
                | Add Notes
            .menu
                a(class="close" href="#map")
                    span.icon.icon-remove

        .inner
            .container
                .row
                    .col-md-12(ng-controller="rmapsAccordionCtrl")
                        accordion(close-others="oneAtATime")
                            accordion-group(ng-repeat="enity in projectsArray" heading="{{enity.title}}" is-open="status.isItemOpen[$index]")
                                ul.note-list
                                    li(ng-repeat="id in enity.notes")
                                        div.row
                                            div.col-xs-3
                                                div.note-img
                                                    img(src="static/img/test_property.jpg" alt="Note Image")
                                            div.col-xs-9
                                                div.info
                                                    h2.title
                                                        button(class="btn btn-link" href="area/{{notesData[id].id}}") {{notesData[id].title}}
                                                        span
                                                            | {{notesData[id].data}}
                                                    div.description
                                                        | {{notesData[id].text}}
