section.white-page.onboarding.onboarding-plan
  .container
    div ONBOARDING
    div(ng-if="view.showSteps")
      a(ng-if="view.hasPrevStep" ng-click="view.goToPrevStep()")
        .pull-left.fa.fa-chevron-left.fa-3x()
      h3 Step {{view.currentStepId}} of {{view.steps.length}}

    div(ui-view)
