section.white-page.onboarding.onboarding-plan.text-wrap(ng-cloak)
  .container
    div(ng-if="showSteps")
      a(ng-if="hasPrevStep()" ui-sref="goToPrevStep()") <
      a(ng-if="hasNextStep()" ui-sref="goToNextStep()") >
      h3 Step {{currentStepId()}} of {{steps.length}}
    
    div(ng-repeat="state in $state.get() | filter:{parent: 'onBoarding'}"
      ui-view="{{state.name}}"
      ng-show="$state.includes(state.name)", ng-cloak
    )
