include ../includes/navbar.jade

section.profiles(ng-cloak)
  .starter-template.light-message
    h2 Welcome back, {{user.name}}!
    .inline Select a profile or&nbsp;
    a.inline(href="#") create a new one.
    .list-group
      button(ng-repeat="(key,item) in profiles" 
        ng-click="select(item, $event)" 
        ng-dblclick="activateInput($event)"
        class="list-group-item active") 
          div(ng-if="!showProfileNameInput") {{item.name}}
            .fa.fa-chevron-right.fa-3.pull-right
          input(ng-if="showProfileNameInput" text="item.name")
