#projects
  .desktop-only
    .inner
      .container
        header.row
          .col-md-8
            h1.pageTitle Projects
            p This is summary of all projects you have created to date. Click a project to see pinned properties, notes, neighbourhoods, and clients.
          .col-md-4.text-right
            .tools
              input.search-box(type="search" ng-model="searchQuery" placeholder="Search projects")
              span.divider
                button.btn.btn-primary(ng-click="addProject()") Create
        .row
          .col-md-12
            table.table.table-hover
              thead
                tr
                  th.select
                    input(type="checkbox" name="selectAll")
                  th
                    span Title
                  th
                    span Pins
                  th
                    span Neighbourhoods
                  th
                    span Favorites
                  th
                    span Notes
                  th
                    span Clients
                  th
                    span Created
                  th.col-md-1
                    span
              tbody
                tr(ng-repeat="project in projects | filter: searchQuery | orderBy: ['-sandbox', 'name']")
                  td.select
                    input(type="checkbox" name="selectGroup_{{$index}}")
                  td(ui-sref="project({id: {{project.id}}})")
                    h4(ng-show="!project.sandbox") {{project.name}}
                    h4(ng-show="project.sandbox") Sandbox
                    a.details(title="View details") View Details
                  td
                    a(ui-sref="projectPins({id: {{project.id}}})") {{project.propertiesTotal}}
                  td
                    a(ui-sref="projectNeighbourhoods({id: {{project.id}}})") {{project.neighbourhoods.length}}
                  td
                    a(ui-sref="projectFavorites({id: {{project.id}}})") {{project.favorites.length}}
                  td
                    a(ui-sref="projectNotes({id: {{project.id}}})") {{project.notes.length}}
                  td
                    a(ui-sref="projectClients({id: {{project.id}}})") {{project.clients.length}}
                  td
                    span {{project.rm_inserted_time | date:'MM/dd/yyyy'}}
                  td.col-md-1
                    button.btn.btn-white(ng-click="loadMap(project); $event.stopPropagation()") View Map
  .mobile-only
    header
    .inner
      .container
        .row
          .col-md-12
            ul.projects-list
              li(ng-repeat="project in projects | filter: searchQuery | orderBy: 'name'" ui-sref="project({id: {{project.id}}})" ng-click="selectProject($index)")
                h2.title {{project.name || "Sandbox"}}
                  i.fa.fa-chevron-right.pull-right(ng-click="loadMap(project); $event.stopPropagation()")
                div.tools
                    a(href="#/project/{{enity.id}}") Next
                ul.data
                  li
                      a(href="#neighbourhoods") {{enity.neighbourhoods.length}} Neighbourhoods
                  li
                      a(href="#properties") {{enity.properties.length}} Properties
                  li
                      a(href="#clients") {{enity.clients.length}} Clients
                  li
                      a(href="#notes") {{enity.notes.length}} Notes
