#projects-list.content-section-container
    .inner
      .container
        .row
          .col-md-12
            i.fa.fa-chevron-left.back-button(ui-sref="projects")
            h1.pageTitle(ng-show="!project.sandbox") {{project.name}}
            h1.pageTitle(ng-show="project.sandbox") Sandbox
            .project-tools
              button(class="btn btn-white" ng-click="editProject(project, $event)")
                i.fa.fa-pencil-square-o
                span Edit
              button.btn.btn-white(ng-show="!project.sandbox" ng-click="archiveProject(project, $event)")
                span.icon.icon-save_on_disk
                span(ng-if="!project.archived") Archive
                span(ng-show="!project.sandbox" ng-if="project.archived") Unarchive
              button.btn.btn-white(ng-show="project.sandbox" ng-click="resetProject(project, $event)")
                span.icon.fa.fa-undo
                span Reset

        .row
          .col-md-3.navbar.desktop-only
            ul.nav
              li(ng-class="{active: $state.is('project')}")
                a(ui-sref="project") Project
              li(ng-repeat="state in $state.get() | filter:{parent: 'project'}"
                ng-class="{active: $state.is(state.name)}")
                a(ui-sref="{{state.name}}") {{getStateName(state.name)}}

          .col-md-9.content
            .row
              .col-md-12
                ul
                  li
                    .data
                      div(ui-view="project" ng-show="$state.is('project')" ng-cloak)
                        h3 Property Info
                        .row.property
                          .col-md-6.price
                            span.value ${{project.minPrice}} - ${{project.maxPrice}}
                            span.small Price
                          .col-md-2
                            span.value {{project.beds}}
                            span.small Beds
                          .col-md-2
                            span.value {{project.baths}}
                            span.small Bath
                          .col-md-2
                            span.value {{project.sqft}}
                            span.small Sq Ft

                      ul(ui-view ng-class="state.name.replace('project','').toLowerCase()")
