#projects(rmaps-require-subscriber-or-viewer="modalNow,omit")
  .desktop-only
    .inner
      .container(ng-controller="rmapsAddProjectController")
        header.row
          .col-md-8
            h1.pageTitle Projects
            p This is summary of all projects you have created to date. Click a project to see {{mainOptions.naming.save.past.toLowerCase()}} properties, notes, neighbourhoods, and clients.
          .col-md-4.text-right.pull.right
            .tools
              input.search-box(type="search" ng-model="searchQuery" placeholder="Search projects")
              span.divider
              button.btn.btn-primary(ng-click="addProject(false)") Create



        .row
          .col-md-12
            table.table.table-hover
              thead
                tr
                  th
                    span Title
                  th
                    span Pins
                  th
                    span Areas
                  th
                    span Favorites
                  th
                    span Notes
                  th
                    span Clients
                  th
                    span Created
                  th.col-md-1
                    span
                  th.col-md-1
                    span
                  th.col-md-1
                    span
              tbody
                tr(ng-repeat="project in projects | filter: searchQuery | filter:{archived:'!true'} | orderBy:[isSandbox, '-rm_modified_time']")
                  td(ui-sref="project({id: {{project.id}}})")
                    h4(ng-show="!project.sandbox") {{project.name}}
                    h4(ng-show="project.sandbox") Sandbox
                    a.details(title="View details") View Details
                  td
                    a(ui-sref="projectPins({id: {{project.id}}})") {{(project.pins | _keys).length}}
                  td
                    a(ui-sref="projectNeighbourhoods({id: {{project.id}}})") {{project.drawnShapes.length}}
                  td
                    a(ui-sref="projectFavorites({id: {{project.id}}})") {{(project.favorites | _keys).length}}
                  td
                    a(ui-sref="projectNotes({id: {{project.id}}})") {{project.notes.length}}
                  td
                    a(ui-sref="projectClients({id: {{project.id}}})") {{project.clients.length}}
                  td
                    span {{project.rm_inserted_time | date:'MM/dd/yyyy'}}
                  td.col-md-1
                    button.btn.btn-white(ng-click="loadMap(project); $event.stopPropagation()") View Map
                  td.col-md-1
                    button.btn.btn-white.archive-btn(ng-click="archiveProject(project); $event.stopPropagation()" ng-if="!project.archived")
                      div() Archive
                      span.icon.icon-save_on_disk
                  td.col-md-1
                    button.btn.btn-white(ng-click="deleteProject(project); $event.stopPropagation()") Delete
  .mobile-only
    .projects-list
      .project-list-item.item.item-icon-right.content-block(ng-repeat="project in projects | filter: searchQuery | orderBy: 'name'")
        i.project-select-icon.pull-right.fa.fa-chevron-right
        .content-heading(ng-click="loadMap(project); $event.stopPropagation()") {{project.name || "Sandbox"}}
        .project-widgets
          .project-widget.widget-project
            .inner
              .widget-background
                span.icon.icon-property
              a(ui-sref="project({ id: project.id})")
                .widget-title Dashboard

          .project-widget.widget-project
            .inner
              .widget-background
                span.icon.icon-project
              a(ng-click="loadMap(project)")
                .widget-title Map

          .project-widget.widget-note
            .inner
              .widget-background
                i.fa.fa-sticky-note
              a(ui-sref="projectNotes({ id: project.id})")
                //.widget-count {{notes.length || 0}}
                .widget-title Notes

          .project-widget.widget-pin
            .inner
              .widget-background
                span.icon.icon-pin
              a(ui-sref="projectPins({ id: project.id})")
                .widget-count {{(project.pins | _keys).length || 0}}
                .widget-title Pins

          .project-widget.widget-favorite
            .inner
              .widget-background
                i.icon.fa.fa-heart
              a(ui-sref="projectFavorites({ id: project.id})")
                .widget-count {{(project.favorites | _keys).length || 0}}
                .widget-title Favorites

          .project-widget.widget-area
            .inner
              .widget-background
                span.icon.icon-area
              a(ui-sref="projectAreas({ id: project.id})")
                .widget-count {{project.areas.length || 0}}
                .widget-title Areas

          .project-widget.widget-client
            .inner
              .widget-background
                i.icon.fa.fa-user
              a(ui-sref="projectClients({ id: project.id})")
                .widget-count {{project.clients.length || 0}}
                .widget-title Clients
        //.tools
        //  a(ui-sref="project({id: {{project.id}}})") Dashboard
        //.content-body
        //  .col-xs-3
        //    a.content-muted.content-sm(ui-sref="projectAreas({id: {{project.id}}})") {{project.areas.length}} Areas
        //  .col-xs-3
        //    a.content-muted.content-sm(ui-sref="projectPins({id: {{project.id}}})") {{_.keys(project.properties_selected).length}} Pins
        //  //li
        //  //  a.content-muted.content-sm(ui-sref="projectFavorites({id: {{project.id}}})") {{_.keys(project.favorites).length}} Favorites
        //  .col-xs-3
        //    a.content-muted.content-sm(ui-sref="projectClients({id: {{project.id}}})") {{project.clients.length}} Clients
        //  .col-xs-3
        //    a.content-muted.content-sm(ui-sref="projectNotes({id: {{project.id}}})") {{project.notes.length}} Notes
