#projects-list.content-section-container(ng-class="{active:isActive('projects')}")
    .desktop-view
        header
            a(class="btn btn-default back" href="#map")
                span.icon.icon-remove
        .inner
            .container
                .row
                    .col-md-3.navbar
                        include ../includes/_sidebar.jade
                    .col-md-9.content
                        h2.title My Projects ({{projectsArray.length}})
                        .row
                            div.col-md-12
                                ul.projects-list(ng-controller="CollapseCtrl")
                                    li(ng-repeat="enity in projectsArray" ng-click="selectProject($index)")
                                        div.collapse-header(ng-click="isCollapsed = !isCollapsed")
                                            h2.title {{enity.title}}
                                            div.tools
                                                button(class="btn btn-white") Add Client
                                                button(class="btn btn-white") Archive Project
                                        div.data(collapse="isCollapsed")
                                            ul.clients
                                                li(class="client" ng-repeat="client in enity.clients")
                                                    h3 Client
                                                    div.tools
                                                        button(class="btn btn-link") Edit
                                                        button(class="btn btn-link") Remove
                                                    div.row
                                                        div.col-md-6
                                                            span.label Name
                                                            span {{client.name}}
                                                            span.label Phone (Cell)
                                                            span {{client.phonecell}}
                                                            span.label Email
                                                            span {{client.email}}
                                                        div.col-md-6
                                                            span.label Address
                                                            span {{client.address}}
                                                            span.label Phone (Work)
                                                            span {{client.phonework}}

                                            h3 Property Info
                                            div.row.property
                                                .col-md-6.price
                                                    span.value $80,0000 - $100,000
                                                    span.small Price
                                                .col-md-2
                                                    span.value 3
                                                    span.small Beds
                                                .col-md-2
                                                    span.value 3+
                                                    span.small Bath
                                                .col-md-2
                                                    span.value 1334
                                                    span.small Sq Ft
    .mobile-view
        header
            | mobile
        .inner
            .container
                .row
                    .col-md-12
                        ul.projects-list
                            li(ng-repeat="enity in projectsArray" ng-click="selectProject($index)")
                                h2.title {{enity.title}}
                                div.tools
                                    a(href="#/project/{{enity.id}}") Next
                                ul.data
                                    li
                                        a(href="#neighbourhoods") {{enity.neighborhoods.length}} Neighborhoods
                                    li
                                        a(href="#properties") {{enity.properties.length}} Properties
                                    li
                                        a(href="#clients") {{enity.clients.length}} Clients
                                    li
                                        a(href="#notes") {{enity.notes.length}} Notes
