#projects
  .inner
    .container
      header.row
        .col-md-8
          h1.pageTitle Projects
          p This is summary of all projects you have created to date. Click a project to see pinned properties, notes, neighborhoods, and clients.
        .col-md-4.text-right
          .tools
            input.search-box(type="search" ng-model="searchQuery" placeholder="Search projects")
            span.divider
              button.btn.btn-primary(ng-click="addProject()") Create
      .row
        .col-md-12
          table.table.table-hover
            thead
              tr
                th.select
                  input(type="checkbox" name="selectAll")
                th
                  span Title
                th
                  span Pins
                th
                  span Neighborhoods
                th
                  span Favorites
                th
                  span Notes
                th
                  span Clients
                th
                  span Created
                th.col-md-1
                  span
            tbody
              tr(ng-repeat="project in projects | filter: searchQuery | orderBy: 'name'" ui-sref="project({id: {{project.id}}})")
                td.select
                  input(type="checkbox" name="selectGroup_{{$index}}")
                td
                  h4 {{project.name}}
                  a.details(ui-sref="project({id: {{project.id}}})" title="View details") View Details
                td
                  span {{project.pins.length}}
                td
                  span {{project.neighborhoods.length}}
                td
                  span {{project.favorites.length}}
                td
                  span {{project.notes.length}}
                td
                  span {{project.clients.length}}
                td
                  span {{project.rm_inserted_time | date:'MM/dd/yyyy'}}
                td.col-md-1
                  button.btn.btn-white(ui-sref="map({project: {{project.id}}})" ng-click="$event.stopPropagation()") View Map
