include ../includes/mixins/property/_propertyAttributes.jade
#projects-list.content-section-container
  .desktop-view
    .inner
      .container
        .row
          .col-md-8
            h1.pageTitle {{project.name}}
        .row
          .col-md-3.navbar
            include ../includes/_sidebar.jade
          .col-md-9.content
            .row
              .col-md-12
                ul
                  li
                    .data
                      div(ng-show="selected == 'project'")
                        .collapse-header
                          .tools
                            button(class="btn btn-white" ng-click="editProject(project, $event)")
                              i.fa.fa-pencil-square-o
                              span Edit
                            button.btn.btn-white(ng-click="archiveProject(project, $event)")
                              span.icon.icon-save_on_disk
                              span(ng-if="!project.archived") Archive
                              span(ng-if="project.archived") Unarchive
                        h3 Property Info
                        .row.property
                          .col-md-6.price
                            span.value ${{project.minPrice}} - ${{project.maxPrice}}
                            span.small Price
                          .col-md-2
                            span.value {{project.beds}}
                            span.small Beds
                          .col-md-2
                            span.value {{project.baths}}
                            span.small Bath
                          .col-md-2
                            span.value {{project.sqft}}
                            span.small Sq Ft

                      ul.clients(ng-show="selected == 'clients'")
                        .collapse-header
                          h2.title Clients ({{project.clients.length}})
                          .tools
                            button(class="btn btn-white" ng-click="")
                              span Add Client
                        li(class="client" ng-repeat="client in project.clients")
                          h3 Client {{$index + 1}}
                          .tools
                            button(class="btn btn-link") Edit
                            button(class="btn btn-link") Remove
                          .row
                            .col-md-6
                              span.label Name
                              span {{client.first_name}} {{client.last_name}}
                              span.label Phone (Cell)
                              span {{client.cell_phone}}
                              span.label Email
                              span {{client.email}}
                            .col-md-6
                              span.label Address
                              span {{client.address_1}} {{client.address_2}} {{client.zip}}
                              span.label Phone (Work)
                              span {{client.work_phone}}

                      ul.neighborhoods(ng-show="selected == 'neighborhoods'")
                        .collapse-header
                          h2.title Neighborhoods ({{project.neighborhoods.length}})
                        li(ng-repeat="neighborhood in project.neighborhoods" class="col-md-6")
                          a(class="map" href="#/neighborhoods/{{neighborhood.id}}")
                            span View Neighbourhood
                            img(src="/assets/test_map.jpg")
                          .data
                            h3 {{neighborhood.name}}
                          button.btn.btn-link
                            i.fa.fa-trash-o
                            span Delete

                      ul.favorites-list(ng-show="selected == 'pins'")
                        .collapse-header
                          h2.title Pinned ({{project.pins.length}})
                        .row
                          li.col-md-6(ng-repeat="pin in project.pins")
                            .property-card
                              .property-img
                                img(src="/assets/test_property.jpg")
                                span.property-status(ng-class="pin.status")
                                  | {{pin.status}}
                              .property-data
                                +propertyAttributes('pin')
                              .actions
                                button.details
                                  span.icon.icon-arrow
                                  span See details
                                button.pinto
                                  span.icon.icon-pin
                                  span Pin to

                      ul.notes(ng-show="selected == 'notes'")
                        .collapse-header
                          h2.title Notes ({{project.notes.length}})
                        li(ng-repeat="note in project.notes" class="row")
                          .col-md-2
                            a(class="note-img" href="/map")
                              img(src="/assets/test_map.jpg")
                          .col-md-8
                            .data
                              h4 {{note.title}}
                              p {{note.text}}
                          .col-md-2
                            .note-date
                              | Apr 10
                            .tools
                              button(class="btn btn-link") Edit
                              button(class="btn btn-link") Remove

                      ul.favorites-list(ng-show="selected == 'favorites'")
                        .collapse-header
                          h2.title Favorites ({{project.favorites.length}})
                        .row
                          li.col-md-6(ng-repeat="favorite in project.favorites")
                            .property-card
                              .property-img
                                img(src="/assets/test_property.jpg")
                                span.property-status(ng-class="favorite.status")
                                  | {{favorite.status}}
                              .property-data
                                +propertyAttributes('favorite')
                              .actions
                                button.details
                                  span.icon.icon-arrow
                                  span See details
                                button.pinto
                                  span.icon.icon-pin
                                  span Pin to
