#properties
    header
        a(class="btn btn-default back" href="#map") Back
        h1.title Propertiey
    .inner
        h4 Projects 1
        div.property-detail
            tabset
                tab(heading="Property Detail")
                    .property-img
                        img(src="/assets/test_property.jpg")
                tab(heading="Public Record")
                tab(heading="Notes")
