.container
  .row
    .col-md-6.spacer
      form.comfy(method="POST", ng-submit="getPriceQuote()")
        .form-group
          label.sr-only(for="template") Letter template:
          select#template(ng-model="form.style.templateId",ng-options='id as template.name for (id,template) in documentTemplates')
            option(value="") Please select a letter template to get started.
          .help-block
            span(ng-if="form.style.templateId") {{documentTemplates[form.style.templateId].description}}
            | &nbsp;
        .form-group
          label.sr-only(for="realtor") {{placeholderValues.from.name}}
          input#realtor(type="text",name="realtor",ng-model="form.from.name",placeholder="{{placeholderValues.from.name}}")
          label.sr-only(for="brokerage") {{placeholderValues.from.address_line1}}
          input#brokerage(type="text",name="brokerage",ng-model="form.from.address_line1",placeholder="{{placeholderValues.from.address_line1}}")
          label.sr-only(for="address") {{placeholderValues.from.address_line2}}
          input#address(type="text",name="address",ng-model="form.from.address_line2",placeholder="{{placeholderValues.from.address_line2}}")
          .row
            .col-md-7
              label.sr-only(for="city") {{placeholderValues.from.address_city}}
              input#city(type="text",name="city",ng-model="form.from.address_city",placeholder="{{placeholderValues.from.address_city}}")
            .col-md-5
              .row
                .col-sm-4
                  label.sr-only(for="state") {{placeholderValues.from.address_state}}
                  input#state(type="text",name="state",ng-model="form.from.address_state",placeholder="{{placeholderValues.from.address_state}}")
                .col-sm-8
                  label.sr-only(for="zip") {{placeholderValues.from.address_zip}}
                  input#zip(type="text",name="zip",ng-model="form.from.address_zip",placeholder="{{placeholderValues.from.address_zip}}")
        .form-group
          label.sr-only(for="phone") {{placeholderValues.from.phone}}
          input#phone(type="tel",name="phone",ng-model="form.from.phone",placeholder="{{placeholderValues.from.phone}}")
          label.sr-only(for="email") {{placeholderValues.from.email}}
          input#email(type="email",name="email",ng-model="form.from.email",placeholder="{{placeholderValues.from.email}}")
        .form-group
          label.sr-only(for="signature") Signature font
          select#signature(ng-model="form.style.signature",ng-options='id as id for (id,font) in fonts')
        .form-group.row
            .col-sm-6
                input(type="button",value="Cancel",ng-click="cancel()")
            .col-sm-6
                input(type="submit",value="Check Price",ng-disabled="!formReady")
    .col-md-6.spacer.position
      .aspect-ratio-container(ng-style="{'padding-bottom': heightRatio0}", ng-class="{'hidden-buffer': iframeIndex%2!=0}")
        .width-label {{width0}} inches
        .height-label(ng-style="{width: heightRatio0}") {{height0}} inches
        iframe.pdf-preview(ng-src='{{pdfPreviewBlob0}}',rmaps-onload="finishRender").aspect-ratio
      .aspect-ratio-container(ng-style="{'padding-bottom': heightRatio1}", ng-class="{'hidden-buffer': iframeIndex%2!=1}")
        .width-label {{width1}} inches
        .height-label(ng-style="{width: heightRatio1}") {{height1}} inches
        iframe.pdf-preview(ng-src='{{pdfPreviewBlob1}}',rmaps-onload="finishRender",rmaps-onerror="renderError").aspect-ratio
