include ../includes/navbar.jade

section.user.text-wrap(ng-cloak ng-if="ready")
  .container
      h1.page-header Edit Profile
      .row
        // left column
        .col-md-4.col-sm-6.col-xs-12
            form.form-horizontal(role='form')
              .form-group.text-center
                img.avatar.img-thumbnail(ng-cloak ng-if="!user.account_image_id" src='/assets/avatar.svg')
                img.avatar.img-thumbnail(ng-cloak ng-if="user.account_image_id" src='/api/session/image')
                h6 Upload a different photo...
                input.text-center.center-block.well.well-sm(type='file', accept='image/*' fileread="imageForm.blob")
            .form-group
              label.col-md-3.control-label
              .col-md-8
                input.btn.btn-primary(value='Save', type='button' ng-click="imageForm.save()")
                span
                input.btn.btn-default(value='Cancel', type='reset')
        // edit form column
        .col-md-8.col-sm-6.col-xs-12.personal-info
          .alert.alert-info.alert-dismissable
            a.panel-close.close(data-dismiss='alert') ×
            i.fa.fa-coffee
            |         This is an 
            strong .alert
            | . Use this to show important messages to the user.
          h3 Personal info
          form.form-horizontal(role='form')
            .form-group
              label.col-lg-3.control-label First name:
              .col-lg-8
                input.form-control(ng-model="user.first_name", type='text')
            .form-group
              label.col-lg-3.control-label Last name:
              .col-lg-8
                input.form-control(ng-model="user.last_name", type='text')
            .form-group
              label.col-lg-3.control-label Address:
              .col-lg-8
                input.form-control(ng-model="user.address_1" value='', type='text')
            .form-group
              label.col-lg-3.control-label
              .col-lg-8
                input.form-control(ng-model="user.address_2" value='', type='text')
            .form-group
              label.col-lg-3.control-label City:
              .col-lg-8
                input.form-control(ng-model="user.city" value='', type='text')
            .form-group
              label.col-lg-3.control-label State:
              .col-lg-8
                select.form-control(ng-model="user.us_state_id")
                  option(
                    ng-repeat="s in us_states"
                    ng-selected="{{s.id == user.us_state_id}}"
                    value="{{s.id}}"){{s.code}} - {{s.name}}
            .form-group
              label.col-lg-3.control-label Zip:
              .col-lg-8
                input.form-control(ng-model="user.zip" value='', type='text')
            .form-group
              label.col-lg-3.control-label Mobile Phone:
              .col-lg-8
                input.form-control(ng-model="user.cell_phone", type='text')
            .form-group
              label.col-lg-3.control-label Phone:
              .col-lg-8
                input.form-control(ng-model="user.work_phone", type='text')
            .form-group
              label.col-lg-3.control-label Email:
              .col-lg-8
                input.form-control(ng-model="user.email", type='text')
            .form-group
              label.col-lg-3.control-label Website Url:
              .col-lg-8
                input.form-control(ng-model="user.website_url", type='text')
            .form-group
              label.col-md-3.control-label
              .col-md-8
                input.btn.btn-primary(value='Save', type='button')
                span
                input.btn.btn-default(value='Cancel', type='reset')
      .row
        // left column
        .col-md-4.col-sm-6.col-xs-12
        .col-md-8.col-sm-6.col-xs-12.personal-info
          h3 Edit Username / Password
          form.form-horizontal(role='form')
            .form-group
              label.col-md-3.control-label Username:
              .col-md-8
                input.form-control(ng-model="user.username", type='text')
            .form-group
              label.col-md-3.control-label Password:
              .col-md-8
                input.form-control(value='11111122333', type='password')
            .form-group
              label.col-md-3.control-label Confirm password:
              .col-md-8
                input.form-control(value='11111122333', type='password')
            .form-group
              label.col-md-3.control-label
              .col-md-8
                input.btn.btn-primary(value='Save', type='button')
                span
                input.btn.btn-default(value='Cancel', type='reset')
            
