.col-md-12.scroll(ng-if="fieldData.current.type.name == 'days_on_market'")
  .row
    .col-md-2 Cumulative Days on Market
    .col-md-4
      rmaps-subinput(name="Cumulative Days on Market" field="0")
    .col-md-6.help May be abbreviated (CDOM). Preferred over Days on Market
  .row
    .col-md-2 Days on Market
    .col-md-4
      rmaps-subinput(name="Days on Market" field="1")
    .col-md-6.help May be abbreviated (DOM).
