.inner
    .container
        header.row
            .col-md-12
                h1.pageTitle Activity History
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum blandit lacus, eget fringilla justo euismod in. In neque lacus, pretium at ligula vel, pharetra cursus massa.
        .row
            .col-md-12
                ul.timeline
                    li(class="item" ng-repeat="item in historyArray")
                        h3
                            span(class="label label-default") {{item.date | date: 'MMM d, yyyy'}}

                        ul.activity
                            li(class="enity" ng-repeat="enity in item.activity")
                                div(class="avatar text-center")
                                    span(class="label label-primary") DS
                                div(class="data")
                                    h4 {{enity.title}}
                                    p {{enity.text}}
                                    span.date {{enity.date | date: 'MMM d'}}

