.inner
    header#map-navigation
        div(class="projects-tools" ng-controller="DropdownCtrl" )
            div.btn-group
                include ./map/_add_project.jade

            div(class="btn-group" ng-class="{'':!isOpened,'opened':isOpened}")

                include ./map/_projects.jade

                include ./map/_pinned_projects.jade

                include ./map/_notes.jade

                include ./map/_neighbourhood.jade

            div.btn-group

                include ./map/_settings.jade

        div(class="btn-group properties-tools" ng-controller="DropdownCtrl" ng-class="{'':!isOpened,'opened':isOpened}")

            include ./map/_properties.jade

    div#map-layers
       div.notes-layer
           div.tutorial
                p Tap to place a note
           ul(ng-controller="PopoverCtrl")
               li(class="note-enity" ng-repeat="note in notesArray" style="left:{{$index * 200 + 200}}px")
                    div.circle-nr(popover-template="dynamicPopover.templateUrl")
                        span {{$index}}
                        script(type="text/ng-template" id="PopoverTemplate.html")
                            form
                                div.popover-header
                                    h3.title Leave a note
                                    span.icon.icon-close(ng-click="close()")
                                div(class="leave-a-note")
                                    div.form-group
                                       textarea(class="form-control" id="leave_a_note" placeholder="Note..." rows="5")
                                       p.text-right 200 Characters
                                    div.form-group
                                        div.text-center
                                            button(class="btn btn-default" ng-click="close()") Cancel
                                            button(type="submit" class="btn btn-primary" ng-click="save()") Save
    div#map-tools
        div.location-tools
            button.btn.btn-transparent
                span.icon.icon-location
        div.zoom-tools
            button.btn.btn-transparent.zoom-in
                span.icon.icon-plus
            button.btn.btn-transparent.zoom-out
                span.icon.icon-minus
        div.layers-tools(ng-controller="PopoverCtrl")
            button(class="toggle-active btn btn-transparent" ng-click="active = !active" ng-class="active ? 'active' : '' " popover-template="layersPopover.templateUrl" popover-placement="right")
                span.icon.icon-layers
                script(type="text/ng-template" id="LayersPopover.html")
                    div.filter-row
                        span.label Show
                        ul
                            li
                                button(class="btn btn-selected") Address
                            li
                                button(class="btn btn-primary") Price
                            li
                                button(class="btn btn-inactive") Notes
                            li
                                button(class="btn btn-inactive") Sent Mail
                    div.filter-row
                        span.label Status
                        ul
                            li
                                button(class="btn btn-forsale") For Sale
                            li
                                button(class="btn btn-pending") Pending
                            li
                                button(class="btn btn-sold") Sold
                            li
                                button(class="btn btn-offmarket") Off Market
    div#map-container
        div#map-canvas
