//this only exists due to this issue not being solved yet https://github.com/domenic/jadeify/issues/38
//locals is a key argument passed into jade templates
include ./mixins/_circleNrMixin.jade
+circleNrMixin(locals)
