header.site-header
  .desktop-only
    .inner
      .container-fluid
        include ./header/_logo
        include ./header/_navigation
        div(ng-if="principal.isAuthenticated()")
          include ./header/_notices
          include ./header/_userblock
          include ./header/_search
        include ./header/_rightnav
  .mobile-only
    .inner(ng-if='!rmapsPage.mobile.modal')
      .container-fluid
        include ./header/_burger
        include ./header/_logo
        div(ng-if="principal.isAuthenticated()")
          include ./header/_search

.mobile-only
  header.mobile-modal(ng-if='rmapsPage.mobile.modal')
    .inner
      nav.navigation.pull-left(role="navigation")
        ul.nav
          li
            a(ng-click='rmapsPage.back($event)')
              span
                i.fa.fa-chevron-left
          li.header-title
            a
              span {{rmapsPage.title}}
