header.site-header
  .desktop-only
    .inner
      .container-fluid
        include ./header/_logo
        include ./header/_navigation

        .site-header-right
          div(ng-if="principal.isAuthenticated()")
            include ./header/_notices
            include ./header/_userblock
            include ./header/_search
          include ./header/_rightnav
  .mobile-only
    .inner(ng-if='!rmapsPageService.showMobileModalHeader()')
      .container-fluid
        include ./header/_burger
        include ./header/_logo
        div(ng-if="principal.isAuthenticated()")
          include ./header/_search

.mobile-only
  div(ng-if='rmapsPageService.showMobileModalHeader()')
    mobile-header.mobile-site-header(header-id="page-modal-header")
      .inner
        .mobile-header-left
          a(ng-click='rmapsPageService.back($event)')
            i.fa.fa-chevron-left
            mobile-header-target-left
        .mobile-header-center
          .mobile-header-title {{rmapsPageService.title}}
          mobile-header-target-center
        .mobile-header-right
          mobile-header-target-right
