.modal(modal-render="{{$isRendered}}" tabindex="-1" role="dialog"
modal-animation-class="fade"
modal-in-class="in"
ng-style="{'z-index': 1050 + index*10, display: 'block'}")
  .modal-dialog(ng-class="size ? 'modal-' + size : ''")
    mobile-header.mobile-header-modal
      .inner(ng-controller="OpenAsModalWindowCtrl")
        .mobile-header-left
          .mobile-header-title
            mobile-header-target-left
            span {{context.modalTitle}}
        .mobile-header-center
          mobile-header-target-center
        .mobile-header-right
          mobile-header-target-right
          a.mobile-header-close
            i.icon-close(class="fa fa-times" ng-click="close()")
    .mobile-modal-content-scroll
      .modal-content(modal-transclude)
