include mixins/_avatarMixin.jade

#mobile-nav(class="menu-slide" ng-show="isMobileNavOpen" ng-swipe-left='closeMobileNav($event)')
    .inner
        include ./header/_logo

        a(id="closeicon")
            i(class="fa fa-times fa-2x" ng-class="{'mobile-nav-open':isMobileNavOpen}" ng-click="closeMobileNav($event)")

        //
        // Subscriber Project Selection
        //

        div(ng-if="principal.isSubscriber()")
            ul.nav.project-select(ng-click="closeMobileNav($event)")
                li
                    a(href="{{frontendRoutes.projects}}" class="projects" ng-class="{ active: isActive('projects') }")
                        span.icon.icon-property
                        span.label Projects
                        span.count {{projectTotal}}

        //
        // Editor View
        //

        div(ng-if="principal.isProjectEditor() && project")
            ul.nav.menu-options(ng-click="closeMobileNav($event)")
                li(ng-show="project")
                    a(ng-cloak href="{{frontendRoutes.properties}}" class="properties" ng-class="{ active: isActive('properties') }")
                        span.icon.icon-pin
                        span.label Pinned Properties
                        span.count {{project.propertiesTotal}}

                li(ng-show="project")
                    a(href="{{frontendRoutes.notes}}" class="notes" ng-class="{ active: isActive('notes') }")
                        span.icon.icon-note
                        span.label Notes
                        span.count {{project.notes.length}}

                li(ng-show="project")
                    a(href="{{frontendRoutes.neighbourhoods}}" class="neighbourhoods" ng-class="{ active: isActive('neighbourhoods') }")
                        span.icon.icon-neighbourhood
                        span.label Neighborhoods
                        span.count {{project.neighborhoods.length}}

            .bottom(ng-click="closeMobileNav($event)")
                a(href="{{frontendRoutes.user}}" class="settings" ng-class="{ active: isActive('settings') }") account settings


        //
        // Viewer View
        //

        div(ng-if="principal.isProjectViewer() && project")
            ul.nav.menu-options(ng-click="closeMobileNav($event)")
                li
                    a(href="{{frontendRoutes.neighbourhoods}}" class="neighbourhoods" ng-class="{ active: isActive('neighbourhoods') }")
                        span.icon.icon-neighbourhood
                        span.label Neighbourhoods
                        span.count {{project.neighborhoods.length}}

                li
                    a(ng-cloak href="{{frontendRoutes.properties}}" class="properties" ng-class="{ active: isActive('properties') }")
                        span.icon.icon-property
                        span.label Properties
                        span.count {{project.propertiesTotal}}

                li
                    a(href="{{frontendRoutes.notes}}" class="notes" ng-class="{ active: isActive('notes') }")
                        span.icon.icon-note
                        span.label Notes
                        span.count {{project.notes.length}}

                li
                    a(href="{{frontendRoutes.favorites}}" class="favorites" ng-class="{ active: isActive('favorites') }")
                        span.icon.icon-favorites
                        span.label Favorites
                        span.count {{project.favorites.length}}

            .bottom(ng-click="closeMobileNav($event)")
                a(ng-cloak href="/realtor" class="realtor" ng-class="{ active: isActive('realtor') }") my realtor
                    +avatarMixin()(class='tiny-avatar')
                a(href="{{frontendRoutes.user}}" class="settings" ng-class="{ active: isActive('settings') }") account settings
