.modal(modal-render="{{$isRendered}}" tabindex="-1" role="dialog"
modal-animation-class="fade"
modal-in-class="in"
ng-style="{'z-index': 1050 + index*10, display: 'block'}")
  .modal-dialog(ng-class="size ? 'modal-' + size : ''")
    mobile-header.mobile-header-modal
      .inner(ng-controller="OpenAsModalWindowController")
        .mobile-header-left
          .mobile-header-title {{context.modalTitle}}
        .mobile-header-center
        .mobile-header-right
          div.view-buttons-right(ng-if="buttons['right']")
            div(ng-bind-html="buttons['right']")
            span |
          a
            i.icon-close(class="fa fa-times" ng-click="close()")
    .mobile-modal-content-scroll
      .modal-content(modal-transclude)
