include mixins/_avatarMixin.jade

#mobile-nav(class="menu-slide" ng-class="{ 'is-editor': principal.isProjectEditor(), 'is-viewer': principal.isProjectViewer() }" ng-show="isMobileNavOpen" ng-swipe-left='closeMobileNav($event)')
    .inner
        #mobile-nav-header
            a.closeicon
                i.icon-close(ng-class="{'mobile-nav-open':isMobileNavOpen}" ng-click="closeMobileNav($event)")

            div(ng-click="closeMobileNav($event)")
                    include ./header/_logo

        #mobile-nav-content

            //
            // Subscriber Project Selection
            //

            div(ng-if="(principal.isSubscriber() || principal.isEditor()) && profile")
              ul.nav.project-select
                li
                  a.menu-label.menu-link.project-name(ng-click="goToState('project', {id: project.id})" class="projects" ng-class="{ active: isActive('projects') }")
                    span {{profile.name || "Sandbox"}}
                  a.menu-alert.menu-link.change-project(ng-click="goToState('projects')") Switch
                    br
                    span Project

            //
            // Editor View
            //

            div(ng-if="principal.isProjectEditor() && profile")
                ul.nav.menu-options
                  li
                    a.menu-label.menu-link.project-name(ng-click="goToState('project', {id: project.id})" class="projects" ng-class="{ active: isActive('projects') }")
                      span.icon.menu-icon.icon-property
                      span Dashboard
                    a.menu-alert.menu-link.change-project(ng-click="goToState('projects')")

                  li(ng-show="profile")
                        a.menu-link(ng-click="goToMap()" class="map" ng-class="{ active: isActive('map') }")
                          span.icon.menu-icon.icon-project
                          span.menu-label Map

                    li(ng-show="profile")
                        a.menu-link(ng-click="goToState('projectPins', {id: project.id})" class="properties" ng-class="{ active: isActive('properties') }")
                            span.icon.menu-icon.icon-pin
                            span.menu-label Pinned Properties
                            span.menu-badge.count {{project.propertiesTotal}}

                    li(ng-show="profile")
                        a.menu-link(ng-click="goToState('projectNotes', {id: project.id})" class="notes" ng-class="{ active: isActive('notes') }")
                            span.icon.menu-icon.icon-note
                            span.menu-label Notes
                            span.menu-badge.count {{project.notes.length}}

                    li(ng-show="profile")
                        a.menu-link(ng-click="goToState('projectAreas', {id: project.id})" class="areas" ng-class="{ active: isActive('areas') }")
                            span.icon.menu-icon.icon-area
                            span.menu-label Areas
                            span.menu-badge.count {{areas.length}}

                #client-section(ng-show="clients")
                    #client-header.menu-label My Clients
                        a.menu-badge.menu-link.count(ng-click="goToState('projectClients', {id: project.id})") {{clients.length}}

                    ul.nav.clients
                        li.client(ng-repeat="client in clients | limitTo:3")
                            a.menu-link
                                div.client-initials {{client.initials}}
                                div.menu-label.client-name {{client.first_name}} {{client.last_name}}
                                div.menu-caption.client-email {{client.email}}

                    div.client-more
                        a.menu-caption.menu-link(ng-show="clients.length > 3" ng-click="goToState('projectClients', {id: project.id})") + {{clients.length - 3}} more...

            //
            // Viewer View
            //

            div(ng-if="principal.isProjectViewer() && profile")
                ul.nav.menu-options
                    li(ng-show="profile")
                        a.menu-link(ng-click="goToState('projectAreas', {id: project.id})" class="areas" ng-class="{ active: isActive('areas') }")
                            span.icon.menu-icon.icon-area
                            span.menu-label Areas
                            span.menu-badge.count {{project.areas.length}}

                    li(ng-show="profile")
                        a.menu-link(ng-click="goToState('projectPins', {id: project.id})" class="properties" ng-class="{ active: isActive('properties') }")
                            span.icon.menu-icon.icon-property
                            span.menu-label Properties
                            span.menu-badge.count {{project.propertiesTotal}}

                    li(ng-show="profile")
                        a.menu-link(ng-click="goToState('projectNotes', {id: project.id})" class="notes" ng-class="{ active: isActive('notes') }")
                            span.icon.menu-icon.icon-note
                            span.menu-label Notes
                            span.menu-badge.count {{project.notes.length}}

                    li(ng-show="profile")
                        a.menu-link(ng-click="goToState('projectFavorites', {id: project.id})" class="favorites" ng-class="{ active: isActive('favorites') }")
                            span.icon.menu-icon.icon-favorites
                            span.menu-label Favorites
                            span.menu-badge.count {{project.favoritesTotal}}

        .bottom
            ul.nav
                li(ng-if="principal.isProjectViewer()")
                    a.menu-link
                        span.icon.menu-icon.icon-project
                        span.menu-label My Realtor

                li
                    a.menu-label.menu-link(ng-click="goToState('user')")
                        i.icon.menu-icon.fa.fa-cog
                        span Account Settings

                li
                    a.menu-link(ng-click="goToState('logout')")
                        i.icon.menu-icon.fa.fa-sign-out
                        span.menu-label Sign Out
