.row.note-item
  .col-xs-12.pointer(ng-click="propertyClick(note.rm_property_id)")
    .note-image
      .note-img(ng-if="note.coordinates")
        img.desktop-only(rmaps-cdn-image ng-src="{{formatters.property.google.StreetView.getUrlForCoordinates(note.coordinates, 100, 100)}}" title="{{note.title}}")
        img.mobile-only(rmaps-cdn-image ng-src="{{formatters.property.google.StreetView.getUrlForCoordinates(note.coordinates, 58, 58)}}" title="{{note.title}}")
    .note-data-wrapper
      .note-data
        .note-date {{note.rm_inserted_time  | date:'MM/dd/yyyy'}}
        .note-author {{note.first_name}} {{note.last_name}}
        .note-address(ng-if="note.address")
          span {{note.address.street}} {{note.address.unit}}
          span {{note.address.citystate}} {{note.address.zip}}
        .note-text {{note.text}}
