ul.nav
  li(ng-class="{active:isActive('projects')}")
    a(href="#projects") Projects
  li(ng-class="{active:isActive('neighbourhoods')}")
    a(href="#neighbourhoods") Neighbourhoods
  li(ng-class="{active:isActive('favorites')}")
    a(href="#favorites") Favorites
  li(ng-class="{active:isActive('notes')}")
    a(href="#notes") Notes