ul.nav
  li(ng-class="{active:isActive('projects')}")
    a(href="{{frontendRoutes.projects}}") Projects
    span ({{projectsArray.length}})
  li(ng-class="{active:isActive('neighbourhoods')}")
    a(href="{{frontendRoutes.neighbourhoods}}") Neighbourhoods
    span ({{neighbourhoodList.length}})
  li(ng-class="{active:isActive('favorites')}")
    a(href="{{frontendRoutes.favorites}}") Favorites
    span ({{favorites.length}})
  li(ng-class="{active:isActive('notes')}")
    a(href="{{frontendRoutes.notes}}") Notes
    span ({{notesList.length}})