.content-row(ng-repeat="mls in selectedResult.mls")
  .mls-info Based on information from {{mls.formal_name}} as of {{mls.up_to_date.toLocaleString() | date : 'MM/dd/yyyy'}}
  .row
    .col-lg-3
      .mls-icon
        img(ng-src="/assets/mlsicons/{{mls.disclaimer_logo}}")
    .col-lg-9
      .mls-disclaimer {{mls.disclaimer_text}}
  .btn.btn-white(ng-show="mls.dcma_contact_name && mls.dcma_contact_address" ng-click="showDCMA(mls)") DCMA for {{mls.formal_name}}
