.header Map Layers
    .button(click ng-click="Toggles.showLayerPanel = !Toggles.showLayerPanel" type="button" class="fa fa-close pull-right" aria-hidden="true")

ul
    //li(ng-click="toggleSold()")
    //    .lp-check-icon(ng:class="{'active' : showSold }")
    //        include ../svg/checkmark.svg
    //        div(class="title") Sold
    //        div(class="colorLegend colorSold")
    //li(ng-click="toggleForSale()")
    //    .lp-check-icon(ng:class="{'active' : showForSale}")
    //        include ../svg/checkmark.svg
    //        div(class="title") For Sale
    //        div(class="colorLegend colorForSale")
    li(ng-click="Toggles.toggleAddresses()")
        .lp-check-icon(ng:class="{'active' : Toggles.showAddresses }")
            include ../svg/checkmark.svg
            div(class="title") Addresses
    li(ng-click="Toggles.togglePrices()")
        .lp-check-icon(ng:class="{'active' : Toggles.showPrices }")
            include ../svg/checkmark.svg
            div(class="title") Prices
    //li(ng-click="toggleStats()")
    //    .lp-check-icon(ng:class="{'active' : showStats }")
    //        include ../svg/checkmark.svg
    //        div(class="title") Statistics
