ui-gmap-map-control(template='map-draw.tpl.html', position='top-right', index='1', controller='RealtyMaps-MapDrawingCtrl')
ui-gmap-free-draw-polygons(polygons='layers.drawnPolys', draw='drawUtil.draw')
  //ng-if='map.drawPolys.isEnabled'