include ../../../common/html/includes/mixins/_spinnerMixin.jade

div(role="navigation").navbar.navbar-inverse.navbar-fixed-top
  .full-width.container
    .navbar-header
      button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-hide.navbar-brand(href="{{frontendRoutes.index}}", ng-hide="$state.is('main')")
        img(rmaps-cdn-image src="/assets/logo.png")
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.navbar-hide(ng-hide="$state.is('main')")
          a(href="{{frontendRoutes.map}}") Map
        li(ng-hide="$state.is('main')")
          +spinnerMixin()(ng-if="Spinner.getLoadingCount() > 0")
      ul.nav.navbar-nav.navbar-right
        li.navbar-float-right(ng-hide="principal.isAuthenticated()", ng-cloak)
          a(ui-sref='login') Sign In
        li.navbar-float-right(ng-show="principal.isAuthenticated()", ng-cloak)
          a(ui-sref='logout') Sign Out
        li.navbar-float-right(ng-show="principal.isAuthenticated()", ng-cloak)
          a(href="{{frontendRoutes.user}}" target="_self") {{user.username}}
        li.navbar-float-right(ng-show="principal.isStaff()", ng-cloak)
          a(href="{{adminRoutes.index}}" target="_self") Admin

