table.table
  thead
    tr
      th Pages:
      th 1
      th 2
      th 3
      th 4
  tbody
    tr
      td Price:
      td {{wizard.mail.getPrice({"pages":1})}}
      td {{wizard.mail.getPrice({"pages":2})}}
      td {{wizard.mail.getPrice({"pages":3})}}
      td {{wizard.mail.getPrice({"pages":4})}}