include ./mixins/result-buttons.jade

.results-container.navbar-below#results-slide(ng-show="Toggles.showResults"
ng-init="resultsInit('results-list')")
  .filters
      span Sort By:
      ul(ng-click="$event.stopPropagation()")
          li(ng-click="formatters.results.getSortClass('bedrooms')") Beds
              span(class="caret {{resultsDescending ? 'desc' : 'asc'}}" ng-class="formatters.results.getSortClass('bedrooms')")
          li(ng-click="formatters.results.setOrReverseResultsPredicate('finished_sqft')") Sq Ft
              span(class="caret {{resultsDescending ? 'desc' : 'asc'}}" ng-class="formatters.results.getSortClass('finished_sqft')")
          li(ng-click="formatters.results.setOrReverseResultsPredicate('year_built')") Year
              span(class="caret {{resultsDescending ? 'desc' : 'asc'}}" ng-class="formatters.results.getSortClass('year_built')")
          li(ng-click="formatters.results.setOrReverseResultsPredicate('price')" ) Price
              span(class="caret {{resultsDescending ? 'desc' : 'asc'}}" ng-class="formatters.results.getSortClass('price')")
  .inner
    #results-list.list(infinite-scroll='formatters.results.loadMore()' infinite-scroll-distance='1' infinite-scroll-container='"#results-list"')
      ul.list
          li(ng-repeat="property in formatters.results.getResultsArray() | orderBy:resultsPredicate:resultsDescending | limitTo:resultsLimit"
              ng-click="formatters.results.click(property,property);showDetails = !showDetails")
              div.property-img
                  span.status(ng-class="formatters.results.getStatusLabelClass(property,true)") {{property.rm_status}}
                  img(ng-cloak ng-src="{{formatters.results.getStreetView(property, 245, 163)}}" title="{{property.title}}")
              p.price(ng-class="formatters.results.getForSaleClass(property,true)") ${{property.price}}
              div.property-attr
                  ul.attr
                      li {{property.bedrooms}} beds
                      li {{property.baths_total}} bath
                      li {{property.finished_sqft}} Sq Ft
                      li {{formatters.results.getYear(property.year_built)}} built
              h4.title(ng-if="property.street_address_num || property.street_address_name || property.street_address_unit",ng-cloak) {{property.street_address_num}} {{property.street_address_name}} {{property.street_address_unit}}

              p.location(ng-if="property.owner_city || property.owner_state") {{formatters.results.getCityStateZip(property,true)}}

              +resultButtons('property')
