div.location-tools
  button.btn.btn-transparent
      span.icon.icon-location
div.zoom-tools
  button.btn.btn-transparent.zoom-in
      span.icon.icon-plus
  button.btn.btn-transparent.zoom-out
      span.icon.icon-minus