<!--Begin Detail Container-->
.navbar-below.detail-container#results-slide(ng-show="showDetails")
    .tray-close-light#detail-close(ng-click="showDetails = !showDetails")
      i.centered.fa.fa-chevron-right.fa-2x
    #detail-list-inner
        #detail-list
            .photo
              img(ng-src="{{resultsFormatter.getStreetView(500,300)}}")
            .info.container
                .row
                    .col-sm-8
                        .address {{selectedResult.street_address_num + " " + selectedResult.street_address_name + " " + selectedResult.street_type }}
                        .city-state-zip {{resultsFormatter.getCityStateZip(selectedResult)}}
                    .col-sm-4
                        .price {{resultsFormatter.getPrice(selectedResult.price)}}
                      .property-status {{selectedResult.rm_status}} <i class="fa fa-square fa-lg" ng-class="resultsFormatter.getForSaleClass(selectedResult)"></i>
                .row.beds-baths-sqft
                    .col-sm-12.detail-section-title Property Info
                    .col-sm-3.beds
                        span.data {{resultsFormatter.orNa(selectedResult.bedrooms)}}
                        span.title Beds
                    .col-sm-3.baths
                        span.data {{resultsFormatter.orNa(selectedResult.baths_total)}}
                        span.title Baths
                    .col-sm-3.sqft
                        span.data {{resultsFormatter.orNa(selectedResult.finished_sqft)}}
                        span.title Sq Ft
                    .col-sm-3.year
                        span.data {{resultsFormatter.orNa(selectedResult.year_built)}}
                        span.title Built
                .row.owner-info
                    .col-sm-12.detail-section-title Owner Info
                    .col-sm-12 {{resultsFormatter.orNa(selectedResult.owner_name)}}
                    .col-sm-12 {{resultsFormatter.orNa(selectedResult.owner_name2)}}
                    .col-sm-12 {{resultsFormatter.getCityStateZip(selectedResult,'owner')}}

                .row.sale-info(ng-if="selectedResult.listing_age_days")
                    .col-sm-12.detail-section-title Historical Sales
                    .col-sm-8( ng-if="selectedResult.listing_age_days" ng-cloak) days listed: {{selectedResult.listing_age_days.days}}
                    .col-sm-8( ng-if="selectedResult.listing_age_full" ng-cloak) {{selectedResult.listing_age_full}}
                    .col-sm-4(ng-if="selectedResult.close_date" ng-cloak) {{selectedResult.close_date.toLocaleString() | date : 'MM/dd/yyyy'}}
                    .col-sm-4(ng-if="selectedResult.close_price" ng-cloak) last sale: {{resultsFormatter.getPrice(selectedResult.close_price)}}
                    .col-sm-4 {{selectedResult.sale2_date.toLocaleString() | date : 'MM/dd/yyyy'}}
                    .col-sm-8 {{selectedResult.sale2_amount}}
                    .col-sm-4 {{selectedResult.sale3_date.toLocaleString() | date : 'MM/dd/yyyy'}}
                    .col-sm-8 {{selectedResult.sale3_amount}}
                    .col-sm-4 {{selectedResult.sale4_date.toLocaleString() | date : 'MM/dd/yyyy'}}
                    .col-sm-8 {{selectedResult.sale4_amount}}
    #results-footer
        .close(click="toggleDetails()") x
<!--End Details Container-->
