.navbar-below.detail-container#results-slide(ng-show="Toggles.showDetails")
    .tray-close-light#detail-close(ng-click="Toggles.toggleDetails()" ng-cloak)
        i.centered.fa.fa-chevron-right.fa-2x
    #detail-list-inner
        #detail-list
            ui-gmap-street-view-panorama.photo(focalcoord="selectedResult.geom_point_json" radius="50")
            .info.container
                .row
                    .col-sm-7
                        .address {{selectedResult.street_address_num}} {{selectedResult.street_address_name}} {{selectedResult.street_address_unit}}
                        //.city-state-zip {{resultsFormatter.getCityStateZip(selectedResult)}}
                        button.snail.btn.btn-primary-outline.btn-xs(ng-click="sendSnail(selectedResult)")
                            i.fa.fa-envelope &nbsp;
                            | Send Mailing
                        button.save-button.btn.btn-default.btn-xs(ng-class="{'label-saved-property':resultsFormatter.isSavedResult(selectedResult)}",rmaps-click="resultsFormatter.clickSaveResultFromList",rmaps-value-name-click="selectedResult") {{resultsFormatter.isSavedResult(selectedResult) ? 'Saved' : 'Save'}}
                    .col-sm-5
                        .price(ng-if="selectedResult.price")
                            span.price-label {{resultsFormatter.getPriceLabel(selectedResult.rm_status)}}&nbsp;
                            | {{resultsFormatter.getPrice(selectedResult.price)}}
                        .below-price
                            .property-status(ng-class="resultsFormatter.getStatusLabelClass(selectedResult,true)") {{selectedResult.rm_status}}
                            .sold-date.info.title(ng-if="resultsFormatter.showSoldDate(selectedResult)") sold: {{selectedResult.close_date.toLocaleString() | date : 'MM/dd/yyyy'}}
                .row.beds-baths-sqft
                    .col-sm-12.detail-section-title Property Info
                .row
                    .col-sm-3(ng-if="selectedResult.bedrooms" ng-cloak)
                        span.data {{resultsFormatter.orNa(selectedResult.bedrooms)}}
                        span.title Beds
                    .col-sm-3(ng-if="selectedResult.baths_total" ng-cloak)
                        span.data {{resultsFormatter.orNa(selectedResult.baths_total)}}
                        span.title Baths
                    .col-sm-3(ng-if="selectedResult.finished_sqft" ng-cloak)
                        span.data {{resultsFormatter.orNa(selectedResult.finished_sqft)}}
                        span.title Sq Ft
                    .col-sm-3(ng-if="selectedResult.year_built" ng-cloak)
                        span.data {{resultsFormatter.getYear(selectedResult.year_built)}}
                        span.title Built
                .row.tool
                    .padding-top-10
                        .col-sm-3(ng-if="selectedResult.acres" ng-cloak)
                            span.data {{resultsFormatter.orNa(selectedResult.acres)}}
                            span.title Acres
                        .col-sm-3(ng-if="selectedResult.land_square_footage" ng-cloak)
                            span.data {{selectedResult.land_square_footage}}
                            span.title Lot SqFt
                        .col-sm-3(ng-if="selectedResult.lot_front_footage" ng-cloak)
                            span.data {{selectedResult.lot_front_footage}}
                            span.title Front Ft
                        .col-sm-3(ng-if="selectedResult.depth_footage" ng-cloak)
                            span.data {{selectedResult.depth_footage}}
                            span.title Depth Ft.

                .row.detailed_description(ng-if="selectedResult.property_information" ng-cloak)
                    .col-sm-12.detail-section-title Description
                    .row
                        .description {{selectedResult.property_information}}

                .row.owner-info(ng-if="selectedResult.owner_name || selectedResult.owner_name2 || selectedResult.owner_name")
                    .col-sm-12.detail-section-title Owner Info
                    div(ng-if="selectedResult.owner_name")
                        .col-sm-4
                            .title {{resultsFormatter.getCurrentOwnersTitle(selectedResult)}}:
                        .col-sm-8
                            .data(ng-if="selectedResult.owner_name") {{selectedResult.owner_name}}
                                span(ng-if="selectedResult.owner_name2")
                                    br/
                                    | {{selectedResult.owner_name2}}
                    div(ng-if="selectedResult.owner_city || selectedResult.owner_state")
                        .col-sm-4
                            .title Address:
                        .col-sm-8
                            div(ng-if="selectedResult.owner_street_address_num || selectedResult.owner_street_address_name" ng-cloak)
                                .data {{selectedResult.owner_street_address_num}} {{selectedResult.owner_street_address_name}} {{selectedResult.owner_street_address_unit}}
                                    br/
                                    | {{resultsFormatter.getCityStateZip(selectedResult,true)}}


                .row.listing-info(ng-if="resultsFormatter.showListingData(selectedResult)")
                    .col-sm-12.detail-section-title MLS Listing Info
                    .row(ng-if="selectedResult.listing_age" ng-cloak)
                        .col-sm-4
                            .title Listed For:
                        .col-sm-8
                            .data {{resultsFormatter.humanizeDays(selectedResult.listing_age) }}
                    .row(ng-if="selectedResult.original_price" ng-cloak)
                        .col-sm-4
                            .title Original Asking Price:
                        .col-sm-8
                            .data {{resultsFormatter.getPrice(selectedResult.original_price)}}
                    .row(ng-if="selectedResult.mls_close_price" ng-cloak)
                        .col-sm-4
                            .title Close Price:
                        .col-sm-8
                            .data {{resultsFormatter.getPrice(selectedResult.mls_close_price)}}
                    .row(ng-if="selectedResult.mls_close_date" ng-cloak)
                        .col-sm-4
                            .title Close Date:
                        .col-sm-8
                            .data
                                span(ng-if="selectedResult.mls_close_date") {{selectedResult.mls_close_date.toLocaleString() | date : 'MM/dd/yyyy'}}
                                span(ng-if="!selectedResult.mls_close_date") N/A

                .row.sale-info(ng-if="resultsFormatter.showSalesData(selectedResult)")
                    .col-sm-12.detail-section-title Historical Sales Info
                    .row(ng-if="selectedResult.mortgage_amount" ng-cloak)
                        .col-sm-4
                            .title Mortgage Amount:
                        .col-sm-8
                            .data {{resultsFormatter.getPrice(selectedResult.mortgage_amount)}}
                    .row.divider(ng-if="selectedResult.mortgage_date" ng-cloak)
                        .col-sm-4
                            .title Mortgage Date:
                        .col-sm-8
                            .data {{selectedResult.mortgage_date.toLocaleString() | date : 'MM/dd/yyyy'}}
                    .row(ng-if="resultsFormatter.showIfDifferentFrom(selectedResult, 'sale', 'mls_close')" ng-cloak)
                        .col-sm-4
                            .title Prior Sale Price:
                        .col-sm-8
                            .data {{resultsFormatter.getPrice(selectedResult.sale_price)}}
                    .row.divider(ng-if="resultsFormatter.showIfDifferentFrom(selectedResult, 'sale', 'mls_close')" ng-cloak)
                        .col-sm-4
                            .title Prior Sale Date:
                        .col-sm-8
                            .data
                                span(ng-if="selectedResult.sale_date") {{selectedResult.sale_date.toLocaleString() | date : 'MM/dd/yyyy'}}
                                span(ng-if="!selectedResult.sale_date") N/A
                    .row(ng-if="resultsFormatter.showIfDifferentFrom(selectedResult, 'prior_sale', 'mls_close') && resultsFormatter.showIfDifferentFrom(selectedResult, 'prior_sale', 'sale')" ng-cloak)
                        .col-sm-4
                            .title Prior Sale Price:
                        .col-sm-8
                            .data {{resultsFormatter.getPrice(selectedResult.prior_sale_price)}}
                    .row.divider(ng-if="resultsFormatter.showIfDifferentFrom(selectedResult, 'prior_sale', 'mls_close') && resultsFormatter.showIfDifferentFrom(selectedResult, 'prior_sale', 'sale')" ng-cloak)
                        .col-sm-4
                            .title Prior Sale Date:
                        .col-sm-8
                            .data
                                span(ng-if="selectedResult.prior_sale_date") {{selectedResult.prior_sale_date.toLocaleString() | date : 'MM/dd/yyyy'}}
                                span(ng-if="!selectedResult.prior_sale_date") N/A
    #results-footer
        i.close.fa.fa-times.fa-3(ng-click="showDetails = !showDetails")
