.filters-container.navbar-below#filters-slide(ng-show="Toggles.showFilters" ng-controller="RealtyMaps-FiltersCtrl")
    .tray-close#filters-close(ng-click="Toggles.showFilters = !Toggles.showFilters")
     i.centered.fa.fa-chevron-left.fa-2x

    .inner
        .row
            .col-sm-12
                .checkbox-inline(ng-repeat="status in filterValues.propertyStatus")
                    input.checkbox(ng-model="selectedFilters[status.value]" type="checkbox" id="{{status.value}}" value="{{status.value}}" class="{{status.value}}")
                    label(for="{{status.value}}") {{ status.label }}

        .row.title Basic Filters
        .row
            .col-sm-6
                .label Beds
                select(ng-model="selectedFilters.bedsMin" ng-options='c.value as c.name for c in filterValues.beds')


            .col-sm-6
                .label Baths
                select(ng-model="selectedFilters.bathsMin" ng-options='c.value as c.name for c in filterValues.baths')

        .row
            .col-sm-6
                .label Price Min
                input(type="text" numeral format="$0,0" ng-model="selectedFilters.priceMin")
            .col-sm-6
                .label Price Max
                input(type="text" numeral format="$0,0" ng-model="selectedFilters.priceMax")
        .row
            .col-sm-6
                .label Sqft Min
                input(type="text" numeral format="0,0" ng-model="selectedFilters.sqftMin")


            .col-sm-6
                .label Sqft Max
                input(type="text" numeral format="0,0" ng-model="selectedFilters.sqftMax")

        .row
            .col-sm-6
                .label Acres Min
                select(ng-model="selectedFilters.acresMin" ng-options='c.value as c.name for c in filterValues.acresValues')


            .col-sm-6
                .label Acres Max
                select(ng-model="selectedFilters.acresMax" ng-options='c.value as c.name for c in filterValues.acresValues')

        .row.title Advanced Filters

        .row
            .col-sm-12
                .label Owner Name
                input(type="text",ng-model="selectedFilters.ownerName")
        .row
            .col-sm-6
                .label Days Listed Min
                select(ng-model="selectedFilters.listedDaysMin" ng-options='c.value as c.name for c in filterValues.listedDays')
            .col-sm-6
                .label Days Listed Max
                select(ng-model="selectedFilters.listedDaysMax" ng-options='c.value as c.name for c in filterValues.listedDays')
        .row(ng-if="principal.isDebugEnvironment()")
            .col-sm-6
                .label Close Price Min
                input(type="text" numeral format="$0,0" ng-model="selectedFilters.closePriceMin")
            .col-sm-6
                .label Close Price Max
                input(type="text" numeral format="$0,0" ng-model="selectedFilters.closePriceMax")
        .row(ng-if="principal.isDebugEnvironment()")
            .col-sm-6
                .label Has Owner
                select(ng-model="$root.selectedFilters.hasOwner" ng-options='c.value as c.name for c in filterValues.hasOwner')