<!--Begin Filters Container-->
.filters-container.navbar-below#filters-slide(ng-show="Toggles.showFilters" ng-controller="RealtyMaps-FiltersCtrl")
    .tray-close#filters-close(ng-click="Toggles.showFilters = !Toggles.showFilters")
    
    .inner
        .row   
            .checkbox-inline(ng-repeat="status in filterValues.propertyStatus")
                input.checkbox(ng-model="$root.selectedFilters[status.value]" type="checkbox" id="{{status.value}}" value="{{status.value}}" class="{{status.value}}")
                label(for="{{status.value}}") {{ status.label }}

        //.row
            .col-sm-12
                .label Beds
                .btn-group(data-toggle="buttons")
                    label.btn.btn-default( ng-repeat="value in filterValues.beds") {{ value }}
                        input(ng-model="$root.selectedFilters.beds" type="radio" name="options" id="option1" value="'{{value}}'")
        .row
            .col-sm-6
                .label Beds
                select(ng-model="$root.selectedFilters.beds" ng-options='c.value as c.name for c in filterValues.beds')


            .col-sm-6
                .label Baths
                select(ng-model="$root.selectedFilters.baths" ng-options='c.value as c.name for c in filterValues.baths')

        .row
            .col-sm-6
                .label Price Min
                input(type="text" currency-input ng-model="$root.selectedFilters.priceMin")
            .col-sm-6
                .label Price Max
                input(type="text" currency-input ng-model="$root.selectedFilters.priceMax")
                    
        .row
            .col-sm-6
                .label Sqft Min
                input(type="text" valid-number ng-model="$root.selectedFilters.sqftMin")


            .col-sm-6
                .label Sqft Max
                input(type="text" valid-number ng-model="$root.selectedFilters.sqftMax")

        .row
            .col-sm-6
                .label Acres Min
                select(ng-model="$root.selectedFilters.acresMin" ng-options='c.value as c.name for c in filterValues.acresValues')


            .col-sm-6
                .label Acres Max
                select(ng-model="$root.selectedFilters.acresMax" ng-options='c.value as c.name for c in filterValues.acresValues')



<!--End Filters Container-->