<!--Begin Filters Container-->
.filters-container.navbar-below#filters-slide(ng-show="showFilters" ng-controller="RealtyMaps-FiltersCtrl")
    .tray-close#filters-close(ng-click="showFilters = !showFilters")
    
    .inner
        .property-status   
            .checkbox-inline(ng-repeat="status in filterValues.propertyStatus")
                .label {{ status.label }}
                input(ng-model="$root.selectedFilters.status[status.value]" type="checkbox" id="propertyStatusCheckbox" value="'{{status.value}}'")

        //.row
            .col-sm-12
                .label Beds
                .btn-group(data-toggle="buttons")
                    label.btn.btn-default( ng-repeat="value in filterValues.beds") {{ value }}
                        input(ng-model="$root.selectedFilters.beds" type="radio" name="options" id="option1" value="'{{value}}'")
        .row
            .col-sm-6
                .label Beds
                select(ng-model="$root.selectedFilters.beds" ng-options='c.value as c.name for c in filterValues.beds')


            .col-sm-6
                .label Baths
                select(ng-model="$root.selectedFilters.baths" ng-options='c.value as c.name for c in filterValues.baths')

        .row
            .col-sm-6
                .label Price Min
                input(currency-input ng-model="$root.selectedFilters.priceMin")
            .col-sm-6
                .label Price Max
                input(currency-input ng-model="$root.selectedFilters.priceMax")
                    
        .row
            .col-sm-6
                .label Sqft Min
                input(valid-number ng-model="$root.selectedFilters.sqftMin")


            .col-sm-6
                .label Sqft Max
                input(valid-number ng-model="$root.selectedFilters.sqftMax")

        .row
            .col-sm-6
                .label Acres Min
                select(ng-model="$root.selectedFilters.acresMin" ng-options='c.value as c.name for c in filterValues.acresMin')


            .col-sm-6
                .label Acres Max
                select(ng-model="$root.selectedFilters.acresMax" ng-options='c.value as c.name for c in filterValues.acresMax')



<!--End Filters Container-->