<!--Begin Filters Container-->
.filters-container.navbar-below#filters-slide(ng-show="showFilters")
    .tray-close#filters-close(ng-click="showFilters = !showFilters")
    .bedrooms Bedrooms
        .btn-toolbar(role="toolbar")
            .btn-group(role="group")
                button.btn.btn-success(type="button") 1+
                button.btn.btn-success(type="button") 2+
                button.btn.btn-success(type="button") 3+
                button.btn.btn-success(type="button") 4+
                button.btn.btn-success(type="button") 5+
                button.btn.btn-success(type="button") 6+

    .baths Baths
        .btn-toolbar(role="toolbar")
            .btn-group(role="group")
                button.btn.btn-success(type="button") 1+
                button.btn.btn-success(type="button") 2+
                button.btn.btn-success(type="button") 3+
                button.btn.btn-success(type="button") 4+
                button.btn.btn-success(type="button") 5+
                button.btn.btn-success(type="button") 6+
<!--End Filters Container-->