ui-gmap-map-control(template='map-draw.tpl.html', position='top-right', index='1', controller='RealtyMaps-MapDrawingCtrl')
ui-gmap-free-draw-polygons(ng-if='drawPolys.isEnabled' polygons='map.queryPols', draw='map.draw')