.toolbar
    .layer-panel(ng-show="showLayerPanel" id="layers-slide" ng-cloak)
        .header Map Layers
            .button(click ng-click="showLayerPanel = !showLayerPanel" type="button" class="close close-sm" aria-hidden="true") &times;
        
        //- TODO: hook up checkmark functionality
        
        ul
            li(ng-click="toggleSold()")
                .lp-check-icon(ng:class="{'active' : showSold }")
                    include ../svg/checkmark.svg
                    div(class="title") Sold
                    div(class="colorLegend colorSold")
            li(ng-click="toggleForSale()")
                .lp-check-icon(ng:class="{'active' : showForSale}")
                    include ../svg/checkmark.svg
                    div(class="title") For Sale
                    div(class="colorLegend colorForSale")
            li(ng-click="toggleHouseNumbers()")
                .lp-check-icon(ng:class="{'active' : showAddresses }")
                    include ../svg/checkmark.svg
                    div(class="title") Addresses
            li(ng-click="togglePrices()")
                .lp-check-icon(ng:class="{'active' : showPrices }")
                    include ../svg/checkmark.svg
                    div(class="title") Prices
            li(ng-click="toggleStats()")
                .lp-check-icon(ng:class="{'active' : showStats }")
                    include ../svg/checkmark.svg
                    div(class="title") Statistics


     .toolbar-layer-icon.icon(ng-click="showLayerPanel = !showLayerPanel" ng:class="{'active' : selectedNav=='filters' }" tool-tip placement="right" title="Layers")
        include ../svg/layers.svg
        .toolbar-label Layers

    .toolbar-filters-icon.icon(ng-click="toggleNav('filters')" ng:class="{'active' : selectedNav=='filters' }" tool-tip placement="right" title="Criteria")
        include ../svg/criteria.svg
        .toolbar-label Filters

    .toolbar-results-icon.icon(ng-click="showResults = !showResults" ng:class="{'active' : selectedNav=='results' }" tool-tip placement="right" title="Results List")
        include ../svg/results.svg
        .toolbar-label Results

    .toolbar-location-icon.icon(findme="" ng:class="{'active' : map.showFollowMe }" tool-tip placement="right" title="My Location")
        include ../svg/location.svg
        .toolbar-label Find Me

    .toolbar-zoomin-icon.icon(ng-click="map.changeZoom(+1)" tool-tip placement="right" title="Zoom In")
        include ../svg/zoom_in.svg
        .toolbar-label Zoom In

    .toolbar-zoomout-icon.icon(ng-click="map.changeZoom(-1)" tool-tip placement="right" title="Zoom Out")
        include ../svg/zoom_out.svg
        .toolbar-label Zoom Out

    .toolbar-zoomout-icon.icon(ng-click="save()" tool-tip placement="right" title="Save Map")
        include ../svg/save.svg
        .toolbar-label Save

    .toolbar-zoomout-icon.icon(ng-click="email()" data-toggle="modal" data-target="#emailMap" tool-tip placement="right" title="Email Map")
        include ../svg/email.svg
        .toolbar-label Email

    .toolbar-zoomout-icon.icon(ng-click="print()" tool-tip placement="right" title="Print Map")
        include ../svg/print.svg
        .toolbar-label Print