.toolbar
    .layer-panel(ng-show="Toggles.showLayerPanel" id="layers-slide" ng-cloak)
        include ./layers-tray.jade

     .toolbar-layer-icon.icon(ng-click="Toggles.showLayerPanel = !Toggles.showLayerPanel" ng:class="{'active' : selectedNav=='filters' }" tool-tip placement="right" title="Layers")
        include ../svg/layers.svg
        .toolbar-label Layers

    .toolbar-filters-icon.icon(ng-click="Toggles.showFilters = !Toggles.showFilters" ng:class="{'active' : selectedNav=='filters' }" tool-tip placement="right" title="Criteria")
        include ../svg/criteria.svg
        .toolbar-label Filters

    .toolbar-results-icon.icon(ng-click="Toggles.toggleResults()" ng:class="{'active' : selectedNav=='results' }" tool-tip placement="right" title="Results List")
        include ../svg/results.svg
        .toolbar-label Results

    .toolbar-zoomout-icon.icon(ng-click="Toggles.toggleSearch(true)" tool-tip placement="right" title="Search Bar")
        include ../svg/search.svg
        .toolbar-label Search Bar

    .toolbar-location-icon.icon(ng-click="Toggles.toggleLocation()" findme="" ng:class="{'active' : showFollowMe }" tool-tip placement="right" title="My Location")
        .sk-spinner.sk-spinner-double-bounce(ng-if="Toggles.isFetchingLocation")
          .sk-double-bounce1
          .sk-double-bounce2
        div(ng-if="!Toggles.isFetchingLocation")
          include ../svg/location.svg
        .toolbar-label Find Me

    .toolbar-zoomin-icon.icon(ng-click="changeZoom(+1)" tool-tip placement="right" title="Zoom In")
        include ../svg/zoom_in.svg
        .toolbar-label Zoom In

    .toolbar-zoomout-icon.icon(ng-click="changeZoom(-1)" tool-tip placement="right" title="Zoom Out")
        include ../svg/zoom_out.svg
        .toolbar-label Zoom Out

    //- TODO: hook up to drag-zoom - fix icon hover    
    .toolbar-zoomout-icon.icon(tool-tip placement="right" title="Zoom Area")
        include ../svg/zoom_area.svg
        .toolbar-label Zoom Area

    .toolbar-zoomout-icon.icon(ng-click="save()" tool-tip placement="right" title="Save Map")
        include ../svg/save.svg
        .toolbar-label Save

    .toolbar-zoomout-icon.icon(ng-click="email()" data-toggle="modal" data-target="#emailMap" tool-tip placement="right" title="Email Map")
        include ../svg/email.svg
        .toolbar-label Email

    .toolbar-zoomout-icon.icon(ng-click="print()" tool-tip placement="right" title="Print Map")
        include ../svg/print.svg
        .toolbar-label Print
