div(role="navigation").navbar.navbar-inverse.navbar-fixed-top
  .full-width.container
    .navbar-header
      button(type="button",data-toggle="collapse",data-target=".navbar-collapse").navbar-toggle
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="{{frontendRoutes.index}}", ng-hide="hide-nav").navbar-brand
        img(src="/assets/logo.png")
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-hide="hide-nav")
          a(href="{{frontendRoutes.map}}") Map
        li(ng-if="loadingCount > 0")
          //- .centered.sk-spinner.sk-spinner-rotating-plane
          //- .sk-spinner.sk-spinner-wandering-cubes
          //-   .sk-cube1
          //-   .sk-cube2
          .sk-spinner.sk-spinner-double-bounce 
            .sk-double-bounce1
            .sk-double-bounce2
          //- .sk-spinner.sk-spinner-cube-grid
          //-   .sk-cube
          //-   .sk-cube
          //-   .sk-cube
          //-   .sk-cube
          //-   .sk-cube
          //-   .sk-cube
          //-   .sk-cube
          //-   .sk-cube
          
        li(ng-hide="principal.isAuthenticated()", ng-cloak).navbar-right
          a(href="{{frontendRoutes.login}}") Sign In
        li(ng-show="principal.isAuthenticated()", ng-cloak).navbar-right
          a(href="{{frontendRoutes.logout}}") Sign Out
