div(role="navigation").navbar.navbar-inverse.navbar-fixed-top
  .full-width.container
    .navbar-header
      button(type="button",data-toggle="collapse",data-target=".navbar-collapse").navbar-toggle
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-hide(href="{{frontendRoutes.index}}", ng-hide="$state.is('main')").navbar-brand
        img(src="/assets/logo.png")
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.navbar-hide(ng-hide="$state.is('main')")
          a(href="{{frontendRoutes.map}}") Map
        li(ng-hide="$state.is('main')")
          include ./spinner.jade
        li(ng-hide="principal.isAuthenticated()", ng-cloak).navbar-right
          a(href="{{frontendRoutes.login}}") Sign In
        li(ng-show="principal.isAuthenticated()", ng-cloak).navbar-right
          a(href="{{frontendRoutes.logout}}") Sign Out
