<!--Begin Results Container-->
.results-container.navbar-below#results-slide(ng-show="Toggles.showResults")
    .tray-close#results-close(ng-click="Toggles.showResults = !Toggles.showResults")
     i.centered.fa.fa-chevron-right.fa-2x
    #results-list-inner
        #results-header
            div(id="results-header-results-count-arrow")
            div(id="results-header-results-count")
                .ng-cloak {{layers.filterSummary.length}} Results
            div(id="results-header-right")
                span Sort by {{ showDetails }} |
                .btn-group
                    button(id="results-sort-beds", class="btn btn-default btn-xs", ng-click="predicate = 'beds'; reverse=true") Beds
                    button(id="results-sort-sqft", class="btn btn-default btn-xs", ng-click="predicate = 'living_area'; reverse=true") Sq Ft
                    button(id="results-sort-sqft", class="btn btn-default btn-xs", ng-click="predicate = 'year_built'; reverse=true") Year
                    button(id="results-sort-price", class="btn btn-default btn-xs", ng-click="predicate = 'display_price'; reverse=true") Price
        #results-list(infinite-scroll='resultsFormatter.loadMore()' infinite-scroll-distance='1' infinite-scroll-container='"#results-list"')
            div(ng-repeat="result in results")
                .card.animated.slide-down( id="l-el{{result.rm_property_id}}" ng-click="showDetails = !showDetails")
                    //.result-arrow
                        .box Sold
                        .arrow
                    .photo()
                        .sold
                            img(src="{{resultsFormatter.getCurbsideImage(result)}}")
                    .info
                        .address {{result.street_address_num + " " + result.street_name + " " + result.street_type + " " + result.street_ord }}
                        .price {{resultsFormatter.getPrice(result.price)}}
                            .property-status(ng-class="resultsFormatter.getForSaleClass(result)") {{result.rm_status}}
                        div
                            .beds
                                span.data {{resultsFormatter.orNa(result.bedrooms)}}
                                span.title Beds
                            .baths
                                span.data {{resultsFormatter.orNa(result.baths_total)}}
                                span.title Baths
                            .sqft
                                span.data {{resultsFormatter.orNa(result.finished_sqft)}}
                                span.title Sq Ft
                            .year
                                span.data {{resultsFormatter.orNa(result.year_built)}}
                                span.title Year
                    .c
                        //button.btn.btn-default.btn-xs(style="z-index:100000000000000" selectMe="selectedCard") Save

        #results-footer
            .close(ng-click="toggleNav('map')") x
<!--End Results Container-->
