div(ng-if="Spinner.getLoadingCount() > 0")
  //- .centered.sk-spinner.sk-spinner-rotating-plane
  //- .sk-spinner.sk-spinner-wandering-cubes
  //-   .sk-cube1
  //-   .sk-cube2
  .sk-spinner.sk-spinner-double-bounce
    .sk-double-bounce1
    .sk-double-bounce2
  //- .sk-spinner.sk-spinner-cube-grid
  //-   .sk-cube
  //-   .sk-cube
  //-   .sk-cube
  //-   .sk-cube
  //-   .sk-cube
  //-   .sk-cube
  //-   .sk-cube
  //-   .sk-cube
