.page-header
  color $textColor

input.btn.btn-primary
  color $textColor
/*
set all page h tag overrides
*/
color $textColor

main

  $fnSetHeaders($black)

.navbar-brand
  padding 5px 10px;
  img
    height 100%

/*global*/
.container-fluid
  @media (max-width: xs-1)
    padding 0 10px

/*dropdowns*/

.dropdown
  display inline-block

  &.open
    z-index 99
    .dropdown-menu
      @extends .slideFromTop
      &.blueArrow
        @extends .fallDown

@-moz-document url-prefix()
  .dropdown
    &.open
      perspective 500px

.dropdown-menu
  background-color $dark_blue
  background $dark_blue
  box-shadow 0 0 0 $black_0
  color $white
  border none
  margin-top 15px
  width 100%
  overflow hidden
  &.right
    right 0
    left inherit
    width auto

  &.arrow
    overflow visible

    &:before
      content ''
      width 0
      height 0
      border-style solid
      border-width 0 10px 10px 10px
      border-color transparent transparent $dark_blue transparent
      position absolute
      top -9px
      right 22px

    &.blueArrow
      padding-top 0

      &:before
        border-style solid
        border-width 0 10px 10px 10px
        border-color transparent transparent $dark_blue transparent

  li
    border-bottom 1px solid $dark_blue_active
    &:last-child
      border none
    a
      padding 5px 20px
      color $gray
      text-transform capitalize
      &:hover
      &:focus
        background $dark_blue_active
        color $white
  &.no-margin
    margin 0
  &.whiteblock
    background-color $white
    background $white
    color $text_gray
    padding 0
    border-radius 0px 0px 3px 3px
    box-shadow 0 2px 2px $black_30
    overflow visible
    li
      border-bottom 1px solid $gray_lighter
      &:last-child
        border 0
      a
        color $dark_blue
        &:hover
        &:focus
          background $light_blue_select

  &.white
    background-color $white
    background $white
    box-shadow 0px 1px 2px $black_20
    color $black

  &.btnblock
    background transparent
    li
      border none
      margin-bottom 20px

/*Buttons*/
button
  &:hover
    .caret
      border-top-color $light_blue
  &:hover
  &:active
  &:focus
    outline none!important

  i
    margin 5px


.caret
  border-left 8px solid transparent
  border-right 8px solid transparent
  border-top 8px dashed
  display inline-block
  height 0
  margin-left 2px
  margin-top -5px
  position: absolute
  right 20px
  top 50%
  width 0
  z-index 10

  &:hover
    border-top-color $light_blue

.btn
  border none
  &:hover
  &:focus
    border none
  &.btn-primary
    background-color $light_blue
    border 1px solid $blue

    &:hover
    &:focus
      background-color $blue

  &.btn-default
    background-color $def_btn_gray
    border 1px solid $def_btn_gray_border

  &.btn-white
    background $white
    border 1px solid $black_20
    &.active
    &:hover
    &:active, &:active > *
      box-shadow 0 0 0 $black_0
      background $light_blue
      color $white
      border-color $blue


  &.btn-transparent
    background-color $white_90
    border-radius 3px;
    box-shadow 0px 1px 2px $black_70
    color $rm-map-btn-icon

    &:hover
    &:active
      background $white
      z-index 0

  &.btn-selected
    background $white
    border 1px solid $light_blue
    color $light_blue
    &.active
    &:hover
    &:active
      box-shadow 0 0 0 $black_0
      background $light_blue
      color $white
      border-color $blue

  &.btn-forsale
    background $rm_forsale
    border 1px solid $rm_forsale
    color $white

  &.btn-pending
    background $rm_pending
    border 1px solid $rm_pending
    color $white

  &.btn-sold
    background $rm_sold
    border 1px solid $rm_sold
    color $white

  &.btn-offmarket
    background $rm_notforsale
    border 1px solid $rm_notforsale
    color $white

  &.btn-inactive
    background $white
    border 1px solid $gray_lighter
    color $gray

    &:before
      background-color transparent
      border-radius 2px
      color $white
      content ""
      bottom 5px
      left 5px
      position: absolute
      top 5px
      right 5px
      z-index 0
      transform scale(.2)

    &[aria-expanded="true"]
    &.active
      color $white!important
      position relative

      span
        position relative
      &:before
        background-color $light_blue
        transform scale(1)

  &.btn-stamp
    width 100%
    line-height 600%
    border 1px dashed $gray_lighter
    background-color $dark_white
    color $gray
    border-radius 3px
    &:hover
    &:focus
      color $light_blue

  &.btn-filter
    background none
    color $gray
    min-width auto
    margin 5px 10px
    padding 3px 0
    border-radius 0px
    border-bottom 2px solid $white_0
    &:hover
    &:focus
      color $light_blue
    &.active
      border-bottom 2px solid $light_blue
      box-shadow 0px 0px 0px $black_0
      color $black
      font-weight bold

  &.btn-text
    min-width 1px
    &.active
      background-color $light_blue
      color $white
      box-shadow 0 0 0 $white_0
      border 1px solid $blue

  &.btn-icon
    background 0 none
    border-radius 0

  &.btn-circle
    background-color $black_10
    border-radius 10000px
    font-size 0
    min-width 0
    width 40px
    height 40px
    padding 5px
    float left
    display block
    box-shadow 0px 0px 1px $black
    margin-right 10px

    &.active
      border 4px solid $light_blue

    &.color-black
      background-color $black
    &.color-blue
      background-color blue
    &.color-green
      background-color green
    &.color-red
      background-color red
    &.color-yellow
      background-color yellow
    &.color-white
      background-color $white


.btn
  &:hover
    .icon
      color $light_blue

  &.toggle-active
    position relative

    .icon
      position relative
      z-index 999

    &:before
      content ''
      position absolute
      background-color $dark_blue
      left 3px
      top 3px
      right 3px
      bottom 3px
      border-radius 3px
      opacity 0
      transform scale(0)

    &[aria-expanded="true"]
      .icon
        color $white !important

      &:before
        opacity 1
        transform scale(1)

      &:after
        content ''
        width 0
        height 0
        border-style solid
        border-width 0 10px 10px 10px
        border-color transparent transparent $dark_white transparent
        position absolute
        bottom -16px
        right 14px
        z-index 1001

.btn-group
  .btn
    min-width 0px

.row
  &.equal-height
    display table
    width 100%
    div[class*="col-"]
      display table-cell
      float none

ul.nav-tabs
  margin-bottom 50px
  li
    margin 0
    a
      border none
      margin 0
      border-bottom 4px solid $white_0
      color $gray
      font-size 16px
      &:hover
      &:focus
        border none
        border-bottom 4px solid $light_blue
        background none

    &.active
      a
        border none
        border-bottom 4px solid $light_blue
        &:hover
        &:focus
          border none
          border-bottom 4px solid $light_blue
          background none

  &.nav-justified
    li
      margin 0
      a
        border none
        margin 0
        border-bottom 4px solid $white_0
        border-radius 0px
        &:hover
        &:focus
          border none
          border-bottom 4px solid $light_blue
          background none

      &.active
        a
          border none
          border-bottom 4px solid $light_blue
          &:hover
          &:focus
            border none
            border-bottom 4px solid $light_blue
            background none
    &:after
      content ''
      border-bottom 1px solid $gray_lighter
      width 100%
      margin 0 -15px
form
  .btn
    min-width 120px

  .form-section
    overflow hidden
    margin-bottom 20px
    border-top 1px solid $gray_lighter
    padding 10px

p.required
.required:after
    content "*"
    color red
p.required
  font-size 10px

.btn-group
  .btn
    &.btn-transparent
      border-right 1px solid $black_10
      &:last-child
        border 0 none

  &.open
    .dropdown-toggle
      background $white
      box-shadow 0px 1px 2px $black_40

      .caret
        transform rotate(180deg)

.pageTitle
  color $light_blue
  font-weight normal
  margin-bottom 10px

.white-page
  for num in (1...7)
    h{num}
      @extends .pageTitle

  .page-header
    color $light_blue

  label, input
    color $black

.popover
  @extends .font-museo-500
  color $black
  font-size 11px
  max-width none
  border-radius 2px
  border 0 none
  box-shadow 0 1px 3px $black_30

  &.top
    margin-top -20px
    > .arrow
      border-top-color $black_10

      &:after
        margin-left -9px
        bottom 2px

  &.right
    margin-left 20px
    > .arrow
      border-right-color $black_10

      &:after
        margin-left 1px
        bottom -9px

  &.left
    margin-right  20px
    > .arrow
      border-left-color $black_10

      &:after
        right 2px
        bottom -9px

  &.bottom
    margin-bottom 20px
    > .arrow
      border-bottom-color $black_10

      &:after
        margin-left -9px
        top 2px

.modal-backdrop
  background-color $black_50

label
  font-weight 300
  font-size 14px

.minus
  &:before
    content ''
    width 4px
    background-color $text_gray
    height 1px
    display block
    position absolute
    left -3px
    margin 16px 0


// CLT 2016-01-12: commenting out due to issues with mobile modals and inconsistency of modal behavior in Firefox
//@-moz-document url-prefix()
//  .modal
//    &.in
//    .modal-dialog
//      transform translateY(-50%) !important
//      top 50%

.modal-title, .modal-content, .modal-body, .modal-footer
  color $text_gray

  h1, h2, h3, h4, h5, h6, h7, span, p, div
    color $text_gray
    &.tooltip
      z-index 1060
      .tooltip-inner
        color $white

.modal
  .modal-dialog
    .modal-content
      box-shadow 0px 2px 6px $black_10
      border-radius 0px
      border 0 none
      border-top 3px solid $light_blue
      padding 0 20px 20px
      .modal-header
        padding 10px 0
        display table
        width 100%
        .modal-title
          font-weight normal
          display table-cell
          width 100%
          margin-right 40px
        .icon-close
          cursor pointer
          display table-cell
          font-size 20px
          float right
      .modal-body
        padding 10px 0
        overflow auto
      .modal-footer
        border 0 none
        padding 10px 0

select:-moz-focusring
  color transparent
  text-shadow 0 0 0 #000

.radio-inline
  div.select
    display inline-block

div.select
  position relative
  &:before
    background-color $white
    border-radius 3px
    content ""
    height 32px
    position absolute
    pointer-events none
    right 1px
    top 1px
    width 32px
    z-index 0

  &:after
    z-index 1
    content ''
    position absolute
    top 0
    right 0
    width 0
    height 0
    pointer-events none
    border-left 4px solid transparent
    border-right 4px solid transparent
    border-top 4px solid $black
    margin 16px

  &:hover
    &:after
      border-top 4px solid $light_blue

table.table
   .noborder
     td
        border 0 none
/*
Place for our custom Theming of bootstrap

- If you need to use @extend on bootstrap then use bootstrap.less
- If you need to use stylus variables and override/ theme bootstrap, then do so here
*/
.table
  margin-bottom 0px

.table-hover > tbody > tr:hover
  background-color: rgb(50,118,177,.90)
  color: $rm-results-hover
.panel
  background: #FFF
  margin 0
  border-radius 0
  border none

.panel > .panel-heading
  background-color $rm-medium-blue
  border none
  font-size 14px
  border-radius 0
  padding 5px 10px

.panel > .panel-body
  background #FFF
  color #000
  padding 5px
  font-size 12px
  border 1px solid rgb(157,157,157)

.panel p
  margin 0px 0px 0px 0px
.panel > .panel-body > .table tr,
.panel > .panel-body > .table td
  border-top: 1px solid rgba(0, 0, 0, 0.08)
  section > p
    display inline-block
  section > p+p /* NEXT P is margined from left to give right space*/
    margin-left 10px

.btn-primary-outline
    border-color #ccc
    color #428bca
    background-color #FFF
    &:hover
      border-color #428bca
      color #FFF
      background-color #428bca
    .fa
      color inherit


/* END Nav Bar */

.panel > .panel-heading

  &.label-saved-property
  /.label-saved-property
    background-color $rm_saved
    color $white
    &:before
      border-color $rm_saved transparent transparent $rm_saved !important

  &.label-sale-property
  /.label-sale-property
  &.label-forsale-property
  /.label-forsale-property
    background-color $rm-property-sale-green
    color $white
    &:before
      border-color $rm-property-sale-green transparent transparent $rm-property-sale-green !important

  &.label-sold-property
  /.label-sold-property
    background-color $rm-property-sold-red
    color #FFF !important
    &:before
      border-color $rm-property-sold-red transparent transparent $rm-property-sold-red !important

  &.label-pending-property
  /.label-pending-property
    background-color $rm-highlight-purple
    color #FFF !important
    &:before
      border-color $rm-highlight-purple transparent transparent $rm-highlight-purple !important

  &.label-notsale-property
  /.label-notsale-property
    background-color $rm_notforsale
    color #FFF !important
    &:before
      border-color $rm_notforsale transparent transparent $rm_notforsale !important

for num in 75 80 85 90 95 100
  .modal-{num}
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: unit(num,'%');
    height: unit(num,'%');

.modal-fullscreen
  @extends .modal-100
