//
// Property Status Colors
//

$rm_forsale = $green
$rm_pending = $violet
$rm_sold = $red
$rm_notforsale = $teal
$rm_saved = $yellow
$rm_forsale_hover = $transparent_green
$rm_pending_hover = $dark_violet
$rm_sold_hover = $dark_red
$rm_notforsale_hover = $dark_teal
$rm_saved_hover = #AA1
$rm_forsale_darker = $dark_green
$rm_pending_darker = $dark_violet
$rm_sold_darker = $dark_red
$rm_notforsale_darker = $darker_teal
$rm_saved_darker = $dark_yellow

$rm_status_on_background = $white

//
// Property Attributes
//

$rm_attribute_light = $text_gray
$rm_attribute_lighter = $text_gray_lighter
$rm_attribute_lightest = $text_gray_lightest

$rm_unpinned_color = $gray
$rm_pinned_color = $light_blue

//
// Map Buttons
//

$rm-map-btn-icon = $charcoal
$rm-map-btn-icon-hover = $light_blue
$rm-map-btn-active = $dark_blue

//
// Header Icons
//

$rm-header-icon = $white
$rm-header-text = $white

//
// Menu color scheme
//

$rm-menu-icon = $white
$rm-menu-label = $white
$rm-menu-caption = $gray_medium
$rm-menu-badge = $white
$rm-menu-alert = $light_blue

//
// Borders
//

$rm-border-line = $gray_medium

//
// Modals
//

$rm-mobile-modal-background = $white

//
// Items
//

$rm-item-border = $rm-border-line
$rm-item-divider-bg = $gray_lighter
