//
// Property Status Colors
//

$rm_forsale = $green
$rm_pending = $violet
$rm_sold = $red
$rm_notforsale = $gray_light
$rm_saved = $yellow
$rm_forsale_hover = $transparent_green
$rm_pending_hover = $dark_violet
$rm_sold_hover = $dark_red
$rm_notforsale_hover = $gray
$rm_saved_hover = #AA1
$rm_forsale_darker = $dark_green
$rm_pending_darker = $dark_violet
$rm_sold_darker = $dark_red
$rm_notforsale_darker = $gray_darker
$rm_saved_darker = $dark_yellow
$rm_favorite = $red_logo

$rm_status_on_background = $white

//
// Property Attributes
//

$rm_attribute_light = $text_gray
$rm_attribute_lighter = $text_gray_lighter
$rm_attribute_lightest = $text_gray_lightest

$rm_unpinned_color = $gray
$rm_pinned_color = $light_blue

$rm_note = $yellow
$rm_mail = $yellow

//
// Content Blocks
//

$rm-content-label = $text_gray_lightest

//
// Map Buttons
//

$rm-map-btn-icon = $charcoal
$rm-map-btn-icon-hover = $light_blue
$rm-map-btn-active = $dark_blue

$rm-link = $light_blue

//
// Header Icons
//

$rm-header-icon = $white
$rm-header-text = $white
$rm-header-disabled = $gray_darker
$rm-header_separators = $gray_darker

//
// Menu color scheme
//

$rm-menu-icon = $white
$rm-menu-label = $white
$rm-menu-caption = $gray_light
$rm-menu-badge = $white
$rm-menu-alert = $light_blue

//
// Borders
//

$rm-border-line = $gray_lighter

//
// Modals
//

$rm-mobile-modal-background = $gray_lightest

//
// Items
//

$rm-item-border = $rm-border-line
$rm-item-divider-bg = $gray_lighter

//
// Settings (Mobile)
//

$rm-mobile-settings-value-color = $light_blue
$rm-mobile-settings-header-color = $black
$rm-mobile-settings-label-color = $light_blue
$rm-mobile-settings-control-color = $gray_lighter

//
// Sliders
//

$rm-slider-bar-color = $gray_lighter
$rm-slider-bar-selected-color = $light_blue
$rm-slider-handle-color = $gray_lighter

//
// Notifications & Messages
//

$rm-message-success = $success
$rm-message-warning = $warning
$rm-message-error = $dark_red
$rm-current-location = $pulse_blue
$rm_macro_error = $light_red
$rm_macro_success = $light_blue_50
$rm_highlight_success = $yellow_true
$rm-status-warning = $dark_red

//
// Map Sketch Labels
//
$rm-sketch-label-background = $dark_blue
$rm-sketch-label-text = $white

//
// Corner Close X
//
$rm-corner-close = $gray
$rm-corner-close-hover = $gray_darkest
