
$rm_test_black = $black_90
$rm_test_bg = $rm_test_black
$rm_sold = $red
$rm_pending = $violet
$rm_forsale = $green
$rm_notforsale = $teal
$rm_sold_hover = $dark_red
$rm_pending_hover = $dark_violet
$rm_forsale_hover = $transparent_green
$rm_notforsale_hover = $dark_teal
$rm-highlight-yellow = $yellow
$rm-property-save-yello = $rm-highlight-yellow
$rm-saved-hover = #AA1
$rm-map-btn-icon = $charcoal
$rm-map-btn-icon-hover = $light_blue
$rm-map-btn-active = $dark_blue
$rm-header-icon = $white

//
// Menu color scheme
//

$rm-menu-icon = $white
$rm-menu-label = $white
$rm-menu-caption = $gray_medium
$rm-menu-badge = $white

//
// Borders
//

$rm-border-line = $gray_medium
