$rm_test_black = #111

// color names approximated via http://ingridsundberg.com/2014/02/04/the-color-thesaurus/
$red = #FF4A4A
$violet = #8C3DAA
$green = #1FDE12
$teal = #45A0D9

$dark_red = #A33
$dark_violet = #537
$dark_green = #191
$dark_teal = #379

/*Colours of the template*/

c_white             = #fff

c_black             = #000

$c_dark_blue_darker  = #12171a

c_dark_blue         = #20292d

c_dark_blue_active  = #373f42

c_blue              = #35a7e0

c_light_blue        = #5ec9ff

c_pastel_blue       = #e7f7ff

c_dark_white        = #f9f9f9

c_darker_white      = #e0e0e0

c_light_blue_select = #f7fcff

c_gray              = #969ea8

c_gray_ligther      = #dbdee1

c_brown             = #252525


c_inactive          = #cccccc

c_success           = #00bd71

c_warning           = #ffbc71

c_danger            = #F2DEDD

c_info              = #d9edf7


c_yellow            = #ffb700

c_green             = #00bd71

c_red               = #f84a4a


c_text_gray         = #333

c_text_gray_lighter = #666

c_def_btn_gray      = #eee

c_def_btn_gray_border = #bbb

c_white_0           = rgba(255,255,255,0 )

c_white_10          = rgba(255,255,255,.1 )

c_white_20          = rgba(255,255,255,.2 )

c_white_30          = rgba(255,255,255,.3 )

c_white_40          = rgba(255,255,255,.4 )

c_white_50          = rgba(255,255,255,.5 )

c_white_60          = rgba(255,255,255,.6 )

c_white_70          = rgba(255,255,255,.7 )

c_white_80          = rgba(255,255,255,.8 )

c_white_90          = rgba(255,255,255,.9 )


c_black_0           = rgba(0,0,0,0 )

c_black_10          = rgba(0,0,0,.1 )

c_black_20          = rgba(0,0,0,.2 )

c_black_30          = rgba(0,0,0,.3 )

c_black_40          = rgba(0,0,0,.4 )

c_black_50          = rgba(0,0,0,.5 )

c_black_60          = rgba(0,0,0,.6 )

c_black_70          = rgba(0,0,0,.7 )

c_black_80          = rgba(0,0,0,.8 )

c_black_90          = rgba(0,0,0,.9 )
