/* Set some basic rules */

@import "./responsive"

.verticle-center
  position absolute
  top 50%
  transform: translateY(-50%)

#toast-container
  position absolute
  color $textColor

.toast-info
  background-color $dark_blue

html, body
  min-height: 100% !important
  width 100%

body
  @extends .font-museo-500
  line-height: 1.428571429
  padding-top: $navbarHeight
  background $dark_blue_darker

html
  //cursor default
  background $dark_blue_darker
  font: $mainFont
  // @extends .font-regular

a, a:hover
  text-decoration none

a:hover:not(href)
  cursor pointer

.pointer
  cursor: pointer

.not-allowed
  cursor: not-allowed

h1.logo
  margin 0 35px 0 5px
  float left
  @media (max-width: xs-1)
    margin 0 20px 0 0
  a.logo
    font-size 0px
    background url('/assets/logo_white_sm.png') no-repeat center center transparent
    width 155px
    height 44px
    display block

p
  font-size 16px
  font-weight 200
  line-height 24px

.propertyMarker
  box-sizing border-box
  background #05F24C
  box-shadow 2px 2px 4px #333
  border 5px solid #346FF7
  height 20px
  width 20px
  border-radius 10px
  $fnMakeAnimation(pulse 1s ease 1s 3)

.mobile-page
  background $dark_blue_darker
  position absolute
  z-index 1
  left 0
  top 0
  width 100%
  height 100%

//@media screen and (-webkit-min-device-pixel-ratio:0)
//  .site-main
//    .inner
//      perspective 2000px

.site-main
  position absolute
  background-color $white
  height "calc(100% - %s)" % $navbarHeight
  overflow auto
  color $text_gray

  label, input, .page-header
    color $white

  /*when properties details*/
  &.show-properties
    #content
      //@extends .growUp
      background-color $white

  #content
    padding-top 47px
    width 100%
    height 100%
    overflow auto
    display block
    position absolute
    left 0
    top 0
    background-color $white
    //@extends .moveToDown

.inline
  display: inline-block

.tool
  for num in (1..200)
    .padding-top-{num}
      padding-top: unit(num, px)

.padding-left-5
  padding-left: 5px

.centered
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)

.center-on-page
  position absolute
  top 25%
  bottom 0
  left 0
  right 0
  margin auto

.centered-horizontal
  @extends .centered
  top:0px;
  transform:translate(-0%,-0%)

.starter-template
    padding: 40px 15px
    text-align: center


#side-nav-container
    position:absolute
    left:0


/* PAGES
============================================================================= */
.map-container
.page-container
  bottom:0
  position:absolute
  top:$navbarHeight
  width:100%

.map-container
  z-index: $rm-map-zindex

.page-container
  z-index: $rm-page-zindex

checkbox(size)
  input[type=checkbox]
    width: 1px
    height: 1px
    z-index: -1
    opacity: 0
    position: absolute
    top: -1
    left: -1
    & + label
      padding-left: size+5px
      height: size
      display: inline-block
      cursor: pointer
      background: url(/assets/sprites.png) no-repeat 0 0
    &:checked + label
      background: url(/assets/sprites.png) no-repeat 0 -24px

form.comfy
  color: #DDD
  input[type=text]
  input[type=tel]
  input[type=email]
  input[type=password]
  input[type=submit]
  input[type=button]
  select
    padding: 8px
    color: black
    width: 100%
    height: 35px
    border-radius 5px
    border: 2px solid #AAA
  input[type=submit],
  input[type=button]
    background-color: grey
    color: white
    padding: 2px 6px 3px
    border: 0
    font-size: 16px
    &:hover
      background-color: #666
    &[disabled=disabled]
      background-color: #556
      color: #777
      &:hover
        background-color: #556
        color: #777
  label
    font-size: 16px
    font-weight: normal
  .checkbox-replace
    checkbox(24px)
  .help-block
    color: #BBB

.spacer
  margin-top: 25px

$fnTextOverflow(dimension)
  white-space: nowrap
  overflow-{dimension}:hidden !important
  text-overflow: ellipsis
  if dimension == x
    width: 100%
  else
    height: 100%
  display: inline-block

.text-overflow-x
  $fnTextOverflow(x)

.text-overflow-y
  $fnTextOverflow(y)


.text-wrap, .text-overflow-x:hover, .text-overflow-y:hover
  overflow:auto !important
  white-space: initial
  text-overflow: initial

.position
  position: relative

/*http://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best*/
$fnClearfix()
  zoom:1; /* For IE 6/7 (trigger hasLayout) */

  &:before
  &:after
    content:"";
    display:table;

  &:after {
    clear:both;
  }

for num in 5 10 15 20 25 30 35 40 45 50
  for where in left right top bottom
    .{where}-margin-{num}
      margin-{where} unit(num,'px')

$fnFooter()
  width: 100%
  background: $dark_blue
  height: $footerHeight
  position: absolute
  bottom: 0px

$fnFooterClose()
  float: right
  font-size: 45px
  font-weight: 100
  line-height: 1
  color: #FFFFFF
  text-shadow: 0 1px 0 #ffffff
  opacity: 1.0
  margin-right: 50px

.slide-out-container
  margin: 0 0 0 0px
  position: absolute
  height $slideoutHeight
  width: 100%
  z-index: $rm-slider-zindex
  top: 0px
  background-color: $dark_blue
  bottom: 0
  right: 0

$fnRevertToolbarPadding()
  padding: 0px 0px 0px 0px

$fnSetHeaders(someColor)
  for num in (1...7)
    h{num}
      color comeColor

.noselect
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

$fnDisabled()
  color $gray_lighter
  cursor not-allowed
