.leaflet-div-icon
  background-color:transparent
  border:none

.leaflet-popup-content
  background-color:transparent
  margin:0px

.leaflet-popup-tip-container
  display:none

.leaflet-top, .leaflet-right, .leaflet-bottom, .leaflet-left
  z-index 3

.leaflet-bottom .leaflet-control
  margin-bottom 30px
