.leaflet-div-icon
  background-color:transparent
  border:none

.leaflet-popup-content
  background-color:transparent
  margin:0px

.leaflet-popup-tip-container
  display:none

.leaflet-top, .leaflet-right, .leaflet-bottom, .leaflet-left
  z-index 3

.leaflet-bottom .leaflet-control
  margin-bottom 30px

.leaflet-marker-icon
  .circle-nr
    height 100%
    width 100%
    span
      height 100%
      width 100%
      font-size 14px
      line-height 30px//matchxs icon height


.leaflet-draw
  display inline-block
//   .leaflet-draw-section
//     display inline-block
//   a
//     display inline-block

// .leaflet-draw-toolbar a
// 	background-image url('images/spritesheet-2x.png')
// 	background-size 270px 30px;
