@require 'variables'
@require 'color_palate'
@require 'color_scheme'
@require 'common'
@require 'bootstrap'
@require 'spinkit'
@require 'fontawesome'
@require 'piechart'
@require 'views/*'
@require 'leaflet'


@import "mayday/normalize"
@import "mayday/vars"
@import "mayday/color_palette"
@import "mayday/animations"
@import "mayday/misc"
@import "mayday/burgericon"
@import "mayday/bootstrap"
@import "mayday/icons"

@import "mayday/base"
@import "mayday/pages/map"
@import "mayday/pages/mail"
@import "mayday/pages/history"
@import "mayday/pages/content"

@import "mayday/pages/content/neighbourhoods"
@import "mayday/pages/content/neighbourhoods-list"
@import "mayday/pages/content/projects"
@import "mayday/pages/content/notes"
@import "mayday/pages/content/favorites"
@import "mayday/pages/content/properties"
@import "mayday/pages/content/create-new-email"

@import "mayday/pages/add/addproject"
@import "mayday/pages/add/addnote"
