
@import 'variables'
@import 'color_palatte'
@import 'rwd'
@import 'animations'
@import 'misc'
@import 'color_scheme'

@import 'includes/table-view'

@import 'common'
@import 'mayday/normalize'

@import 'mayday/burgericon'
@import 'mayday/icons'

@import 'mayday/pages/map'
@import 'mayday/pages/mail'
@import 'mayday/pages/history'
@import 'mayday/pages/content'

@import 'mayday/pages/content/neighbourhoods'
@import 'mayday/pages/content/projects'
@import 'mayday/pages/content/notes'
@import 'mayday/pages/content/favorites'
@import 'mayday/pages/content/properties'
@import 'mayday/pages/content/create-new-email'

@import 'mayday/pages/add/addproject'
@import 'mayday/pages/add/addnote'

@import 'spinkit'
@import 'piechart'
@import 'views/*'
@import 'leaflet'


@import 'bootstrap'
