@import "./fonts/museo_sans.styl"

.font-regular
  @extends .font-museo-500;

/*misc*/

.notice-dot-blue
  position relative
  &:before
    @extends .grow
    content ''
    height 11px
    margin-top -12px
    position absolute
    right -2px
    top 50%
    width 11px
    border 2px solid $dark_blue
    border-radius 100%
    background $light_blue

.circle-nr
  span
    background-color $black
    border-radius 500px
    color $white
    display block
    font-size 10px
    font-weight bold
    height 20px
    line-height 20px
    text-align center
    width 20px

.underline
  border-bottom 1px solid $gray_lighter
  padding 10px 0
  margin 0
  display block

.pathway
  border-bottom 1px solid $gray_lighter
  margin-bottom 20px
  text-align center
  overflow hidden
  ul
    list-style none
    padding 0
    margin 10px 0
    li
      display inline-block
      line-height 24px
      color $text_gray_lighter

      &.active
        color $light_blue
      &:after
        color $black
        content '>'
        display inline-block
        font-size 12px
        vertical-align top
        padding 0 5px
        margin-left 5px
        line-height 24px
      &:last-child
        &:after
          display none

.modalSendEmailHtml

  .select-recipients

  .select-template

    ul.templates-list
      list-style none
      padding 0
      margin 0
      overflow hidden
      li
        float left
        width 33.333%
        text-align center
        margin 0 0 20px 0
        cursor pointer
        border 2px solid $white_0
        background-color $white_0
        overflow hidden
        border-radius 10px
        padding 10px

        .template-img
          background-image url(../img/base/template_img.png)
          background-repeat no-repeat
          background-position center
          width 100%
          height 145px
          display block
          opacity .75
          margin-bottom 10px

        .template-title
          font-weight bold
        &:hover
        &:focus
          border 2px solid $light_blue
          background-color $light_blue_select
          .template-img
            opacity 1

  .letter-edit

  .letter-confirm
    .confirm-box
      overflow hidden
      .confirm-template-img
        background-image url(../img/base/email_confirm_img.png)
        background-position center top
        background-repeat no-repeat
        display block
        width 50%
        height 380px
        float left
      .confirm-details
        width 50%
        float left
        padding-left 20px
  .mail-sent-container
    .mail-sent
      padding-top 40px
      .mail-sent-img
        background-image url(../img/base/mail_sent_img.png)
        background-repeat no-repeat
        background-position center center
        display block
        width 100%
        height 220px
      .mail-sent-msg
        text-align center
        padding 10px 0
      .continue
        text-align center
        margin-bottom 40px
        button
          min-width 180px

  .select-recipients
  .select-template
  .letter-edit
  .letter-confirm
  .mail-sent-container
    display none
    &.active
      display block

// google maps searchbox
.pac-container
  width 300px !important
