@import "components/shapes.styl"

.menu-slide.ng-hide-remove
  $fnMakeAnimation(slideInLeft 0.15s both ease-in)

.menu-slide.ng-hide-add
  $fnMakeAnimation(slideOutLeft 0.15s both ease-in)

$menu-header-height = 30px
$menu-footer-editor-height = 93px
$menu-footer-viewer-height = 129px

#mobile-nav
  position absolute
  z-index $rm-mobile-nav-zindex
  left 0
  top 0
  width "calc(100% - %s)" % mobileNavOffset
  max-width 400px
  min-width 250px
  height 100%
  color $rm-menu-icon
  background $dark_blue_darker
  @extends .font-museo-500

  .inner
    position relative
    height 100%

  #mobile-nav-header
    position absolute
    top 0
    left 0
    right 0
    height $menu-header-height

    .closeicon
      position: absolute;
      top: 0;
      right: 0;
      width: 44px;
      height: 44px;
      cursor: pointer;
      color $rm-menu-icon

      &:hover
        color $rm-menu-icon

      i
        margin: 10px 5px 0 0;
        font-size: 18px;
        line-height: 44px;

  #mobile-nav-content
    position absolute
    top $menu-header-height
    left 0
    right 0
    bottom $menu-footer-editor-height
    overflow-y auto
    overflow-x hidden
    padding-top 30px

  .menu-options
    margin-bottom 20px
    margin-top 20px

  .project-select
    border-bottom solid 1px $rm-border-line

  h1.logo
    display block
    width 100%
    margin-bottom 30px
    margin-left 15px
    float none

  .icon
    margin-right 12px
    font-size 16px
    vertical-align bottom

  .menu-label
    color c_gray
    font-size 16px
    font-weight normal

  .count
    float right
    margin-right 10px
    font-size 16px

  .project-name
    display: inline-block;
    width: calc(100% - 105px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

  .change-project
    position absolute
    top 0
    right 10px
    font-size 12px

  ul.nav
    padding 0 10px 0 16px
    width 100%
    border-bottom 1px solid c_gray

    &.project-select
      padding-bottom 5px

    li
      a
        padding 10px

        &:hover
        &:focus
          background-color inherit
          color $rm-menu-icon

      span.new
        color $light_blue
        text-transform uppercase
        margin-left 5px
        font-size 10px

      &.active
        a
          color $rm-menu-icon

  #client-header
    padding 30px 20px 16px 25px
    border-top solid 1px $rm-border-line

  ul.nav.clients
    padding: 0 10px 0 10px;

  .client
    margin-bottom: 10px;

  .client-initials
    circle(40px)
    float left
    background-color: $rm-menu-caption;
    color: white;

  .client-email, .client-name
    padding: 4px 0 0 55px;
    font-size: 13px;

  .client-more
    text-align center
    margin-top 10px
    font-size 12px

  .bottom
    position absolute
    left 0
    right 0
    bottom 0
    height $menu-footer-editor-height
    border-top solid 1px $rm-border-line
    background-color $dark_blue_darker
    padding 10px 0

  &.is-viewer
    .bottom
      height $menu-footer-viewer-height

// Overlay on map when Mobile menu is open
#mobile-page-overlay
  display block
  position fixed
  top 0
  left 0
  height 100%
  width 100%
  z-index $rm-mobile-nav-zindex - 1
  background-color rgba(0,0,0,0.4)
