#mobile-nav
  position fixed
  z-index 10000
  left 0
  top 0
  width "calc(100% - %s)" % mobileNavOffset
  max-width 400px
  min-width 250px
  height 100%
  background $dark_blue_darker

  .inner
    position relative

    h1.logo
      display block
      width 100%
      margin 0 0 0 20px

    ul.nav
      padding 40px 10px
      float left
      width 100%
      border-bottom 1px solid c_gray
      li
        a
          text-transform capitalize
          span.conut
            float right
          &.projects
          &.properties
          &.notes
          &.neighbourhoods
          &.favorites
            position relative

        a
          color c_white_50
          padding 10px

          *
            @extends .global-transition

          .icon
            font-size 16px
            vertical-align bottom
          .label
            color c_gray
            font-size 16px
            font-weight normal

          &:hover
          &:focus
            background c_black_20
            color $white

            .label
              color $white

        span.new
          color $light_blue
          text-transform uppercase
          margin-left 5px
          font-size 10px

        &.active
          a
            color $white

  .bottom
    position fixed
    left 0
    right 60px
    bottom 0
    padding 10px 15px 10px 15px
    a
      color $white_50
      text-decoration none
      position relative
      &:hover
      &:focus
        background $black_20
        color $white
        text-decoration none

    a
      line-height 40px
      display block
      padding 0 10px 0 40px
      text-transform capitalize
      &.settings
        &:before
          content ''
          position absolute
          top 0
          left 0
          display block
          width 40px
          height 40px
          background url('/assets/base/icons/settings_icon_mobile.png') no-repeat center center
      &.realtor
        padding 0 10px 0 0

        .tiny-avatar
          float left
          display block
          width 30px
          height 30px
          margin-right 10px

// Overlay on map when Mobile menu is open
.mobile-page.on
  .page-map
    &:after
      content ""
      display block
      position fixed
      top 0
      left 0
      height 100%
      width 100%
      z-index 10
      background-color rgba(0,0,0,0.4)