@require 'color_scheme'

/* pie cluster number */
.marker-cluster-pie-label
  font-size: 18px
  font-weight: bold
  font-family: sans-serif
  color: black

$newCategory(c_color)
  fill: c_color
  stroke: #000
  background: c_color
  border-color: #000

/* pie arc categories */
.category-pending
  $newCategory($rm_pending)

.category-for-sale
  $newCategory($rm_forsale)

.category-not-for-sale
  $newCategory($rm_notforsale)

.category-sold
  $newCategory($rm_sold)

.category-saves
  $newCategory($rm_saved)

.pieClassGrouped
  position absolute
  right -29px
  top -61px
  circle
    fill $gray
  .marker-cluster-pie-label
    fill $white
    font-size 14px
