@require 'color_scheme'

/* pie cluster number */
.marker-cluster-pie-label
  font-size: 18px
  font-weight: bold
  font-family: sans-serif
  color: black

/* pie arc categories */
.category-pending
  fill: $rm_pending
  stroke: #000
  background: $rm_pending
  border-color: #000

.category-for-sale
  fill: $rm_forsale
  stroke: #000
  background: $rm_forsale
  border-color: #000

.category-not-for-sale
  fill: $rm_notforsale
  stroke: #000
  background: $rm_notforsale
  border-color: #000

.category-sold
  fill: $rm_sold
  stroke: #000
  background: $rm_sold
  border-color: #000

.pieClassGrouped
  circle
    fill $gray
  .marker-cluster-pie-label
    fill $white
    font-size 14px
