$skBgColor=white

.sk-spinner-rotating-plane.sk-spinner {
  background: $skBgColor;
  margin: 10px;
}

.sk-spinner-cube-grid .sk-cube{
  background:$skBgColor;
}

.sk-spinner-wandering-cubes.sk-spinner .sk-cube1{
  background:$skBgColor;
}

.sk-spinner-wandering-cubes.sk-spinner .sk-cube2{
  background:$skBgColor;
}

.sk-double-bounce {
  margin 0px auto
}

.sk-double-bounce .sk-double-bounce1, .sk-double-bounce .sk-double-bounce2{
  background-color:$skBgColor;
  margin:5px;
}
