@require 'color_scheme'

/*Bootstraps breakpoints*/

xs-1      = 767px

xs        = 768px

s-1       = 991px

s         = 992px

md-1      = 1199px

md        = 1200px

//
// Z-INDEX values
//

$rm-map-zindex = 0
$rm-map-tools-zindex = 10
$rm-page-zindex = 100
$rm-header-zindex = 320
$rm-modal-zindex = 300
$rm-modal-header-zindex = 310
$rm-mobile-nav-zindex = 320
$rm-alert-zindex = 400

// Relative Z-INDEX values

$rm-slider-zindex = 3

//
// Header
//

mobileNavOffset = 60px;

//
// Color Variables
//

/* Set color variables */
$rmMainDarkBlue = #313145
$rm-medium-blue = #0062a0
$rm-medium-blue-dark = #2B72BE
$rm-medium-blue-darker = #123d74
$rm-light-gray = #EBEBEB
$rm-highlight-green = #1fde12
$rm-highlight-blue = #45a0d9
$rm-highlight-purple = #8C3DAA
$rm-translucent-white = rgba(255,255,255, .5)
$rm-translucent-grey = rgba(153, 153, 153, 0.79)

/* standard parcel colors */
$rm-property-sale-green = $rm_forsale
$rm-property-sold-red = $rm_sold
$rm-property-notsale-blue = $rm_notforsale
$rm-property-pending-purple = $rm_pending
$rm-sale-hover = $rm_forsale_hover
$rm-sold-hover = $rm_sold_hover
$rm-pending-hover = $rm_pending_hover
$rm-notsale-hover = $rm_notforsale_hover

$rm-btn-save-yellow = #FFFE90
$rm-marker-border = rgba(49, 49, 69, 0.6)
$rm-results-hover = #c4c4c4


$avatarRadius = 50px

$textColor = white

$mainFont = "Helvetica Neue",Helvetica,Arial,sans-serif

$navbarHeight = 50px
$navbarInnerHeight = $navbarHeight - 3
$slideoutHeight = 96%
$footerHeight = 50px
$toolBarMobileLeftPadding = 65px

$logoHeight = 150px
