@require 'color_scheme'

/*Bootstraps breakpoints*/

xs-1      = 767px

xs        = 768px

s-1       = 991px

s         = 992px

md-1      = 1199px

md        = 1200px

//xs
//@media (max-width: xs-1)

//s
//@media (min-width: xs), (max-width: s-1)

//md
//@media (min-width: s), (max-width: md-1)

//lg
//@media (min-width: md)

/*Mobiler right padding when menu is opened */

mobileNavOffset = 60px;

/* Set color variables */
$rmMainDarkBlue = #313145
$rm-medium-blue = #0062a0
$rm-medium-blue-dark = #2B72BE
$rm-medium-blue-darker = #123d74
$rm-light-gray = #EBEBEB
$rm-highlight-green = #1fde12
$rm-highlight-blue = #45a0d9
$rm-highlight-purple = #8C3DAA
$rm-highlight-yellow = #EFEE50
$rm-translucent-white = rgba(255,255,255, .5)
$rm-translucent-grey = rgba(153, 153, 153, 0.79)
$rm-property-save-yello = $rm-highlight-yellow

/* standard parcel colors */
$rm-property-sale-green = $rm_forsale
$rm-property-sold-red = $rm_sold
$rm-property-notsale-blue = $rm_notforsale
$rm-property-pending-purple = $rm_pending
$rm-sale-hover = $rm_forsale_hover
$rm-sold-hover = $rm_sold_hover
$rm-pending-hover = $rm_pending_hover
$rm-notsale-hover = $rm_notforsale_hover

$rm-btn-save-yellow = #FFFE90
$rm-marker-border = rgba(49, 49, 69, 0.6)
$rm-results-hover = #c4c4c4

$rm-saved-hover = #AA1

$avatarRadius = 50px

$textColor = white

$mainFont = "Helvetica Neue",Helvetica,Arial,sans-serif

$navbarHeight = 50px
$slideoutHeight = 96%
$footerHeight = 50px
$toolBarMobileLeftPadding = 65px

$logoHeight = 150px
