body
    height: 100%
    width: 100%
    background: rm-main-dark-blue
    font: mainFont
    overflow: hidden

.center-on-page
  position absolute
  top navbar-height
  bottom 0
  left 0
  right 0
  margin auto

.center-content
  text-align: center

.page
    bottom: 0
    position: absolute
    top: navbar-height
    width: 100%
    background: rm-main-dark-blue
    color: textColor
