// /* Set some basic rules */
// .tool
//   for num in (1..200)
//     .padding-top-{num}
//       padding-top: unit(num, px)

// .padding-left-5
//   padding-left: 5px

// .centered
//   position:relative;
//   top:50%;
//   left:50%;
//   transform:translate(-50%,-50%)

// .center-on-page
//   position absolute
//   top -(navbar-height)
//   bottom 0
//   left 0
//   right 0
//   margin auto

body
    height: 100%
    width: 100%
    background: rm-main-dark-blue
    font: mainFont
    overflow: hidden

// /* Move down content because we have a fixed navbar */
// body
//     padding-top: navbar-height

// .starter-template
//     padding: 40px 15px
//     text-align: center


// #side-nav-container
//     position:absolute
//     left:0


// /* PAGES
// ============================================================================= */
// .page
//     bottom:0
//     position:absolute
//     top:navbar-height
//     width:100%
//     background: rm-main-dark-blue
