.adminWorkspace
  color: $textColor
  margin: auto

.adminPage
  bottom: 0
  top: 50px
  width: 80%
  margin: auto

.float-left
  float left

.float-right
  float right

.max-width
  width: 100%

.not-allowed
  cursor: not-allowed
