@require '../../map/styles/variables'
@require '../../map/styles/animations'
@require '../../map/styles/misc'
@require '../../map/styles/common'
@require '../../map/styles/bootstrap'
@require '../../map/styles/spinkit'
@require '../../map/styles/views/home'
@require 'admin'
@require 'views/*'
