.leaflet-container
  @extends .font-museo-500

.leaflet-div-icon
  background-color:transparent
  border:none

.leaflet-editing-icon
  background-color $white
  border 1px solid #666
  width 16px !important
  height 16px !important

.leaflet-popup-content
  background-color:transparent
  margin 0
  p
    margin 0

.leaflet-popup-tip-container
  display:none

.leaflet-top, .leaflet-right, .leaflet-bottom, .leaflet-left
  z-index 3

.leaflet-bottom
  margin-bottom 25px
  .leaflet-control
    &:last-child
      margin-bottom 0px
  &.leaflet-right
    margin-bottom 0px !important

.leaflet-marker-icon
  &.textlabel
    width 200px !important
    height 100px !important

    overflow auto !important

    .textlabel-text
      font-size 16px
      font-weight bold

  .circle-nr
    height 100%
    width 100%
    span
      height 100%
      width 100%
      font-size 14px
      line-height 30px//matches icon height

.leaflet-circled-marker
  font-size 50px
  .path2
    color white

.leaflet-arrow-marker
  font-size 50px
  &.blue
    color $rm-medium-blue
  &.yellow
    color rgb(242, 205, 12)

@import './leafletDraw'
