.leaflet-container
  @extends .font-museo-500

.leaflet-div-icon
  background-color:transparent
  border:none

.leaflet-editing-icon
  background-color $white
  border 1px solid #666
  width 16px !important
  height 16px !important

.leaflet-popup-content
  background-color:transparent
  margin 0
  p
    margin 0

.leaflet-popup-tip-container
  display:none

.leaflet-top, .leaflet-right, .leaflet-bottom, .leaflet-left
  z-index 3

.leaflet-bottom
  margin-bottom 25px
  .leaflet-control
    &:last-child
      margin-bottom 0px
  &.leaflet-right
    margin-bottom 0px !important

.leaflet-marker-icon
  .circle-nr
    height 100%
    width 100%
    span
      height 100%
      width 100%
      font-size 14px
      line-height 30px//matchxs icon height

.notes-popup
  min-width 250px
  min-height 200px
  padding 10px

@import './leafletDraw'
